<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>后台</title>
  <link rel="stylesheet" href="/pubpage/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/pubpage/components/umeditor/utf8-jsp/themes/default/css/umeditor.min.css">
  <link rel="stylesheet" href="../view/css/home.css">
  <link rel="stylesheet" href="./view/css/SellerCenter.css"></head>
<body ng-controller="MainCtrl">
  <div class="main-loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <div class="main-con">
    <header class="navbar navbar-static-top docs-nav" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a ui-sref="index" class="navbar-brand">
            <!-- 卖家中心 -->{{'SELLER_CENTER' | translate}}</a>
        </div>
        <nav class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active" ng-repeat="menu in menus">
              <a ng-if="'zh' != lang" ui-sref="{{menu.path}}" ng-bind="menu.titleEn"></a>
              <a ng-if="'zh' == lang" ui-sref="{{menu.path}}" ng-bind="menu.title"></a>

            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-visible="userInfo">
            <li>
              <select style="margin-top:10px;" ng-model="lang" ng-change="switchLange(lang)">
                <option value="en">English</option>
                <option value="zh">简体中文</option>
              </select>
            </li>
            <li>
              <a ui-sref="index" ng-bind="userInfo.username"></a>
            </li>
            <li>
              <a ng-click="logout()">
                <!-- 退出 -->{{'LOG_OUT' | translate}}</a>
            </li>
          </ul>
        </nav>

      </div>
    </header>

    <div ui-view ng-class="slide"></div>
  </div>
  <!-- build:js static/js/vendor.js-->
  <script src="/pubpage/components/requirejs/require.js"></script>
  <script src="./config.js"></script>
  <!-- endbuild -->
</body>
</html>