<div class="oms-crumbs"> <i>添加活动</i>
    <p>
        <a href="">活动管理</a> /
        <span>添加活动</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-detail">
        <form id="editActivityform" class="form-group-main">
            <!-- 活动名称 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 活动名称
                </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec mr0" name="eventTitle" id="eventTitle" placeholder="" ng-model="activityInfo.eventTitle" />
                </div>
            </div>
            <!-- 活动类型 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 活动类型
                </label>
                <div class="col-sm-10 radio">
                    <label class="w200">
                        <input type="radio" name="eventType" value="1" ng-selected="true" ng-model="activityInfo.eventType">线上</label>
                    <label class="w200">
                        <input type="radio" name="eventType" value="2" ng-model="activityInfo.eventType">线下</label>
                </div>
            </div>
            <!-- 行业限制 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    行业限制
                </label>
                <div class="col-sm-10 checkbox">
                    <label class="w200" ng-repeat="item in vm.firCategories">
                        <input type="checkbox" name="categoryId{{item.categoryId}}" value="{{item.categoryId}}" ng-model="item.$checked">{{item.categoryName}}</label>
                </div>
            </div>
            <!-- 套餐限制 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="activityInfo.eventType==1">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    套餐限制
                </label>
                <div class="col-sm-10 checkbox">
                    <label class="w200" ng-repeat="item in vm.memPackageList">
                        <input type="checkbox" name="packageTypeId{{item.packageTypeId}}" value="{{item.packageTypeId}}" ng-model="item.$checked">{{item.packageName}}</label>
                </div>
            </div>
            <!-- 参展限制 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="activityInfo.eventType==1">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    参展限制
                </label>
                <div class="col-sm-10 checkbox">
                    <label class="w200">
                        <input type="checkbox" name="limitExhibition" value="1" ng-model="activityInfo.limitExhibition">有参展</label>
                </div>
            </div>
            <!-- 活动费用 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 活动费用
                </label>
                <div class="col-sm-10 radio">
                    <label class="w200">
                        <input type="radio" name="eventExpenseStatus" value="1" ng-model="activityInfo.eventExpenseStatus">免费</label>
                    <label class="">
                        <input type="radio" name="eventExpenseStatus" value="2" ng-model="activityInfo.eventExpenseStatus">收费</label>
                    <input ng-if="activityInfo.eventExpenseStatus==2" name="eventExpense" type="text" class="input-cfec" ng-model="activityInfo.eventExpense">
                </div>
            </div>
            <!-- 活动描述 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 活动描述
                </label>
                <div class="col-sm-10 radio">
                    <textarea ngc-umeditor ng-model="activityInfo.eventDesc" name="eventDesc" id="eventDesc" class="textarea-cfec" style="width:600px;height:300px;"></textarea>
                </div>
            </div>
            <!-- 活动描述 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="activityInfo.eventType==1">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    素材模板
                </label>
                <div class="col-sm-10 radio">
                    <button class="btn btn-cfec-white" type="button" class="btn btn-cfec-white" value="上传" ngf-select ngf-change="tools.uploadImg($files)" accept="'image/*'">上传附件</button>
                    <a ng-href="{{vm.imgUrl+activityInfo.uploadTemp}}" target="_blank">{{activityInfo.uploadTempName}}</a>
                </div>
            </div>
            <!-- 素材类型 (1店铺2商品) -->
            <div class="form-group formgroup-cfec-inline row" ng-if="activityInfo.eventType==1">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span>素材类型
                </label>
                <div class="col-sm-10 checkbox">
                    <label class="w200">
                        <input type="checkbox" name="materialOfProduct" id="materialOfProduct" ng-click="tools.checkMaterialType('materialOfShop');" value="1" ng-model="vm.materialOfProduct">产品</label>
                    <label class="w200">
                        <input type="checkbox" name="materialOfShop" id="materialOfShop" ng-click="tools.checkMaterialType('materialOfProduct');" value="2" ng-model="vm.materialOfShop">店铺</label>
                </div>
            </div>
            <!-- 参与活动商家数限制 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    参与活动商家数限制
                </label>
                <div class="col-sm-10">
                    <input type="number" class="input-cfec" name="limitJoinCount" placeholder="" ng-model="activityInfo.limitJoinCount" />
                </div>
            </div>
            <!-- 单用户数量限制 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="activityInfo.eventType==1">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    单用户数量限制
                </label>
                <div class="col-sm-10">
                    <input type="number" class="input-cfec" name="limitSingleUser" placeholder="" ng-model="activityInfo.limitSingleUser" />
                </div>
            </div>
            <!-- 报名时间 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span>报名时间
                </label>
                <div class="col-sm-10">
                    <input ngc-lay-date istime format="YYYY-MM-DD hh:mm" type="text" class="laydate-icon" ng-model="activityInfo.applyTimeStart" id="applyTimeStart" name="applyTimeStart" max-date="{{activityInfo.applyTimeEnd}}" ng-required placeholder="开始日期" />
                    <span class="text-inline">至</span>
                    <input ngc-lay-date istime format="YYYY-MM-DD hh:mm" type="text" class="laydate-icon" ng-model="activityInfo.applyTimeEnd" id="applyTimeEnd" name="applyTimeEnd" min-date="{{activityInfo.applyTimeStart}}" placeholder="结束日期" ng-required/>
                </div>
            </div>
            <!-- 活动时间 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span ng-if="activityInfo.eventType==2">*</span>活动时间
                </label>
                <div class="col-sm-10">
                    <input ngc-lay-date istime format="YYYY-MM-DD hh:mm" type="text" class="laydate-icon" ng-model="activityInfo.eventTimeStart" id="eventTimeStart" name="eventTimeStart" max-date="{{activityInfo.eventTimeEnd}}" ng-required placeholder="开始日期" />
                    <span class="text-inline">至</span>
                    <input ngc-lay-date istime format="YYYY-MM-DD hh:mm" type="text" class="laydate-icon" ng-model="activityInfo.eventTimeEnd" id="eventTimeEnd" name="eventTimeEnd" min-date="{{activityInfo.eventTimeStart}}" placeholder="结束日期" ng-required/>
                </div>
            </div>
            <!-- 活动地点 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="activityInfo.eventType==2">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    活动地点
                </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec" name="eventAddress" placeholder="" ng-model="activityInfo.eventAddress" />
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"></label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-cfec-red" ng-disabled="vm.btnFlag" ng-click="tools.saveInfo();">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>