<div class="oms-crumbs"> <i>活动报名审核</i>
    <p>
        <a href="">活动管理</a> /
        <span>活动报名审核</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">活动类型</label>
                <select name="" id="" class="select-oms" ng-model="vm.paging.eventType">
                    <option value="">-活动类型-</option>
                    <option value="1">线上</option>
                    <option value="2">线下</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">活动名称:</label>
                <input type="text" ngc-monitor-enter class="input-cfec" ng-model="vm.paging.eventTitle" placeholder="活动名称">
            </div>
            <div class="form-group fl">
                <label for="">报名日期</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.applyTimeStart" id="applyTimeStart" max-date="{{vm.paging.applyTimeEnd}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.applyTimeEnd" id="applyTimeEnd" min-date="{{vm.paging.applyTimeStart}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group fl">
                <label for="">活动日期</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.eventTimeStart" id="eventTimeStart" max-date="{{vm.paging.eventTimeEnd}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.eventTimeEnd" id="eventTimeEnd" min-date="{{vm.paging.eventTimeStart}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="vm.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="vm.reset();">重&nbsp置</button>
            </div>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <!-- 全部 -->
                <colgroup>
                </colgroup>
                <thead>
                    <tr>
                        <th>活动名称</th>
                        <th>报名时间</th>
                        <th>活动时间</th>
                        <th>活动类型</th>
                        <th>费用</th>
                        <th>创建时间</th>
                        <th>参加数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.list.length">
                    <tr ng-repeat='item in vm.list'>
                        <td>
                            <p>{{item.eventTabloidsId}}</p>
                            {{item.eventTitle}}</td>
                        <td>
                            <p> {{item.applyTime | date:'yyyy-MM-dd HH:mm'}} <span ng-if="item.applyTimeEndDb">到</span> {{item.applyTimeEndDb | date:'yyyy-MM-dd HH:mm'}}</p>
                        </td>
                        <td>
                            <p> {{item.eventTime | date:'yyyy-MM-dd HH:mm'}} <span ng-if="item.eventTimeEndDb">到</span> {{item.eventTimeEndDb | date:'yyyy-MM-dd HH:mm'}}</p>
                        </td>
                        <td>{{item.eventType==1?'线上':'线下'}}</td>
                        <td>{{item.eventExpense?item.eventExpense:'免费'}}</td>
                        <td>
                            <p> {{item.createTime | date:'yyyy-MM-dd'}}</p>
                            <p> {{item.createTime | date:'HH:mm:ss'}}</p>
                        </td>
                        <td>{{item.applyCount2}}</td>
                        <td>
                            <a ng-if="item.eventType==1" href="/#/activityMgr/onLineList?eventTabloidsId={{item.eventTabloidsId}}&title={{item.eventTitle}}" class="link" target="_blank">审核报名信息</a>
                            <a ng-if="item.eventType==2" href="/#/activityMgr/offLineList?eventTabloidsId={{item.eventTabloidsId}}&title={{item.eventTitle}}" class="link" target="_blank">审核报名信息</a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="!vm.list||!vm.list.length" class="ng-scope">
                    <tr>
                        <td colspan="8">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemp"></div>
    </div>
</div>