<div class="top-title-cfec mb10">
    <h4>跟进记录（跟进优先级：{{vm.recordInfo.followBuyerLevel}}；采购商跟进状态：{{vm.recordInfo .followStatus}}；加入跟进清单：{{vm.recordInfo.hasAddFollowing}}）</h4>
    <button ngc-permission="buyer_buyerlist_add" ng-show="vm.item.isFollower=='true'" type='button' class="btn btn-cfec-white" ng-click="tools.addFollowRecord();">添加跟进记录</button>
</div>
<div class="table-cfec mt20">
    <table class="table table-hover">
        <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <thead>
            <tr>
                <th>跟进时间</th>
                <th>跟进顾问</th>
                <th>跟进标识</th>
                <th>跟进内容</th>
            </tr>
        </thead>
        <tbody ng-if="vm.followRecordLsit.length">
            <tr ng-repeat="item in vm.followRecordLsit">
                <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.followerName}}</td>
                <td>{{item.flagStr}}</td>
                <td>{{item.followContent}}</td>
            </tr>
        </tbody>
        <tbody ng-if="!vm.followRecordLsit.length" class="ng-scope">
            <tr>
                <td colspan="4">
                    <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row-page clearfix">
    <select class="item" ng-model="followpaging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.followPages" ng-change="tools.getnewpageByFollow(0)"></select>
    <uib-pagination boundary-links="true" total-items="followpaging.total" ng-model="followpaging.page" items-per-page="followpaging.pageSize" class="page-list-style item" ng-change="tools.getnewpageByFollow()" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    <label class="item">
        共
        <big>{{followpaging.total}}</big> 条
    </label>
    <label class="item">转到第</label>
    <input class="ngc-jumppage" type="number" class="item" ng-model="tools.newfollowpagesize">
    <label class="item">页</label>
    <button class="j-jump item" ng-click="tools.getnewpageByFollow(1);">GO</button>
</div>
