.calendar-in-input
{
    margin-left: -25px;
}

.right
{
    float: right;
}

.inputwidth
{
    width: 150px;
}

.tabwidth
{
    width: 150px;
}

/*newcss*/

body
{
    font: 16px/1.5 SimHei, Tahoma, Arial, sans-serif;
    font-family: SimHei;

    position: relative;

    display: block;
}

.right
{
    float: right;
}

td
{
    padding-left: 10px !important;
}

.topdiv
{
    width: 100%;
    margin: 0 auto;
    margin: 20px 0px;
    border-width: 1px;
    border-color: RGB(240,240,240);
    border-bottom-style: solid;
}

.container-width
{
    width: 100%;
    margin:20px 0px auto;
    padding-bottom: 20px;
    background-color: white;
    font-family: SimHei;
}
.pstyle
{
    font-size: 24px;

    margin: 0 0 20px 0;

    text-indent: 1em;
}

.pback
{
    font-size: 16px;

    margin: 0 30px 0 30px;

    color: red;
    background-color: white;
}

.imgback
{
    margin: -10px 0 0 0 ;
}
.spanback
{
    font-size: 19px;
}

.table
{
    margin: 20px 0px auto;
}

.buttondiv
{
    margin: 20px 30px 0 0;
}

.buttonstyle
{
    margin: 0;

    background-color: rgb(250,250,250);
    /*padding: 0;
*/
}

.tdtext
{
    text-align: center;
}

.tdwith
{
    width: 25%;
}

.newtdwith
{
    width: 16%;
}

/*买家列表*/

.topbuttondiv
{
    width: 100%;
    margin: 30px 30px 20px 30px;
    padding-bottom: 5px;

    border-width: 1px;
    border-color: RGB(240,240,240);
    border-bottom-style: solid;
}

.butstyle
{
    font-size: 20px;

    width: 100px;
    padding-left: 5px;

    border: none;
    background: white;
}

.midbutstyle
{
    font-size: 20px;

    width: 150px;

    border-style: none none none dashed;
    background: white;
}


.midstyle
{
    width: 100%;
    margin: 30px 30px 20px 30px;
}

.inputlen
{
    width: 40px;
}

.nvastyle
{
    display: inline-block;
}

.ulstyle
{
    height: 23px;
    margin: 0;
}


/*中间组件*/

.topdivs
{
    width: 100%;
    margin: 0 5px 0 0;
    padding-bottom: 25px;

    border-width: 1px;
    border-color: RGB(240,240,240);
    border-bottom-style: solid;
}

.middivs
{
    clear: both;

    width: 100%;
    margin: 0 5px 0 0;
}
.buttons
{
    font-size: 16px;

    height: 37px;
    margin: 25px 0 0 0;

    border: 1px solid rgb(230,230,230);
    background-color: rgb(250,250,250);
}

.lastbuttons
{
    font-size: 16px;

    height: 37px;
    margin: 7px 5px 10px 0;

    border: 1px solid rgb(230,230,230);
    background-color: rgb(250,250,250);
}

.selects
{
    font-size: 16px;

    height: 35px;
    margin: 25px 5px 10px 5px;

    border-color: rgb(230,230,230);
    background-color: rgb(250,250,250);
}

.navs
{
    font-size: 16px;

    display: inline-block;

    height: 50%;
    margin: 0;

    background-color: rgb(250,250,250);
}

.uls
{
    height: 23px;
    margin: 0;
}

.labels
{
    font-family: SimHei;
    font-size: 18px;
    font-weight: normal;

    height: 36px;
    margin-right: 0;
    margin-bottom: 10px;

    background-color: rgb(250,250,250);
}

.inputs
{
    width: 40px;
    height: 36px;
    margin: 25px 0 10px 0;
    padding-bottom: 2px;

    border: 1px solid rgb(230,230,230);
}

.divleft
{
    float: left;

    height: 50px;
}

.divright
{
    float: right;

    height: 50px;

    text-align: right;
}

/*表格部分*/
.thtext
{
    text-align: center;
}

.tablestyle
{
    width: 100%;
    margin: 0;
}

.tablestyle
{
    margin: 10px 30px 5px 30px;
}

th
{
    font-family: SimHei;
    font-size: 16px;
    font-weight: normal;

    padding: 2px 2px 2px 0 !important;

    text-align: center;
}



.delbor
{
    border-right: none !important;
}

.tdstyle
{
    font-family: SimHei;
    font-size: 16px;

    padding: 2px 2px 2px 0 !important;

    text-align: center;
}

.litbutton
{
    width: 15px;
    height: 15px;

    border-radius: 7.5px;
    background-color: white;
}

a
{
    text-decoration: none !important;
}

.spanfir
{
    color: #ccc;
}

.spansec
{
    color: black;
}

.spanlast
{
    color: red;
}

.spanfirclick
{
    color: rgb(114,214,22);
}

/*商品列表*/

input[type='text'].inputstyle
{
    float: right;

    width: 200px;
    height: 32px;

    padding-left: 10px;

    border: 1px solid rgb(230,230,230);
    border-right: 1px solid white;
    border-radius: 0;
}

.dleft
{
    /*float: left;*/
    float: left;

    height: 25px;
}

.dright
{
    float: right;

    width: 300px;
    height: 25px;

    text-align: right;
}

.istylewhite
{
    border: 1px solid rgb(230,230,230);
    background-color: white;
}

.inputa
{
    color: black;
}

.searchs
{
    border-left: 1px solid white;
}

.search
{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-text
{
    display: inline-block;
    float: left;

    width: 496px;
    height: 40px;
}

.search-text input
{
    width: 485px;
    height: 40px;
    padding-left: 10px;

    border: 3px solid #e04d2c;
    border-radius: 0;
}
.search-text input:focus
{
    outline: none;
}
.search-but
{
    font-size: 16px;
    line-height: 40px;

    display: inline-block;
    float: left;

    width: 85px;
    height: 40px;
    margin-right: -5px;

    text-align: center;

    color: #fff;
    background-color: #e04d2c;
}
.search-from-to
{
    line-height: 40px;

    display: inline-block;
    float: left;

    width: 30px;
    height: 40px;

    text-align: center;;
}
/*slidebar-sellerReview.html*/
.search-sellerReview-text
{
    display: inline-block;
    float: left;

    width: 485px;
    height: 40px;
}
.search-sellerReview-text input
{
    width: 485px;
    height: 40px;
    padding-left: 10px;

    border: 3px solid #e04d2c;
}
.search-date-from,
.search-date-to
{
    float: left;

    width: 142px;
    height: 40px;

    border: 1px solid #e7e5e6;
    background: #fff;
}
.search-date-from
{
    margin-left: 20px;
}
.search-date-from p,
.search-date-to p
{
    line-height: 40px;

    float: left;

    width: 100px;
    padding-left: 10px;
}
.search-date-from .glyphicon,
.search-date-to .glyphicon
{
    line-height: 40px;

    top: 0;

    float: left;

    width: 40px;
    height: 40px;

    cursor: pointer;
    text-align: center;

    color: #e04c30;
}
/*sidebar-goodList.html*/
.search-goodsList-class,
.search-goodsList-putaway
{
    line-height: 40px;

    float: left;

    height: 40px;
    padding-left: 10px;

    border: 1px solid #e7e7e5;
    background: #fff;
}
.search-goodsList-class
{
    width: 146px;
}
.search-goodsList-putaway
{
    width: 91px;
    margin-left: 20px;
}
.search-goodsList-class p
{
    float: left;

    width: 88px;
}
.search-goodsList-putaway p
{
    float: left;

    width: 47px;
}
.search-goodsList-text
{
    width: 537px;
    margin-left: 20px;
}
.search-goodsList-class-Btn
{
    float: left;

    width: 45px;
    height: 38px;

    cursor: pointer;

    background: url(../images/goodsList-ICO.jpg);
}
.search-goodsList-putaway .glyphicon
{
    line-height: 38px;

    top: 0;

    display: inline-block;

    width: 32px;
    height: 38px;

    cursor: pointer;
    text-align: center;
}
.search-goodsList-text input
{
    float: left;

    width: 377px;
    padding-left: 0;

    border-left: 0;
}
.search-goodsList-text p
{
    line-height: 37px;

    float: left;

    width: 160px;
    height: 40px;
    padding-left: 10px;

    border: 3px solid #e04d2c;
    border-right: 0;
    background: #fff;
}
.search-goodsList-text span
{
    float: left;
}
.search-goodsList-text .glyphicon
{
    line-height: 20px;

    width: 28px;
    height: 20px;
    margin: 7px 0 7px;
    padding-left: 7px;

    cursor: pointer;

    color: #c2c2c2;
    border-right: 1px solid #cacaca;
}
.content-center
{
    width: 1200px;
    min-height: 990px;
    margin: 0 auto;
}
/*sidebar-buyerList.html*/
.search-buyerList-text input
{
    float: left;

    width: 496px;
    height: 40px;
    padding-left: 10px;

    border: 3px solid #e04d2c;
}
.search-buyerlist-country,
.search-buyerList-from
{
    line-height: 40px;

    float: left;

    width: 142px;
    height: 40px;

    border: 1px solid #e7e5e6;
    background: #fff;
}
.search-buyerlist-country,
.search-buyerList-from
{
    margin-left: 20px;
    padding-left: 10px;
}
.search-buyerlist-country p,
.search-buyerList-from p
{
    line-height: 40px;

    float: left;

    width: 100px;
}
.search-buyerlist-country .glyphicon,
.search-buyerList-from .glyphicon
{
    line-height: 40px;

    top: 0;

    float: left;

    width: 30px;

    cursor: pointer;
    text-align: center;
}
.content
{
    min-height: 770px;
    margin-top: 20px;
    padding-left: 21.6667%;
}
/*siderbar-sellerList.html*/
.search-sellerList-text
{
    display: inline-block;
    float: left;

    width: 814px;
    height: 40px;
}
.search-sellerList-text input
{
    float: left;

    width: 744px;
    padding-left: 10px;

    border-left: 0;
}
.search-sellerList-text p
{
    line-height: 37px;

    float: left;

    width: 70px;
    height: 40px;
    padding-left: 10px;

    border: 3px solid #e04d2c;
    border-right: 0;
    background: #fff;
}
.search-sellerList-text span
{
    float: left;
}
.search-sellerList-text .glyphicon
{
    line-height: 20px;

    width: 28px;
    height: 20px;
    margin: 7px 0 7px;
    padding-left: 7px;

    cursor: pointer;

    color: #c2c2c2;
    border-right: 1px solid #cacaca;
}


.header{
    width: 100%;
    height: 60px;
    background-color: #FFF;
}

.header-center{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.aTag{
    cursor: pointer;
    color: #FFF;
}

.marLeft10{
    margin-left: 10px;
}
ul{padding:0;}
ul li{
    list-style-type: none;
    font-size: 15px;
}
/*li{
    padding: 0px;
    margin: 0px;
}*/

/*sidebar*/
.gly{
    margin: 14px;
    font-size: 15px;
    color:#FFF;
    text-align: center;
    line-height: 30px;
    width: 32px;
    height: 32px;
    border:2px solid #FFF;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    float: left;
}

.arrow{
    width: 20px;
    height: 60px;
    margin: 0 14px;
    color: #FFF;
    line-height: 60px;
    float: right;
}

.arrow span{
    cursor: pointer;
}

.sidebar{
    width: 21.66666%;
    background-color:#E04D2C;
    height: 60px;
    clear:both;
    float: left;
}

.top{
    padding-top:10px;
    padding-left: 20px; 
    height: 60px;
    width: 78.33333%;
    float: left;
}

.logo{
    width: 190px;
    height: 35px;
    background: url(../images/logo.png) 0 5px no-repeat;
    float: left;
    padding-top:5px;
    display: inline;
}

.user{
    float: right;
    margin-right: 40px;
    display: inline;
    font-size: 18px;
}

.exit{
    font-size: 18px;
    float: right;
}
.exit a:hover,.exit .glyphicon:hover{
    color:#e04d2c;
}
.exit a,
.user a{
    color: #000;
    text-decoration: none;
    line-height: 40px;
}
.user img{
    margin-right:10px;
}
.nav{
    padding-top: 10px;
    min-height: 920px;
    background-color: #DD5E42;
    color: #FFF;
}

.square{
    width: 8px;
    height:14px;
    font-size: 8px;
    line-height: 18px;
    background-color: #FFF;
    display: inline;
    margin-right: 5px;
}

.square span{
    padding-left: 4px;
    margin-right: 2px;
    color: #DD5E42;
    cursor: pointer;
}
.square .glyphicon-minus{
    padding-left: 3px;
    margin-right: 3px;
}
#ul .nav-hd{
    padding-left:40px;
    padding-bottom: 10px;
    padding-top:10px;
}
#ul li ul{display: none;}
#ul .active ul,.active{
    display: block;
    background-color: #D7411F;
}
#ul li ul li{
    padding-left: 60px;
    padding-bottom:20px;
}
#ul li:hover{
    background-color: #D7411F;
}
#ul >li>ul>li:hover{
    cursor: pointer;
    background:url(../images/navHoverBg.png) right 0 no-repeat;
}

.formstyle{
    background-color: white;
    margin:20px ;
    padding: 0px;

}

.container-list{

    padding: 20px;
    margin-top: 70px;
    border-top: 10px solid rgb(243,240,233);
}