<div class="oms-crumbs"> <i>绑定展会通</i>
    <p>
        <a href="/#/seller/bindExhibitionList">绑定展会通</a> /
        <span>绑定</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-detail">
        <form id="bindform" name="forms.bindform" class="form-group-main" role="form" novalidate="novalidate">
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 供应商
                </label>
                <div class="col-sm-10">
                    <p class="ad-product-link mr5" ng-if="paging.sellerId!=null">{{paging.sellerId}}&nbsp;&nbsp;&nbsp;&nbsp;{{paging.companyName}}&nbsp;&nbsp;&nbsp;&nbsp;{{paging.companyEnName}}</p>
                    <input type="hidden" class="input-cfec" placeholder="" ng-model="paging.sellerId" name="sellerId" disabled>
                    <button class="btn btn-cfec-white mr10" style="width: 195px" type="button" ng-if="paging.sellerId==null" ng-click="tools.selectSeller();">请选择供应商</button>
                    <a href="javascript:void(0)" class="mr10 link" ng-if="paging.sellerId!=null" ng-click="tools.selectSeller();">重选</a>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 广交会届数
                </label>
                <div class="col-sm-10">
                    <select class="select-oms mr5 fl" name="sitType" ng-model="paging.fairNo" ng-options="obj.sesId as obj.sesName for obj in vm.cfecTimesArray">
                        <option value="">请选择</option>
                    </select>
                    <span class="lh30 fl">届</span>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 推送条数
                </label>
                <div class="col-sm-10 lh30">
                    <select class="select-oms mr0" name="exhibitionLevel" id="exhibitionLevel" ng-model="paging.level" ng-change="tools.exibitorChx()">
                        <option value="10">展会通初级版</option>
                        <option value="20">展会通中级版</option>
                        <option value="30">展会通高级版</option>
                    </select>
                    <span class="fl ml10 mr10">共</span> <input type="number" class="input-cfec w100 mr10" name="sendTotal" id="sendTotal" ng-model="paging.sendTotal">条
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    绑定ibeaconId
                </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec mr20" name="ibeaconId" placeholder="" ng-model="paging.ibeaconId">
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    备注：
                </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec mr20" name="remark" placeholder="" ng-model="paging.remark">
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                </label>
                <div class="col-sm-10">
                    <button type="button" ng-disabled="btnFlag" class="btn btn-cfec-red mr20" ng-click="tools.saveBindExhibition()">保存</button>
                    <a href="/#/seller/bindExhibitionList" class="btn btn-cfec-white">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/ng-template" id="addSeller.html">
    <div class="dlg-title">添加供应商</div>
    <div class="panel-container">
        <div class="form-group clearfix">
            <div class="oms-search fl">
                <select name="" id="" ng-model="toolsdlg.qKey" ng-options="obj.value as obj.key for obj in vm.popSearchTypeArray">
                    <option value="">搜索类型</option>
                </select> <em></em>
                <input type="text" name="" id="" ng-model="toolsdlg.qValue" />
            </div>
            <button class="btn btn-cfec-red fl" ng-click="toolsdlg.search();">查&nbsp;询</button>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <colgroup>
                    <col width="80%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>公司名称</th>
                        <th class="ta-c">操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vmdlg.total > 0">
                    <tr ng-repeat="item in vmdlg.data.items">
                        <td>
                            <p> <span ng-if="item.exibitor==1" class="icon-cfec-exibitor mr10"></span>公司中文名：{{item.companyName}}</p>
                            <p>公司英文名：{{item.companyEnName}}</p>
                        </td>
                        <td class="ta-c">
                            <button class="btn btn-cfec-red" ng-click="toolsdlg.selected(item.companyId,item.sellerId,item.companyName,item.companyEnName)">选择</button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="ng-scope" ng-if="vmdlg.total < 1">
                    <tr>
                        <td colspan="2">
                            <p class="noResult-Text pt20 pb20 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 分页组件[[ -->
        <div class="row-page clearfix">
            <select class="item" ng-model="pagingdlg.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.pages" ng-change="toolsdlg.getnewpage(0)"></select>
            <uib-pagination boundary-links="true" total-items="pagingdlg.total" ng-model="pagingdlg.page" items-per-page="pagingdlg.pageSize" class="page-list-style item" ng-change="toolsdlg.getnewpage()" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            <label class="item">共<big>{{pagingdlg.total}}</big>条</label>
            <label class="item">转到第</label>
            <input class="ngc-jumppage" type="number" class="item" ng-model="toolsdlg.newpagesize">
            <label class="item">页</label>
            <button class="j-jump item" ng-click="toolsdlg.getnewpage(1);">GO</button>
        </div>
        <!-- 分页组件[[ -->
    </div>
</script>