<div class="oms-crumbs"> <i>绑定展会通</i>
    <p>
        <a href="/#/seller/bindExhibitionList">绑定展会通</a>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <div class="search-content form-group-main clearfix">
            <form>
                <!-- 搜索类型 -->
                <div class="form-group fl">
                    <label for="">搜索类型</label>
                    <div class="oms-search">
                        <select name="" id="" ng-model="paging.key" ng-options="obj.value as obj.key for obj in vm.searchTypeArray">
                            <option value="">搜索类型</option>
                        </select> <em></em>
                        <input ngc-auto-input type="text" ngc-monitor-enter name="" id="" ng-model="paging.value" />
                    </div>
                </div>
                <!-- 届数 -->
                <div class="form-group fl">
                    <label for="">届数</label>
                    <select name="fircategoryId" class="select-oms" ng-model="paging.fairNo" ng-options="obj.sesName as obj.sesId for obj in vm.cfecTimesArray">
                        <option value="">全部</option>
                    </select>
                </div>
                
                <div class="form-group btns-group clear">
                    <button class="btn btn-cfec-red fl mr20" ng-click="tools.getExhibitionList(true);">查&nbsp;询</button>
                    <button class="btn btn-cfec-white fl mr20" ng-click="tools.reset();">重 置</button>
                    <a class="btn btn-cfec-red fl" href="/#/seller/bindExhibition?type=0">供应商绑定展会通</a>
                    <a class="btn btn-cfec-white fr" target="_blank" href="/oms/promotionSeller/export.cf">导出</a>
                </div>
            </form>
        </div>
        <div class="list-content table-cfec">
            <!-- 全部 -->
            <table class="table table-hover mb0">
                <!-- 全部 -->
                <colgroup>
                    <!-- <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%"> -->
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="ta-c">公司名称</th>
                        <th class="ta-c">绑定届数</th>
                        <th class="ta-c">发送数量</th>
                        <th class="ta-c">IbeaconID</th>
                        <th class="ta-c">操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length>0">
                    <tr ng-repeat='item in vm.items'>
                        <!-- ID -->
                        <td>
                            {{item.sellerId}}
                        </td>
                        <!-- 公司名称 -->
                        <td class="ta-c">
                            <p>{{item.companyCName}}</p>
                            <p>{{item.companyEName}}</p>
                        </td>
                        <!-- 绑定届数 -->
                        <td class="ta-c">
                            {{item.fairNo}}
                        </td>
                        <!-- 发送数量 -->
                        <td class="ta-c">
                            {{item.sendTotal}}
                        </td>
                        <!-- 绑定届数 -->
                        <td class="ta-c">
                            {{item.ibeaconId}}
                        </td>
                        <!-- 操作 -->
                        <td class="ta-c">
                            <p><a class="link" href="/#/seller/bindExhibition?type=1&promotionId={{item.promotionId}}" target="_blank">编辑</a></p>
                            <p><a class="link" href="/#/seller/bindExhibitionDetail?promotionId={{item.promotionId}}" target="_blank">查看</a></p>
                            <p><a class="link" href="javascript:void(0)" ng-click="tools.delExhibition(item.promotionId)">删除</a></p>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.items ==null || vm.items.length < 1">
                    <tr>
                        <td colspan="6">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemplate">
        </div>
    </div>
</div>
<script type="text/ng-template" id="delExhibitionDlgId">
  <div class="delExhibitionDlg">
      <div class="dlg-title">提示</div>
      <div class="dlg-content form">
        <p class="ta-c">
            <i class="iconfont icon-xunwenoms"></i>
            <span>确认删除这条记录吗？</span>
        </p>
        <div class="btn-toolbar clearfix">
          <button class="btn btn-cfec-red" ng-click="submit()">确定</button>
          <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
        </div>
      </div>
  </div>
</script>