<div class="oms-crumbs"> <i>供应商SNS推广审核</i>
    <p>
        <a ui-sref="snsMgr.sellerList">SNS推广</a> /
        <span>供应商SNS推广审核</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="1" justified="false">
            <uib-tab index="0" ng-click="vm.initTab()">
                <uib-tab-heading>全部</uib-tab-heading>
            </uib-tab>
            <uib-tab index="1" ng-click="vm.initTab(1)">
                <uib-tab-heading>待审核</uib-tab-heading>
            </uib-tab>
            <uib-tab index="2" ng-click="vm.initTab(3)">
                <uib-tab-heading>审核通过</uib-tab-heading>
            </uib-tab>
            <uib-tab index="3" ng-click="vm.initTab(2)">
                <uib-tab-heading>审核不通过</uib-tab-heading>
            </uib-tab>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">搜索</label>
                <div class="oms-search">
                    <select name="" id="" ng-model="vm.paging.selectedQueryId" ng-options="obj.value as obj.key for obj in vm.searchTypeArray">
                        <option value="">搜索类型</option>
                    </select> <em></em>
                    <input ngc-auto-input ngc-monitor-enter type="text" name="" id="" ng-model="vm.paging.selectedValue" />
                </div>
            </div>
            <div class="form-group fl" ng-if="!vm.currentStatus">
                <label for="">审核状态</label>
                <select name="status" id="status" class="select-oms" ng-model="vm.paging.auditStatus">
                    <option value="">请选择</option>
                    <option value="1">待审核</option>
                    <option value="3">审核通过</option>
                    <option value="2">审核不通过</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">创建时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.startTime" id="startTime" max-date="{{vm.paging.endTime}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.endTime" id="endTime" min-date="{{vm.paging.startTime}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="vm.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="vm.reset();">重&nbsp置</button>
            </div>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <!-- 全部 -->
                <colgroup>
                    <col width="5%" ng-if="vm.currentStatus">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr ng-if="!vm.showOperateFlag">
                        <th ng-if="vm.currentStatus">
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkAll()">
                        </th>
                        <th>文章id</th>
                        <th>公司名称</th>
                        <th>标题</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag">
                        <th ng-if="vm.currentStatus">
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkAll()">
                        </th>
                        <th colspan="7">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="vm.toAuditByMulti(3)" ng-show="vm.paging.auditStatus!=3">审核通过</button>
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="vm.toAuditByMulti(2)" ng-show="vm.paging.auditStatus!=2">审核不通过</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.list.length">
                    <tr ng-repeat='item in vm.list'>
                        <td ng-if="vm.currentStatus">
                            <input type="checkbox" ng-model="item.$checked" ng-change="vm.checkOne()">
                        </td>
                        <td>{{item.id}}</td>
                        <td>
                            <p>{{item.companyCnName}}</p>
                            <p>{{item.companyEnName}}</p>
                        </td>
                        <td>{{item.subject}}</td>
                        <td>{{item.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{item.auditStatus | snsAuditStatusFilter}}</td>
                        <td>
                            <p><a target="_blank" ng-href="/#/snsMgr/snsDetail?id={{item.id}}">查看</a></p>
                            <p><a href="javascript:void(0);" ng-if="item.auditStatus==1||item.auditStatus==2" ng-click="vm.toAuditBySingle(item.id,3);">审核通过</a></p>
                            <p><a href="javascript:void(0);" ng-if="item.auditStatus==1||item.auditStatus==3" ng-click="vm.toAuditBySingle(item.id,2);">审核不通过</a></p>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="!vm.list||!vm.list.length" class="ng-scope">
                    <tr>
                        <td colspan="8">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemp"></div>
    </div>
</div>
<script type="text/ng-template" id="confirmDlg">
    <div class="dlg-title">提示</div>
    <div class="dlg-content form">
        <p class="ta-c"> 请确认是否审核{{vm.params.auditStatus==2?'不':''}}通过
        </p>
        <div class="form-group pt20 mb0" ng-if="vm.params.auditStatus==2">
            <select name="reason" id="reason" class="select-oms mb10 w400" ng-model="vm.selectKey" ng-options="obj.key as obj.value for obj in vm.reasonList" ng-change="vm.reasonChange();">
                <option value="">请选择</option>
            </select>
            <textarea name="" class="form-control reasonInput" ng-disabled="vm.selectKey!=4" rows="4" ng-model="vm.params.reason"></textarea>
        </div>
        <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-click="vm.submit()">确定</button>
            <button class="btn btn-cfec-white" ng-click="vm.close()">取消</button>
        </div>
    </div>
</script>