<div class="oms-crumbs"> <i>SNS文章推广管理</i>
    <p>
        <a ui-sref="snsMgr.sellerList">SNS推广</a> /
        <span>SNS文章推广管理</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
            <uib-tab index="0">
                <uib-tab-heading>全部</uib-tab-heading>
            </uib-tab>
            <button type="button" class="btn btn-default btn-cfec-white fr m10 mr20" ng-click="vm.addSNS();">添加SNS文章推广</button>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">标题搜索:</label>
                <input type="text" ngc-monitor-enter class="input-cfec" ng-model="vm.paging.subject" placeholder="输入关键字...">
            </div>
            <div class="form-group fl">
                <label for="">创建时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.startTime" id="startTime" max-date="{{vm.paging.endTime}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.endTime" id="endTime" min-date="{{vm.paging.startTime}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group fl">
                <label for="">状态</label>
                <select name="type" id="type" class="select-oms" ng-model="vm.paging.auditStatus">
                    <option value="">请选择</option>
                    <option value="1">草稿</option>
                    <option value="3">已发布</option>
                </select>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="vm.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="vm.reset();">重&nbsp置</button>
            </div>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <!-- 全部 -->
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>标题</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.list.length">
                    <tr ng-repeat='item in vm.list'>
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.subject}}
                        </td>
                        <td>
                            <p> {{item.createTime | date:'yyyy-MM-dd HH:mm'}} </p>
                        </td>
                        <td>{{item.auditStatus | snsSysAuditStatusFilter}}</td>
                        <td>
                            <p><a target="_blank" ng-href="/#/snsMgr/snsDetail?id={{item.id}}">查看</a></p>
                            <p><a ng-if="item.auditStatus==1" href="javascript:void(0);" ng-click="vm.publishSns(item.id);">发布</a></p>
                            <p><a ng-href="/#/snsMgr/addSNS?id={{item.id}}">编辑</a></p>
                            <p><a href="javascript:void(0);" ng-click="vm.delSystemSns(item.id);">删除</a></p>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="!vm.list||!vm.list.length" class="ng-scope">
                    <tr>
                        <td colspan="5">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemp"></div>
    </div>
</div>
<script type="text/ng-template" id="snsConfirmDlg">
    <div class="buyerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c"> {{vm.message}}
            </p>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-disabled="vm.btnFlag" ng-click="vm.submit()">确定</button>
                <button class="btn btn-cfec-white" ng-click="vm.close()">取消</button>
            </div>
        </div>
    </div>
</script>
