
<form class="searchTop clearfix">
    <div class="sel">
        <select class="ipt ipt-s" name="userType">
            <option value="buyer">买家</option>
            <option value="seller">卖家</option>
        </select>
        <select class="ipt ipt-s" name="tradeState">
            <option value="all">全部交易状态</option>
            <option value="waitSend">待发货</option>
            <option value="notConfirm">未确认发货</option>
            <option value="send">已发货</option>
            <option value="complete">已完成</option>
            <option value="dispute">纠纷中</option>
            <option value="close">交易关闭</option>
        </select>
        <select class="ipt ipt-s" name="currencyType">
            <option value="all">全部交易币种</option>
            <option value="USD">美元</option>
            <option value="RMB">人民币</option>
        </select>
        <select class="ipt ipt-s" name="dealState">
            <option value="all">全部处理状态</option>
            <option value="wait">待审核</option>
            <option value="waitPay">待拨款</option>
            <option value="complete">完成</option>
            <option value="noPass">审核不通过</option>
            <option value="cancle">撤销</option>
        </select>
    </div>
    <div class="userName">
        <label for="userName">用户名</label>
        <input ngc-auto-input class="ipt ipt-s" type="text" id="userName"/>
    </div>
    <div class="order">
        <label for="order">订单编号</label>
        <input ngc-auto-input class="ipt ipt-s" type="text" id="order"/>
    </div>
    <div class="time">
        <label for="start">起始时间</label>
        <input class="ipt ipt-s" type="text"  id="start" placeholder="起始日期" uib-datepicker-popup="yyyy/MM/dd" is-open="opened1" min-date="'1997-06-22'" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"
               ng-model="paging.startDate">
        <span class="glyphicon glyphicon-calendar calendar-in-input" ng-click="open1($event)"></span>
        <label for="end">至</label>
        <input class="ipt ipt-s" type="text" id="end" uib-datepicker-popup="yyyy/MM/dd" placeholder="结束日期" is-open="opened2" min-date="'1997-06-22'" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-model="paging.endDate">
        <span class="glyphicon glyphicon-calendar calendar-in-input" ng-click="open2($event)"></span>
    </div>
    <div class="but">
        <input type="submit" value="查询"/>
        <input type="reset" value="重置"/>
        <input type="button" value="导出excel表格"/>
    </div>
</form>
<div class="confirmPay consume">
    <table>
        <thead>
        <tr>
            <td>创建时间</td>
            <td>用户</td>
            <td>对方</td>
            <td>订单号</td>
            <td>交易状态</td>
            <td>交易类型</td>
            <td>交易币种</td>
            <td>交易金额</td>
            <td>手续费</td>
            <td>实际金额</td>
            <td>处理状态</td>
            <td>操作信息</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2015-05-21 13:45</td>
            <td>广交会电子商务有限公司<br />虚拟账号明细：XXX@gmail.com</td>
            <td>羊毛商人<br />用户账号：XXX@gmail.com</td>
            <td>12345678654321</td>
            <td>待发货</td>
            <td>消费</td>
            <td>美元</td>
            <td>5000.00<br />(含运费11.00)</td>
            <td>-100.00</td>
            <td>4990.00<br />(含运费11.00)</td>
            <td>待审核</td>
            <td></td>
            <td><a href="#">审核</a></td>
        </tr>
        <tr>
            <td>2015-05-21 13:45</td>
            <td>广交会电子商务有限公司<br />虚拟账号明细：XXX@gmail.com</td>
            <td>羊毛商人<br />用户账号：XXX@gmail.com</td>
            <td>12345678654321</td>
            <td>待发货</td>
            <td>消费</td>
            <td>美元</td>
            <td>5000.00<br />(含运费11.00)</td>
            <td>-100.00</td>
            <td>4990.00<br />(含运费11.00)</td>
            <td>待拨款</td>
            <td>审核：XXX<br />时间：2015-05-22 00:00:00</td>
            <td><a href="#">拨款</a></td>
        </tr>
        <tr>
            <td>2015-05-21 13:45</td>
            <td>广交会电子商务有限公司<br />虚拟账号明细：XXX@gmail.com</td>
            <td>羊毛商人<br />用户账号：XXX@gmail.com</td>
            <td>12345678654321</td>
            <td>待发货</td>
            <td>消费</td>
            <td>美元</td>
            <td>5000.00<br />(含运费11.00)</td>
            <td>-100.00</td>
            <td>4990.00<br />(含运费11.00)</td>
            <td>完成拨款</td>
            <td>审核：XXX<br />时间：2015-05-22 00:00:00</td>
            <td>——</td>
        </tr>
        <tr>
            <td>2015-05-21 13:45</td>
            <td>广交会电子商务有限公司<br />虚拟账号明细：XXX@gmail.com</td>
            <td>羊毛商人<br />用户账号：XXX@gmail.com</td>
            <td>12345678654321</td>
            <td>待发货</td>
            <td>消费</td>
            <td>美元</td>
            <td>5000.00<br />(含运费11.00)</td>
            <td>-100.00</td>
            <td>4990.00<br />(含运费11.00)</td>
            <td>待审核</td>
            <td></td>
            <td><a href="#">审核</a></td>
        </tr>
        <tr>
            <td>2015-05-21 13:45</td>
            <td>广交会电子商务有限公司<br />虚拟账号明细：XXX@gmail.com</td>
            <td>羊毛商人<br />用户账号：XXX@gmail.com</td>
            <td>12345678654321</td>
            <td>待发货</td>
            <td>消费</td>
            <td>美元</td>
            <td>5000.00<br />(含运费11.00)</td>
            <td>-100.00</td>
            <td>4990.00<br />(含运费11.00)</td>
            <td>待拨款</td>
            <td>审核：XXX<br />时间：2015-05-22 00:00:00</td>
            <td><a href="#">拨款</a></td>
        </tr>
        <tr>
            <td>2015-05-21 13:45</td>
            <td>广交会电子商务有限公司<br />虚拟账号明细：XXX@gmail.com</td>
            <td>羊毛商人<br />用户账号：XXX@gmail.com</td>
            <td>12345678654321</td>
            <td>待发货</td>
            <td>消费</td>
            <td>美元</td>
            <td>5000.00<br />(含运费11.00)</td>
            <td>-100.00</td>
            <td>4990.00<br />(含运费11.00)</td>
            <td>完成拨款</td>
            <td>审核：XXX<br />时间：2015-05-22 00:00:00</td>
            <td>——</td>
        </tr>
        </tbody>
    </table>
</div>
<div class=" middivs clearfix">
    <div class="divright clearfix">
        <button  class="btn btn-default lastbuttons" ng-click="tools.getnewpage();">GO</button>
        <input type="text" class="inputs" ng-model="tools.newpagesize">
        <label class="page-list-style label-style">转到页</label>
        <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class=" page-list-style" ng-change="tools.getBuyers()"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
</div>
