<div class="dlg-title">
    提示</div>
<div class="image-content">
    <div class="picScroll">
        <div class="main-image">
            <div class="image-title">
                <span class="img-index">{{vm.imgIndex+1}}</span>
                <span class="img-tips">/{{vm.imgArray.length}}</span>
            </div>
            <img ng-src="{{vm.imgArray[vm.imgIndex] | setImgSize:620:380}}" alt="">
        </div>
        <div class="all-img clearfix">
            <span class="img-btn" ng-click="tools.prevImage()"><i class="iconfont">&#xe626;</i></span>
            <ul class="all-list">
                <li ng-repeat="item in vm.imgArray" ng-click="tools.chxImageByIndex($index);" class="{{$index==vm.imgIndex?'active':''}}" 
                ng-if="$index>=vm.imageStart&&$index<=vm.imageEnd"
                data-id="$index"
                >
                    <img ng-src="{{ item | setImgSize:36:36}}" alt="">
                    <span></span>
                </li>
            </ul>
            <span class="img-btn" ng-click="tools.nextImage()"><i class="iconfont">&#xe627;</i></span>
        </div>
    </div>
</div>
