<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>标签管理</title>
	<link rel="stylesheet" href="/pubpage/components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/pubpage/operation/view/css/category.css">
	<link rel="stylesheet" href="/pubpage/operation/view/css/chose.css"> 
</head>

<body>
	<div class="top clearfix">
		<div class="header">
			<span class="path">类目属性管理</span><span class="path">标签管理</span>
			<input class="search-input" type="text" placeholder="输入标签名称搜索">
			<a class="search-icon">
				<span class="glyphicon glyphicon-search searchs" aria-hidden="true"></span>
			</a>
		</div>

		<div class="clearfix">
			<ul class="clearfix">
				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>
				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>
				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>
				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>
				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>

				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>
				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>
				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>
				<li class="col-5-1"><a>标签组A(<span>200</span>)</a>
				</li>
				<li class="col-5-1">
					<button id="more" class="font-opr font-12">展开+</button>
					<button id="less" class="font-opr font-12" style="display:none">收起+</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="devide"></div>

	<div class="content">
		<div class="clearfix con-row">
			<div class="col-6">
				<span class="con-title">标签管理</span>
				<input class="search-input" style="width:60%" type="text" placeholder="输入标签组名称搜索">
				<a class="search-icon">
					<span class="glyphicon glyphicon-search searchs" aria-hidden="true"></span>
				</a>
			</div>
			<div class="col-6 text-right">
				<button>删除</button>
				<button>新增</button>
				<button onclick="setIframe('')">转移到标签组</button>
			</div>
		</div>
		<div class="con-data">

			<table class="table table-bordered table-hover tablestyle">
				<thead>
					<tr>
						<th>
							<input type="checkbox" name="" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)">
						</th>
						<th>中文名称</th>
						<th>英文名称</th>
						<th>类目路径</th>
						<th>排序</th>
						<th>分类类型</th>
						<th>属性个数</th>
						<th>更新信息</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.items">
						<td>
							<input type="checkbox" name="" id="">
						</td>
						<!-- 中文名称 -->
						<td>
							衣服
						</td>
						<!-- 英文名称 -->
						<td>clothes</td>

						<!-- 类目路径 -->
						<td>类目路径</td>
						<!-- 排序 -->
						<td><a href="" onclick="">4</a>
						</td>
						<!-- 分类类型 -->
						<td>一级分类</td>
						<!-- 属性个数 -->
						<td>3</td>
						<!-- 更新信息 -->
						<td>2014-10-10 11:24:45</td>
						<td class="opr">
							<a class="font-opr">修改</a>
							<a class="font-opr">管理属性值</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<!-- 分页 -->
	<div class="row">
		<div class="col-2">
			<label>&nbsp;</label>
		</div>
		<div class="col-8">
			<ul class="pagination">
				<li>&nbsp;
					<select class="" name="" id="">
						<option value="5">5条每页</option>
					</select>
				</li>
				<li>转到
					<input type="text">页
					<button>go</button>
				</li>
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#">1</a>
				</li>
				<li><a href="#">2</a>
				</li>
				<li><a href="#">3</a>
				</li>
				<li><a href="#">4</a>
				</li>
				<li><a href="#">5</a>
				</li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>

	</div>
	
	<!-- select 带搜索实现1 -->
	
	<div>

		<div  id="tagSrc">
			<a name="55" class="j-level1">标签组bbc</a>
			<div name="second_55" class="j-level2">
			<a name="1">胡萝卜</a>
			<a name="2">青瓜</a>
			<a name="3">青青瓜</a>
			<a name="4">胡萝萝卜</a>
			</div>
			
			<a  name="66" class="j-level1">标签组b</a>
			<div name="second_66" class="j-level2">
				<a name="4">蔷薇</a>
				<a name="3">茉莉ll</a>
				<a name="2">莉莉lk</a>
				<a name="6">百合</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-4">11</div>
		<div class="col-4">
			<input type="hidden" id="j-level1">
			<input class="slt-input" type="text" placeholder="-标签组-">
			<div id="tagGrpList" class="slt-list" >
			</div>
		</div>
		<div class="col-4">
			<input type="hidden" id="j-level2">
			<input class="slt-input" type="text" placeholder="-标签-">
			<div id="tagList" class="slt-list">
			</div>
		</div>
	</div>
	
	<!-- end select1-->
	
	<!-- select 带搜索实现--2 -->
		<select name="" id="chose">
				<option value="1">红</option>
				<option value="2">粉红</option>
				<option value="3">彩红</option>
				<option value="4">天蓝</option>
				<option value="5">湖蓝</option>
		</select>
		
		<div id="chose_list" class="chose-container">
			
			
			<div class="chose-down chose-down-wl">
				<div class="chose-result chose-result-hl">
					<a class="icon-down"></a>
					<input type="hidden" name="">	
				</div>
				<div class="chose-list" style="display:none;">
					<input type="text">
					<ul>
						
					</ul>
				</div>
			</div>
		</div>
	<!-- end select 2 -->



	<script src="../category.js"></script>
	<script src="http://192.168.200.234:3333/components_module/requirejs/require.js" type="text/javascript"></script>
<script src="http://192.168.200.234:3333/dev/components/require-config.js" type="text/javascript"></script>
	<script>
		var sid='chose';
		var id='chose_list';
		require(['jquery'], function ($) {
			var _chosen = $('#'+id);
			var _ul = _chosen.find(".chose-list>ul");	// 查询结果列表
			var _list = _chosen.find(".chose-list");
			var _inputCon = _chosen.find(".chose-list>input");	//查询条件输入框
			var _selectText = _chosen.find(".chose-result>a");	// 选中结果显示的值
			
			_chosen.on('click','a',function(){
				var _self = $(this);
				// 显示选择层
				_chosen.find('.chose-list').show();
				// 条件输入框获得焦点
				_inputCon.text('').focus();
				// 加载匹配列表并选中
				searchList(_inputCon.val());
			
			})
			.on('keyup',_inputCon,function(){
				searchList(_inputCon.val());
			})
			.on('mouseenter','.chose-list li',function(){
				_ul.children('.high-selected').removeClass('high-selected');
				$(this).addClass('high-selected');
				console.log($(this).attr("class"))
			})
			.on('click','.chose-list li',function(){
				// 选中值回填
				_selectText.text($(this).text());
				$('#'+sid+':option[value='+$(this).attr('name')+']').attr('selected','selected');
				_chosen.find('.chose-list').hide();
				// 区域失去焦点
				_chosen.blur();
			})
			
			/*
			从select的option里按关键字查询
			@return 
			*/
			function searchList(_keywords){
				_ul.empty();
				var _temp = null;
				if(utils.isEmpty(_keywords)){
					_temp = _chosen.find('option');
				}else{
					_temp = _chosen.find('option[text="'+_keywords+'"]');
				}
				
				var _li = $("<li></li>");
				if(null == _temp || 0 === _temp.length ){
					_li.text('没有匹配结果 "'+_keywords+'"').addClass("selected");
					_ul.append(_li);
					return;
				}
				for(var i=0 ; i<_temp.length;i++){
					_li.text(_temp[i].text).attr("name",_temp[i].value);
					if(_selectText.text == _temp[i].text){
						_ul.append(_li.clone().addClass("selected"));
					}else{
						_ul.append(_li.clone());
					}
					
				}
				return;
			}
			
			/*
			工具方法
			*/
			var utils = {
				isEmpty:function(_obj){
					if('undefined' == _obj || null == _obj){
						return true;
					}else{
						return 0 === _obj.length;
					}
				}
			}
			
		});
		/*
		require(['jquery'], function ($) {
			var preNode = null;
			var preVal = null;
			$(".slt-list").hide();
			$(".slt-input").on("keyup",function(){
				var con = $(this).val();
				if(con == preVal){
					return;
				}
				preVal = con;
				var list =  $(this).next();
				var level =  $(this).prev().attr("id");
				list.empty();
				
				if('j-level1' == level){
					selector = ".j-level1";
					if(con != ''){
						selector = ".j-level1:contains('"+con+"')";
					}
					$("#tagSrc").find(selector).each(function(){
						$(this).clone(true).appendTo(list);
					});
				}else if('j-level2' == level){
					selector = "div[name='second_"+preNode.attr("name")+"'] a:";
					if(con != ''){
						selector = "div[name='second_"+preNode.attr("name")+"'] a:contains('"+con+"')";
					}
					$("#tagSrc").find(selector).each(function(){
						$(this).clone(true).appendTo(list);
					});
				}

			});
			
			$(".slt-input").on("focus",function(){
				var con = $(this).val();
				
				var list =  $(this).next();
				list.show();
				var level =  $(this).prev().attr("id");
				var selector = null;
				list.empty();
				if('j-level1' == level){
					selector = ".j-level1";
					if(con == ''){
						selector = ".j-level1:contains('"+con+"')";
					}
					$("#tagSrc").find(selector).each(function(){
						$(this).clone(true).appendTo(list);
					});
				}else if('j-level2' == level){
					selector = "div[name='second_"+preNode.attr("name")+"'] a";
					if(con != ''){
						selector = "div[name='second_"+preNode.attr("name")+"'] a:contains('"+con+"')";
					}
					$("#tagSrc").find(selector).each(function(){
						$(this).clone(true).appendTo(list);
					});
				}
				
			});
		
			$(".slt-list").on("click","a",function(){
				var it = $(this);
				if(it.attr("class") == "j-level1"){
					preNode = it;
					if(it.parent().prev().val() != it.text()){
						$("input.slt-input").val("");
					}
				}
				it.parent().prev().val(it.text());
				it.parent().siblings('input[type="hidden"]').val(it.attr('name'));
				it.parent().hide();
				
				
			});
			
		});*/
	</script>
</body>

</html>