<div class="oms-crumbs"> <i>内容编辑页</i>
    <p>
        <a href="">App编辑</a> /
        <span>内容编辑页</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <div class="form-horizontal app-content-form pt40">
            <div class="form-group">
                <div class="row">
                    <label for="appTitle" class="col-sm-2 control-label">
						行业：
					</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <select class="select-oms" ng-model="tools.catId" ng-options="obj.category1Id as obj.categoryName for obj in tools.category" name="category" ng-change="tools.changeCategory()">
                        </select>
                    </div>
                </div>
            </div>
            <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
                <uib-tab index="0" ng-click="tools.creatForm('homepageCarouselFigure');">
                    <uib-tab-heading>轮播图</uib-tab-heading>
                    <div class="form-group pt40" ng-include="homepageCarouselFigure" id="homepageCarouselFigure"></div>
                </uib-tab>
                <uib-tab index="1" ng-click="tools.creatForm('homepageWordFigure');">
                    <uib-tab-heading>公告</uib-tab-heading>
                    <div class="form-group pt40" ng-include="homepageWordFigure" id="homepageWordFigure"></div>
                </uib-tab>
                <uib-tab index="2" ng-click="tools.creatForm('homepageAdvertisementVerticality');">
                    <uib-tab-heading>左右图片广告</uib-tab-heading>
                    <div class="form-group pt40" ng-include="homepageAdvertisementVerticality" id="homepageAdvertisementVerticality"></div>
                </uib-tab>
                <uib-tab index="3" ng-click="tools.creatForm('homepageWindow');">
                    <uib-tab-heading>橱窗</uib-tab-heading>
                    <div class="form-group pt40" ng-include="homepageWindow" id="homepageWindow"></div>
                </uib-tab>
                <uib-tab index="4" ng-click="tools.creatForm('homepageAd1');">
                    <uib-tab-heading>腰带广告</uib-tab-heading>
                    <div class="form-group pt40" ng-include="homepageAd1" id="homepageAd1"></div>
                </uib-tab>
                <uib-tab index="5" ng-click="tools.creatForm('homepageCategory');">
                    <uib-tab-heading>侧滑广告</uib-tab-heading>
                    <div class="form-group pt40" ng-include="homepageCategory" id="homepageCategory"></div>
                </uib-tab>
                <uib-tab index="6" ng-click="tools.creatForm('homepageNewProduct');">
                    <uib-tab-heading>NPL专区</uib-tab-heading>
                    <div class="form-group pt40" ng-include="homepageNewProduct" id="homepageNewProduct"></div>
                </uib-tab>
                <uib-tab index="7" ng-click="tools.creatForm('homepageNewAdvertisement');">
                    <uib-tab-heading>优质供应商</uib-tab-heading>
                    <div class="form-group pt40" ng-include="homepageNewAdvertisement" id="homepageNewAdvertisement"></div>
                </uib-tab>
                <uib-tab index="8" ng-click="tools.creatForm('homepageKeywordGroup1|homepageKeywordGroup2|homepageRecommendProduct');">
                    <uib-tab-heading>推荐商品</uib-tab-heading>
                    <div class="form-group pt40" ng-include="recommendProduct" id="recommendProduct"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>