<div class="oms-crumbs"> <i>标签库</i>
    <p>
        <a href="">App编辑</a> /
        <span>标签库</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
            <uib-tab index="0">
                <uib-tab-heading>全部</uib-tab-heading>
            </uib-tab>
            <button type="button" class="btn btn-default btn-cfec-white fr m10 mr20" ng-click="vm.addTag();">新建用户运营标签</button>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">用户ID/appId:</label>
                <input type="text" class="input-cfec" ng-model="vm.paging.searchVal" placeholder="">
            </div>
            <div class="form-group fl">
                <label for="">标签名称:</label>
                <input type="text" class="input-cfec" ng-model="vm.paging.tagName" placeholder="">
            </div>
            <div class="form-group fl">
                <label for="">标签类型:</label>
                <!-- 标签类型:1,系统配置 2,运营标签 -->
                <select class="select-oms" ng-model="vm.paging.tagType">
                    <option value="">全部</option>
                    <option value="1">系统标签</option>
                    <option value="2">运营标签</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">状态</label>
                <!-- 状态: 0,失效 1,有效 -->
                <select class="select-oms" ng-model="vm.paging.status">
                    <option value="">全部</option>
                    <option value="1">生效</option>
                    <option value="0">失效</option>
                </select>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="vm.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="vm.reset();">重&nbsp置</button>
                <button class="btn btn-cfec-white fr" ng-disabled="!vm.isAllowReport" ng-click="vm.report();">导&nbsp出</button>
            </div>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="30%">
                    <col width="20%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <th>appId</th>
                        <th>用户ID</th>
                        <th>标签名称</th>
                        <th>标签类型</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.list.length">
                    <tr ng-repeat='item in vm.list'>
                        <td>{{item.appId}}</td>
                        <td>{{item.userId}}</td>
                        <td>{{item.tagName}}</td>
                        <td>{{item.tagType | tagTypeFilter}}</td>
                        <td>{{item.status | tagStatusFilter}}</td>
                    </tr>
                </tbody>
                <tbody ng-if="!vm.list||!vm.list.length" class="ng-scope">
                    <tr>
                        <td colspan="6">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemp"></div>
    </div>
</div>
</div>
<script type="text/ng-template" id="addUserTagDlg">
    <div class="resetPswDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content " style="padding-top:20px !important;">
            <div class="add-userTag-warp">
                <p class="tag-tips">搜索标签名称:</p>
                <div class="input-cfec-icon w500">
                    <input type="text" class="w300" placeholder="标签名称" ng-model="vm.keyword" />
                    <button ng-click="tools.searchCate();"><i class="iconfont icon-search"></i> </button>
                </div>
                <p class="tag-tips mt10">搜索结果：</p>
                <div class="tag-list-warp">
                    <ul>
                        <li ng-repeat="item in vm.targetDictArray" ng-click="vm.selectItem=item;">{{item.tagName}} </li>
                    </ul>
                </div>
                <div class="select-warp mt10">
                    已选择： <span class="select-item" ng-if="vm.selectItem">{{vm.selectItem.tagName}}</span>
                </div>
                <div class="mt10">
                    <dl class="row-item">
                        <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[vm.idsType==1]" ng-click="vm.idsType=1;">
                            userId
                            <span class="icon-checked"></span>
                        </dd>
                        <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[vm.idsType==2]" ng-click="vm.idsType=2;">
                            appId
                            <span class="icon-checked"></span>
                        </dd>
                    </dl>
                </div>
                <div class="mt10">
                    <textarea name="userIds" id="userIds" ng-model="tagInfo.ids" class="textarea-cfec w400" placeholder="请输入{{vm.idsType==1?'userId':'appId'}}，多个id用英文逗号隔开"></textarea>
                </div>
                <div class="mt10">
                    <button class="btn btn-cfec-white" type="button" class="btn btn-cfec-white" value="Upload" ngf-select ngf-change="tools.uploadFile($files)" accept="*">Upload</button><span class="ml20">只支持txt格式(导入成功时会自动去重)</span>
                    <p class="mt10" ng-if="vm.attachFile">{{vm.attachFile.fileName}} <a href="javascript:void(0);" title="" ng-click="tools.delFile();">删除</a></p>
                </div>
                <div class="btn-toolbar clearfix ta-c">
                    <button class="btn btn-cfec-red" ng-if="vm.isShowSubmit" ng-click="tools.submit()">确定</button>
                    <button class="btn btn-cfec-white" ng-if="!vm.isShowSubmit" disabled>提交中...</button>
                    <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="messageDlg">
    <div class="resetPswDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content " style="padding-top:20px !important;">
            <p>{{vm.message}}</p>
            <button type="button" class="btn btn-cfec-white mt20" ng-click="vm.close();">关闭</button>
        </div>
    </div>
</script>