<div class="dlg-title">
    选择类目</div>
<div class="out-panel-container">
    <!-- <div class="panel-container pb0">
        <div class="input-cfec-icon mr0 w400">
            <input type="text" placeholder="请输入类目名称进行搜索" class="w300" ng-model="vm.cateKeyword" ng-change="tools.checCatekKeyUp();" ng-keyup="tools.checkCateKeyUp($event);" />
            <button ng-click="tools.searchCate();"><i class="iconfont icon-search"></i> </button>
        </div>
        <div class="search-categories" ng-if="vm.searchCategoresList.length>0">
            <ul>
                <li id="search{{item.categoryId}}" ng-repeat="item in vm.searchCategoresList" class="clearfix" ng-click="tools.chxSelectCate(item);">
                    <span>{{item.categoryName}} : </span>
                    <p>{{item.categoryTree.join('>>')}}</p>
                </li>
            </ul>
        </div>
    </div> -->
    <div class="panel-container" ng-if="vm.searchCategoresList.length<=0">
        <div class="level pur-cate">
            <ul>
                <li ng-repeat="item in vm.firstLevelCate" id="categoryId{{item.categoryId}}" ng-click="tools.getChildcate(item.categoryId)">{{item.categoryName}}<span>&gt; </span></li>
            </ul>
        </div>
        <div class="level pur-cate" ng-repeat="childCateArray in vm.categoryArray">
            <ul>
                <li ng-repeat="item in childCateArray" id="categoryId{{item.categoryId}}" ng-click="tools.chooseCate(item,$parent.$index)">{{item.categoryName}}<span ng-if="item.isBottom==0">&gt; </span></li>
            </ul>
        </div>
    </div>
</div>
<div class="panel-result"> <strong>已选择:</strong>
    <ul ng-if="vm.hasSelectCate!=null" class="clearfix">
        <li ng-repeat="item in vm.hasSelectCate">{{item.categoryName}}<i class="iconfont" ng-click="tools.delCategory(item)">&#xe60b;</i></li>
    </ul>
</div>
<div class="btn-toolbar clearfix p20">
    <button class="btn btn-cfec-red" ng-click="tools.submit()">保存</button>
    <button class="btn btn-cfec-white" ng-click="tools.close()">返回</button>
</div>
