<div class="j-popmenu" >
	<div class="title">审核不通过原因</div>
	<div class="reason">
		<textarea  autofocus="autofocus" name="reason" id="reason" cols="60" rows="5" ng-model="params.remark" ng-change="ChangeLength()" ></textarea>
		<p>
			还剩
			<span>{{vm.length}}</span>
			字符
		</p>
	</div>
	<div class="butt">
		<input type="button" class="btn btn-default" value="确定" ng-click="popMenu()"/>
		<input type="reset" class="btn btn-default" ng-click="clear()"/>
		<input type="text" class="btn btn-default" value="返回" ng-click="back()"/>
	</div>
</div>