<div class="oms-crumbs"> <i>群发国际短信管理</i>
    <p>
        <a href="">编辑国际短信</a> /
        <span>群发国际短信管理</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <form action="" id="sendSMSForm" class="form-group-main">
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    收信人
                </label>
                <div class="col-sm-10">
                    <button class="btn btn-cfec-white" type="button" class="btn btn-cfec-white" value="上传" ngf-select ngf-change="tools.upload($files)" accept="'image/*'">导入收信人</button>
                    <a ng-href="{{vm.imgUrl+smsInfo.filePath}}" target="_blank">{{smsInfo.fileName}}</a>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                     <span>*</span>展会通计划ID
                </label>
                <div class="col-sm-10">
                   <input type="text" class="input-cfec" ng-model="smsInfo.planId">
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span>名称
                </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec" ng-model="smsInfo.title">
                    <span class="ml20">名称是方便自己管理使用的，建议填写</span>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    内容
                </label>
                <div class="col-sm-10">
                    <textarea name="content" id="content" cols="30" rows="10" disabled="disabled" ng-model="smsInfo.text"></textarea>
                    <p>共{{smsInfo.text.length}}个字符</p>
                    <p>每70字符为一条短信，含符号及空格，每超过70个字符按另一条短信计算。</p>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                </label>
                <div class="col-sm-10">
                    <button type="button" ng-click="tools.sendSMS();" ng-disabled="!vm.isAollowSend" class="btn btn-cfec-red">发送</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
textarea {
    width: 600px;
    height: 200px;
    border: 1px solid #e1e2e7;
    outline: none;
    padding: 10px;
}
</style>
