<div class="oms-crumbs"> <i>分配给我的采购商</i>
    <p>
        <a href="">采购商管理</a> /
        <span>分配给我的采购商</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
            <uib-tab index="0" ng-click="vm.buyerStatus = 1;tools.reset();tools.getFollowBuyerList();">
                <uib-tab-heading>平台采购商</uib-tab-heading>
            </uib-tab>
            <uib-tab index="1" ng-click="vm.buyerStatus = 2;tools.reset();tools.getFollowBuyerList();">
                <uib-tab-heading>广交会采购商</uib-tab-heading>
            </uib-tab>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl" ng-if="vm.buyerStatus==1">
                <label for="">搜索</label>
                <div class="oms-search">
                    <select name="" id="" ng-model="paging.accountType" ng-options="obj.value as obj.key for obj in vm.searchTypeArray">
                        <option value="">搜索类型</option>
                    </select> <em></em>
                    <input ngc-auto-input type="text" ng-keyup="tools.keyup($event);" name="" id="" ng-model="paging.accountTypeValue" />
                </div>
            </div>
            <div class="form-group fl" ng-if="vm.buyerStatus==2">
                <label for="">搜索</label>
                <div class="oms-search">
                    <select name="" id="" ng-model="paging.accountType" ng-options="obj.value as obj.key for obj in vm.searchTypeArrayConfair">
                        <option value="">搜索类型</option>
                    </select> <em></em>
                    <input ngc-auto-input type="text" ng-keyup="tools.keyup($event);" name="" id="" ng-model="paging.accountTypeValue" />
                </div>
            </div>
            <div class="form-group fl">
                <label for="">公司国家</label>
                <select ngc-select-search class="select-oms" ng-model="paging.countryId" ng-options="obj.countryId as obj.countryCnName for obj in tools.countries" name="country">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">跟进优先级</label>
                <select class="select-oms" ng-model="paging.followBuyerLevel" ng-options="obj.value as obj.key for obj in vm.priorityArray">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">最后跟进时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.startTime" id="startTime" max-date="{{paging.endTime}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.endTime" id="endTime" min-date="{{paging.startTime}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group fl">
                <label for="">分配时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.assignStartTime" id="assignStartTime" max-date="{{paging.assignEndTime}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.assignEndTime" id="assignEndTime" min-date="{{paging.assignStartTime}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group fl">
                <label for="">最近跟进标识</label>
                <select class="select-oms" ng-model="paging.flag" ng-options="obj.value as obj.key for obj in vm.followSignArray">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">采购产品分类</label>
                <select ngc-select-search name="fircategoryId" class="select-oms" ng-model="paging.oneCategory" ng-options="obj.categoryId as obj.categoryName for obj in vm.firstLevelCate" ng-change="tools.chxCategotyById();">
                    <option value="">请选择</option>
                </select>
                <span></span>
                <select ngc-select-search name="categoryId" ng-if="vm.secLevelCate.length>
                    0&&paging.oneCategory!=null&&paging.oneCategory!=''" class="select-oms" ng-model="paging.twoCategory" ng-options="obj.categoryId as obj.categoryName for obj in vm.secLevelCate">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="vm.buyerStatus==2">
                <label for="">与会届数</label>
                <select name="fircategoryId" class="select-oms" ng-model="paging.time" ng-options="obj.value as obj.key for obj in vm.cfecTimesArray">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group btns-group clear">
                <button type="button" class="btn btn-cfec-red" ng-click="tools.search();">查&nbsp询</button>
                <button type="button" class="btn btn-cfec-white" ng-click="tools.reset();">重&nbsp置</button>
                <button type="button" class="btn btn-cfec-white fr" ng-click="tools.exportExcel();">导出本页数据</button>
            </div>
            <dl class="row-item">
                <dt>快速筛选</dt>
                <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[paging.isFollowed==1]" ng-click="paging.isFollowed=(paging.isFollowed==1?null:1);tools.getFollowBuyerList()">
                    剔除免跟进采购商
                    <span class="icon-checked"></span>
                </dd>
                <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[paging.isFollowing==1]" ng-click="paging.isFollowing=(paging.isFollowing==1?null:1);tools.getFollowBuyerList()">
                    没加入跟进清单的
                    <span class="icon-checked"></span>
                </dd>
                <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[paging.isNoFollow==1]" ng-click="paging.isNoFollow=(paging.isNoFollow==1?null:1);tools.getFollowBuyerList()">
                    我未跟进的
                    <span class="icon-checked"></span>
                </dd>
                <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[paging.isMobile==1]" ng-click="paging.isMobile=(paging.isMobile==1?null:1);tools.getFollowBuyerList()">
                    有手机或固话的
                    <span class="icon-checked"></span>
                </dd>
                <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[paging.isLocalTime==1]" ng-click="paging.isLocalTime=(paging.isLocalTime==1?null:1);tools.getFollowBuyerList()">
                    当地时间为8:00-21:00的
                    <span class="icon-checked"></span>
                </dd>
            </dl>
        </div>
        <div class="list-content table-cfec table-cfec-theme2">
            <table class="table table-hover" ng-if="vm.buyerStatus == 1">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                    <col width="20%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr ng-if="vm.showOperateFlag==false">
                        <th>
                            <input type="checkbox" ng-if="vm.items.length" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th>采购商</th>
                        <th>公司国家</th>
                        <th>采购产品分类</th>
                        <th>跟进优先级</th>
                        <th>最近跟进记录</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag==true">
                        <th>
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th colspan="6">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.addToListByMuti(1)">批量加入跟进清单</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items&&vm.items.length">
                    <tr ng-repeat="item in vm.items">
                        <td>
                            <input type="checkbox" ng-model="item.$checked" ng-change="tools.selection()">
                        </td>
                        <td> <i ng-if="item.isFollowed==0" class="iconfont">&#xe62b;</i>
                            <p>
                                <a target="_blank" href="/#/buyer/detail?buyerId={{item.buyerId}}">{{item.userId}}</a>
                            </p>
                            <p>
                                <a target="_blank" href="/#/buyer/detail?buyerId={{item.buyerId}}">{{item.buyerName}}</a>
                            </p>
                            <div class="show-info">
                                <i class="iconfont">&#xe62c;</i>
                                <div class="child-warp">
                                    <ul>
                                        <li>
                                            <span>用户ID：</span> {{item.userId}}
                                        </li>
                                        <li>
                                            <span>姓名：</span> {{item.buyerName}}
                                        </li>
                                        <li ng-if="item.userEmail">
                                            <span>邮箱：</span> {{item.userEmail}} ({{item.emailValidationSecond | emailValidationFilter}})
                                        </li>
                                        <li ng-if="item.mobile">
                                            <span>手机：</span> {{item.mobile}}
                                        </li>
                                        <li ng-if="item.telephone">
                                            <span>固话：</span> {{item.telephone}}
                                        </li>
                                    </ul>
                                    <span class="icon-arrow-up"></span>
                                </div>
                            </div>
                        </td>
                        <td>{{item.countryName}}
                            <div class="show-info" ng-if="item.countryName!=null&&item.countryLocalTime!=null">
                                <i class="iconfont">&#xe62e;</i>
                                <div class="child-warp">
                                    <ul>
                                        <li>
                                            <span>当地时间：</span> {{item.countryLocalTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                        </li>
                                    </ul>
                                    <span class="icon-arrow-up"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="show-info" ng-if="item.productType">
                                查看
                                <div class="child-warp">
                                    <ul>
                                        <li>
                                            {{item.productType}}
                                        </li>
                                    </ul>
                                    <span class="icon-arrow-up"></span>
                                </div>
                            </div>
                        </td>
                        <td>{{item.followBuyerLevel}}</td>
                        <td>
                            <p title="最近跟进人">{{item.recentFollower}}</p>
                            <p title="最近跟进时间">{{item.lastTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                            <p title="最近跟进标识">{{item.flagStr}}</p>
                            <p title="最近跟进内容">{{item.followContent}}</p>
                        </td>
                        <td>
                            <a href="javascript:void(0);" ng-if="item.followingId==null" ng-click="tools.addToList(1,item.companyId);">加入跟进清单</a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="!vm.items||!vm.items.length" class="ng-scope">
                    <tr>
                        <td colspan="7">
                            <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" ng-if="vm.buyerStatus == 2">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr ng-if="vm.showOperateFlag==false">
                        <th>
                            <input type="checkbox" ng-if="vm.items.length" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th>采购商</th>
                        <th>公司国家</th>
                        <th>采购产品分类</th>
                        <th>参展信息</th>
                        <th>跟进优先级</th>
                        <th>最近跟进记录</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag==true">
                        <th>
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th colspan="7">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.addToListByMuti(2)">批量加入跟进清单</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items&&vm.items.length">
                    <tr ng-repeat="item in vm.items">
                        <td>
                            <input type="checkbox" ng-model="item.$checked" ng-change="tools.selection()">
                        </td>
                        <td>
                            <i ng-if="item.isFollowed==0" class="iconfont">&#xe62b;</i>
                            <a href="/#/buyer/cfecDetail?buyerId={{item.buyerId}}" target="_blank">{{item.buyerName}}</a>
                            <div class="show-info">
                                <i class="iconfont">&#xe62c;</i>
                                <div class="child-warp">
                                    <ul>
                                        <li>
                                            <span>姓名：</span> {{item.buyerName}}
                                        </li>
                                        <li ng-if="item.userEmail">
                                            <span>邮箱：</span> {{item.userEmail}} ({{item.emailValidation | emailValidationFilter}})
                                        </li>
                                        <li ng-if="item.mobile">
                                            <span>手机：</span> {{item.mobile}}
                                        </li>
                                        <li ng-if="item.telephone">
                                            <span>固话：</span> {{item.telephone}}
                                        </li>
                                    </ul>
                                    <span class="icon-arrow-up"></span>
                                </div>
                            </div>
                        </td>
                        <td>{{item.countryName}}
                            <div class="show-info" ng-if="item.countryName!=null&&item.countryLocalTime!=null">
                                <i class="iconfont">&#xe62e;</i>
                                <div class="child-warp">
                                    <ul>
                                        <li>
                                            <span>当地时间：</span> {{item.countryLocalTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                        </li>
                                    </ul>
                                    <span class="icon-arrow-up"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="show-info" ng-if="item.productType">
                                查看
                                <div class="child-warp">
                                    <ul>
                                        <li>
                                            {{item.productType}}
                                        </li>
                                    </ul>
                                    <span class="icon-arrow-up"></span>
                                </div>
                            </div>

                        </td>
                        <td>{{item.partTimes | showCfecTimes}}</td>
                        <td>{{item.followBuyerLevel}}</td>
                        <td>
                            <p title="最近跟进人">{{item.recentFollower}}</p>
                            <p title="最近跟进时间">{{item.lastTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                            <p title="最近跟进标识">{{item.flagStr}}</p>
                            <p title="最近跟进内容">{{item.followContent}}</p>
                        </td>
                        <td>
                            <a href="javascript:void(0);" ng-if="item.followingId==null" ng-click="tools.addToList(2,item.companyId);">加入跟进清单</a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="!vm.items||!vm.items.length" class="ng-scope">
                    <tr>
                        <td colspan="8">
                            <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="middivs clearfix" ng-include="paginationTemplate"></div>
        </div>
    </div>
</div>