<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>运营管理系统</title>
        <link rel="stylesheet" href="./view/css/oms-style.css">
    </head>

    <body ng-controller="MainCtrl">
        <div class="header {{ $root.isShrink==true?'oms-less':''}}" ng-show="$root.isLogin">
            <div class="header-center">
                <div class="sidebar">
                    <div class="oms-logo"> </div>
                </div>
                <div class="top clearfix">
                    <div class="top-left">
                        <i class=" iconfont" ng-show="!$root.isShrink" ng-click="changeShrink(true)">&#xe616;</i>
                        <i class=" iconfont" ng-show="$root.isShrink" ng-click="changeShrink(false)">&#xe61c;</i>
                        <span class="oms-uername">
            欢迎你， <em ng-bind="MainUserName"></em>
          </span>
                        <p class="oms-date" ng-bind="$root.currentDate | ngcDate:'yyyy年MM月dd日 星期w HH:mm'"></p>
                    </div>
                    <div class="top-right">
                        <div class="oms-user">
                            <img src="../view/images/default-user-logo.png" />
                            <span ng-bind="MainUserName"> </span> <i class=" iconfont info-down">&#xe609;</i>
                            <i class="iconfont info-up">&#xe608;</i>
                            <div class="info-op">
                                <div class="info-content">
                                    <ul>
                                        <li>
                                            <i class="iconfont">&#xe61a;</i> 个人信息
                                        </li>
                                        <li ng-click="exitAccount();">
                                            <i class="iconfont">&#xe61b;</i> 退出帐号
                                        </li>
                                    </ul>
                                    <span class="icon-top"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-view class="oms-main-container {{ $root.isShrink==true?'oms-less':''}}"> </div>
        <ngc-alert-msg class="alert_bar" message="alertMsgService.message" type="alertMsgService.type"> </ngc-alert-msg>
        <script type="text/javascript">
            var categoryUrl = '';
            var coommerurl = '';
            var url = 'http://sit.oms.e-cantonfair.com';
            var imgUrl = "http://image.e-cantonfair.com/";
            var wapUrl = '';
            var _234 = 'http://192.168.200.234:8080';
            var assetsUrl = '';
            var currentUrl = window.location.href;
            if (currentUrl.indexOf('local') != -1) {
                categoryUrl = "http://local.oms.e-cantonfair.com";
                ecDomain = "http://local.e-cantonfair.com";
                coommerurl = "http://local.oms.e-cantonfair.com";
                url = "http://local.oms.e-cantonfair.com";
                imgUrl = "http://192.168.10.17/";
                wapUrl = 'http://172.17.200.72:8080/wap/';
                assetsUrl = 'http://dev.static.e-cantonfair.com';
                sellerUrl = 'http://local.seller.e-cantonfair.com';
            } else if (currentUrl.indexOf('dev') != -1) {
                categoryUrl = "http://dev.oms.e-cantonfair.com";
                ecDomain = "http://dev.e-cantonfair.com";
                coommerurl = "http://dev.oms.e-cantonfair.com";
                url = "http://dev.oms.e-cantonfair.com";
                imgUrl = "http://192.168.10.17/";
                wapUrl = 'http://172.17.200.72:8080/wap/';
                assetsUrl = 'http://dev.static.e-cantonfair.com';
                sellerUrl = 'http://dev.seller.e-cantonfair.com';
            } else if (currentUrl.indexOf('sit1') != -1) {
                categoryUrl = "http://sit1.oms.e-cantonfair.com";
                ecDomain = "http://sit1.e-cantonfair.com";
                coommerurl = "http://sit1.oms.e-cantonfair.com";
                url = "http://sit1.oms.e-cantonfair.com";
                imgUrl = "http://192.168.10.17/";
                wapUrl = 'http://192.168.10.184/wap/';
                assetsUrl = 'http://sit1.static.e-cantonfair.com';
                sellerUrl = 'http://sit1.seller.e-cantonfair.com';
            } else if (currentUrl.indexOf('sit') != -1) {
                categoryUrl = "http://sit.oms.e-cantonfair.com";
                ecDomain = "http://sit.e-cantonfair.com";
                coommerurl = "http://sit.oms.e-cantonfair.com";
                url = "http://sit.oms.e-cantonfair.com";
            } else {
                categoryUrl = "http://oms.e-cantonfair.com";
                ecDomain = "http://www.e-cantonfair.com";
                coommerurl = "http://oms.e-cantonfair.com";
                url = "http://oms.e-cantonfair.com";
                imgUrl = "http://image.e-cantonfair.com/";
                wapUrl = '';
                assetsUrl = 'http://static.e-cantonfair.com';
                sellerUrl = 'http://seller.e-cantonfair.com';
            }
        </script>
        <script src="./components/requirejs/require.js" data-main="config"></script>
    </body>

</html>