
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-accessory"></i>
                    <div class="name">附件</div>
                    <div class="fontclass">.icon-accessory</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mima01"></i>
                    <div class="name">密码</div>
                    <div class="fontclass">.icon-mima01</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shijian"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-shijian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconshanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-iconshanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangpin"></i>
                    <div class="name">商品</div>
                    <div class="fontclass">.icon-shangpin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sandian"></i>
                    <div class="name">三点</div>
                    <div class="fontclass">.icon-sandian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-order"></i>
                    <div class="name">订单</div>
                    <div class="fontclass">.icon-order</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-home"></i>
                    <div class="name">home</div>
                    <div class="fontclass">.icon-home</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dot"></i>
                    <div class="name">dot</div>
                    <div class="fontclass">.icon-dot</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gold"></i>
                    <div class="name">金币</div>
                    <div class="fontclass">.icon-gold</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-user"></i>
                    <div class="name">用户</div>
                    <div class="fontclass">.icon-user</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置:)</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanbushangpin"></i>
                    <div class="name">全部商品</div>
                    <div class="fontclass">.icon-quanbushangpin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-add"></i>
                    <div class="name">add</div>
                    <div class="fontclass">.icon-add</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chacha"></i>
                    <div class="name">叉叉</div>
                    <div class="fontclass">.icon-chacha</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiangmu"></i>
                    <div class="name">项目</div>
                    <div class="fontclass">.icon-xiangmu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gerenziliao"></i>
                    <div class="name">个人资料</div>
                    <div class="fontclass">.icon-gerenziliao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconyonghu"></i>
                    <div class="name">用户</div>
                    <div class="fontclass">.icon-iconyonghu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-medal"></i>
                    <div class="name">信E投—首页—勋章</div>
                    <div class="fontclass">.icon-medal</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbi2fill"></i>
                    <div class="name">关闭2-fill</div>
                    <div class="fontclass">.icon-guanbi2fill</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbi2"></i>
                    <div class="name">关闭2</div>
                    <div class="fontclass">.icon-guanbi2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiahao"></i>
                    <div class="name">加号</div>
                    <div class="fontclass">.icon-jiahao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiahao2fill"></i>
                    <div class="name">加号2-fill</div>
                    <div class="fontclass">.icon-jiahao2fill</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuichu"></i>
                    <div class="name">退出</div>
                    <div class="fontclass">.icon-tuichu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuju"></i>
                    <div class="name">数据</div>
                    <div class="fontclass">.icon-shuju</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-arrow-top"></i>
                    <div class="name">ic_chevron_less</div>
                    <div class="fontclass">.icon-arrow-top</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-arrow-bottom"></i>
                    <div class="name">ic_chevron_more</div>
                    <div class="fontclass">.icon-arrow-bottom</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-contract"></i>
                    <div class="name">合同</div>
                    <div class="fontclass">.icon-contract</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-search"></i>
                    <div class="name">find</div>
                    <div class="fontclass">.icon-search</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shop"></i>
                    <div class="name">店铺</div>
                    <div class="fontclass">.icon-shop</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-car"></i>
                    <div class="name">车</div>
                    <div class="fontclass">.icon-car</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhengqueoms"></i>
                    <div class="name">正确_OMS</div>
                    <div class="fontclass">.icon-zhengqueoms</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuowuoms"></i>
                    <div class="name">错误_OMS</div>
                    <div class="fontclass">.icon-cuowuoms</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jingshioms"></i>
                    <div class="name">警示_OMS</div>
                    <div class="fontclass">.icon-jingshioms</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinxioms"></i>
                    <div class="name">信息_OMS</div>
                    <div class="fontclass">.icon-xinxioms</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xunwenoms"></i>
                    <div class="name">询问_OMS</div>
                    <div class="fontclass">.icon-xunwenoms</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caidanshouqiicon"></i>
                    <div class="name">菜单收起icon</div>
                    <div class="fontclass">.icon-caidanshouqiicon</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caidanshouqiicon1"></i>
                    <div class="name">菜单展开icon</div>
                    <div class="fontclass">.icon-caidanshouqiicon1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuozuo"></i>
                    <div class="name">左左</div>
                    <div class="fontclass">.icon-zuozuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-inquiry"></i>
                    <div class="name">inquiry</div>
                    <div class="fontclass">.icon-inquiry</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-leadexpress"></i>
                    <div class="name">leadexpress</div>
                    <div class="fontclass">.icon-leadexpress</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jian"></i>
                    <div class="name">减</div>
                    <div class="fontclass">.icon-jian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-advertisement"></i>
                    <div class="name">Advertisement</div>
                    <div class="fontclass">.icon-advertisement</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuozuo-copy"></i>
                    <div class="name">左左</div>
                    <div class="fontclass">.icon-zuozuo-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-email"></i>
                    <div class="name">email</div>
                    <div class="fontclass">.icon-email</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mingpian-copy"></i>
                    <div class="name">名片</div>
                    <div class="fontclass">.icon-mingpian-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jinzhi"></i>
                    <div class="name">jz</div>
                    <div class="fontclass">.icon-jinzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sw2"></i>
                    <div class="name">sw2</div>
                    <div class="fontclass">.icon-sw2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zh1"></i>
                    <div class="name">zh1</div>
                    <div class="fontclass">.icon-zh1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-keyword"></i>
                    <div class="name">keyword</div>
                    <div class="fontclass">.icon-keyword</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pass"></i>
                    <div class="name">pass</div>
                    <div class="fontclass">.icon-pass</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-new"></i>
                    <div class="name">new</div>
                    <div class="fontclass">.icon-new</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-free_follow"></i>
                    <div class="name">free_follow</div>
                    <div class="fontclass">.icon-free_follow</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-new_customer1"></i>
                    <div class="name">new_customer</div>
                    <div class="fontclass">.icon-new_customer1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangchuan"></i>
                    <div class="name">上传</div>
                    <div class="fontclass">.icon-shangchuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zai"></i>
                    <div class="name">zai</div>
                    <div class="fontclass">.icon-zai</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
