  <!-- 列表头部导航[[ -->  
  <div class="oms-crumbs"> <i>询盘列表</i>
    <p>
        <a href="">询盘管理</a>
        /
        <span>询盘列表</span>
    </p>
</div>
<div class="content">
    <uib-tabset class="tab-cfec-bordertop" active="0">
        <uib-tab index="0" select="tools.init(0,'tabAll')" >
            <uib-tab-heading class="h5">全部</uib-tab-heading>
        </uib-tab>
        <uib-tab index="1" select="tools.init(0,'tabWaitAudit')">
            <uib-tab-heading class="h5">待审核</uib-tab-heading>
        </uib-tab>
        <uib-tab index="2" select="tools.init(0,'tabPassAudit')">
            <uib-tab-heading class="h5">审核通过</uib-tab-heading>  
        </uib-tab>
        <uib-tab index="3" select="tools.init(0,'tabFailAudit')">
            <uib-tab-heading class="h5">审核不通过</uib-tab-heading>   
        </uib-tab>
    </uib-tabset>
  <div class="scondition-box search-content form-group-main">
            <div class="form-group fl">
                <label for="">询盘类型</label>
                <select class="select-oms" ng-model="paging.messageTypeId">
                    <option value="">请选择</option>
                    <option value="1">产品询盘</option>
                    <option value="5">公司询盘</option>
                </select>
            </div>
             <div class="form-group fl">
                <label for="">询盘ID</label>
                <input ngc-auto-input ngc-monitor-enter ng-model="paging.messageId" class="input-cfec" type="text" />
            </div>
            <div class="form-group fl" ng-if="vm.currentTab=='tabAll'">
                <label for="">审核状态</label>
                <select ng-model="paging.messageState" class="select-oms">
                    <option value="">请选择</option>
                    <option value="1">待审核</option>
                    <option value="2">审核通过</option>
                    <option value="-1">审核不通过</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">采购商</label>
                <div class="oms-search">
                    <select ng-model="paging.ddBuyerType" ng-options="obj.id as obj.name for obj in tools.buyerSearchType">
                        
                    </select>
                    <em> </em>
                    <input ngc-auto-input ngc-monitor-enter type="text" ngc-monitor-enter ng-model="paging.ddBuyerValue" />
                </div>
            </div>
            <div class="form-group fl">
                <label for="">供应商公司名</label>
                <div class="oms-search">
                    <select ng-model="paging.ddSellerType">
                        <option value="1">中文名</option>
                        <option value="2">英文名</option>
                    </select>
                    <em> </em>
                    <input ngc-auto-input ngc-monitor-enter type="text" ngc-monitor-enter ng-model="paging.ddSellerValue" />
                </div>
            </div>

            <div class="form-group fl">
                <label>发布时间</label>
                <input type="text" ngc-lay-date ng-model="paging.startTime" max-date="{{paging.endTime}}" readonly="readonly" id="startTime" class="input-cfec laydate-icon" placeholder="起始日期">
                <span class="text-inline">至</span>
                <input type="text" ngc-lay-date ng-model="paging.endTime" min-date="{{paging.startTime}}" readonly="readonly" id="endTime" class="input-cfec laydate-icon" placeholder="截止日期">
            </div>

             <div class="form-group fl">
                <label for="">来源</label>
                <select class="select-oms" ng-model="paging.source" ng-options="obj.type2 as obj.type2Name for obj in vm.sourceArray" ng-change="tools.getSecondSource()">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="paging.source!=''&&vm.secondSourceArray.length>0">
                <label for="">细分来源</label>
                <select class="select-oms" ng-model="paging.sourceFourType" ng-options="obj.type4 as obj.type4Name for obj in vm.secondSourceArray" >
                    <option value="">请选择</option>
                </select>
            </div>
           
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="tools.search()">查 询</button>
                <button class="btn btn-cfec-white ml20" ng-click="tools.init(1)">重 置</button>
            </div>
            <dl class="row-item mb0 pb20">
                <dt>快速筛选</dt>
                <!-- 需求 583 -->
                <dd ng-if="vm.isFollowerShowFlag" ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[paging.isFollower==1]" ng-click="paging.isFollower = (paging.isFollower==1?0:1);tools.getList();">我跟进采购商发的<span class="icon-checked"></span></dd>
                <dd ng-if="!vm.isFollowerShowFlag" class="ele-checked" >我跟进采购商发的<span class="icon-checked"></span></dd>

                <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[paging.repeat==1]" ng-click="paging.repeat = (paging.repeat==1?0:1);tools.getList();">重复的<span class="icon-checked"></span></dd>
                <dd ng-class="{true: 'ele-checked', false: 'ele-nochecked'}[paging.error==1]" ng-click="paging.error=(paging.error==1?0:1);tools.getList()">有问题的<span class="icon-checked"></span></dd>
            </dl>
        </div>
        <div class="container-list table-cfec table-cfec-theme2">
            <table class="table table-hover">
                <!-- 8列 -->
                <colgroup  ng-if="vm.currentTab=='tabAll'">
                    <col width="9%" />
                    <!-- 发布时间 -->
                    <col width="6%" />
                    <col width="10%" />
                    <!-- 询盘类型 -->
                    <col width="10%" />
                    <!-- 采购商 -->
                    <col width="11%" />
                    <!-- 供应商公司名 -->
                    <col width="11%" />
                    <!-- 标题 -->
                    <col width="15%" />
                    <!-- 审核状态 -->
                    <col width="8%"/>
                    <!-- 标签 -->
                    <col width="10%" />
                    <!-- 操作 -->
                    <col width="10%" />
                </colgroup>
                 <!-- 8列 -->
                <colgroup ng-if="vm.currentTab!='tabAll'">
                    <col width="3%" ng-if="vm.currentTab=='tabWaitAudit'"/>
                    <col width="9%" />
                    <!-- 发布时间 -->
                    <col width="6%" />
                    <col width="10%" />
                    <!-- 询盘类型 -->
                    <col width="12%" />
                    <!-- 采购商 -->
                    <col width="12%" />
                    <!-- 供应商公司名 -->
                    <col width="12%" />
                    <!-- 标题 -->
                    <col width="17%" />
                    <!-- 标签 -->
                    <col width="11%" />
                    <!-- 操作 -->
                    <col width="10%" />
                </colgroup>
                <thead>
                    <tr ng-hide="vm.checkedDatas!= 'undefined' && vm.checkedDatas.length != 0">
                        <th ng-if="vm.currentTab=='tabWaitAudit'"><input type="checkbox" ng-model="vm.isAllChecked" ng-change="tools.toggleCheckAll(vm.isAllChecked)"></th>
                        <th>来源</th>
                        <th>询盘ID</th>
                        <th>发布时间</th>
                        <th>询盘类型</th>
                        <th>采购商</th>
                        <th>供应商公司名</th>
                        <th>主题</th>
                        <th ng-if="vm.currentTab=='tabAll'">审核状态</th>
                        <th>标签</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-show="vm.checkedDatas != 'undefined' && vm.checkedDatas.length != 0">
                        <th ng-if="vm.currentTab=='tabWaitAudit'"><input type="checkbox" ng-model="vm.isAllChecked" ng-change="tools.toggleCheckAll(vm.isAllChecked)"></th>
                        <th colspan="8">
                            <div class="btn-group" ngc-permission="inquiryMgr_inquiryMgrlist_audit">
                                <button ng-click="tools.chgAuditStatus(2)" type="button" class="btn btn-default btn-cfec-white btn-cfec-sm fl mr20">审核通过</button>
                                <button ng-click="tools.chgAuditStatus(-1)" type="button" class="btn btn-default btn-cfec-white btn-cfec-sm fl">审核不通过</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.items track by $index">
                        <!-- checkbox -->
                        <td ng-if="vm.currentTab=='tabWaitAudit'">
                        <input type="checkbox" ng-model="item.$checked" ng-change="tools.setCheckedData()">
                        </td>
                        <td>{{item.sourceValue}}</td>
                        <td>{{item.messageId}}</td>
                        <!-- 发布时间 -->
                        <td>{{item.createTime|date:'yyyy-MM-dd'}}
                            <br/>{{item.createTime|date:'HH:mm:ss'}}
                        </td>
                        <!-- 询盘类型 -->
                        <td>{{item.messageTypeId|messageType}}
                        </td>
                        <!-- 采购商 -->
                        <td>
                            <div title="采购商姓名"><a class="link-cfec-inherit" target="_blank" ng-href="/#/buyer/detail?buyerId={{item.buyerId}}">{{item.buyerName}}</a></div>
                            <div title="公司名称"><a class="link-cfec-inherit" target="_blank" ng-href="/#/buyer/detail?buyerId={{item.buyerId}}">{{item.buyerCompanyName}}</a></div>
                            <!--<div title="邮箱">{{item.email}}</div> -->
                            <!--<div title="用户名">{{item.buyerUserName}}</div>-->
                            <div title="用户ID"><a class="link-cfec-inherit" target="_blank" ng-href="/#/buyer/detail?buyerId={{item.buyerId}}">{{item.buyerUserId}}</a></div>
                            <div title="广交会ID"><a class="link-cfec-inherit" target="_blank" ng-href="/#/buyer/detail?buyerId={{item.buyerId}}">{{item.cantonfairId}}</a></div>
                        </td>
                        <!-- 供应商公司名 -->
                        <td>
                        <div> <a class="link-cfec-inherit" target="_blank" ng-href="/#/seller/detail?sellerId={{item.sellerId}}" title="中文名">{{item.sellerCompanyName}}</a> </div>
                        <div><a class="link-cfec-inherit" target="_blank" ng-href="/#/seller/detail?sellerId={{item.sellerId}}" title="英文名">{{item.sellerCompanyEnName}}</a></div>
                        </td>
                        <!-- 标题 -->
                        <td><a class="link-cfec-inherit" ng-href="/#/inquiryMgr/detail?messageId={{item.messageId}}" target="_blank">{{item.subject}}</a></td>
                        <!-- 审核状态 -->    
                        <td ng-if="vm.currentTab=='tabAll'">{{item.messageState|messageState}}</td>
                        <!-- 标签 -->
                        <td>
                            <p ng-if="item.repeat==1">【重复的】</p>
                            <p ng-if="item.error==1">【有问题】</p>
                        </td>
                        <!-- 操作 -->
                        <td>
                            <span ng-if="item.messageState == 1">
                            <a ngc-permission="inquiryMgr_inquiryMgrlist_audit" href="javascript:void(0)" ng-click="tools.chgAuditStatus(2,item.messageId)">通过</a>
                            <a ngc-permission="inquiryMgr_inquiryMgrlist_audit" href="javascript:void(0)" ng-click="tools.chgAuditStatus(-1,item.messageId)">不通过</a>
                            </span>
                            <a ngc-permission="inquiryMgr_inquiryMgrlist_detail" ng-href="/#/inquiryMgr/detail?messageId={{item.messageId}}" target="_blank" >详情</a></td>
                    </tr>
                    <tr ng-if="vm.items==undefined||vm.items.length==0" >
                        <td colspan="{{vm.currentTab=='tabWaitAudit'||vm.currentTab=='tabAll'?10:9}}">
                            <p class="noResult-Text pt20 pb20 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- 分页组件[[ -->
            <div class="middivs clearfix" ng-include="paginationTemplate"></div>
            <!-- 分页组件[[ -->
        </div> 
    </div>   

<!-- 弹出1 审核通过 -->
<script type="text/ng-template" id="auditPassConfirm.html">
    <div class="activeDlg">
        <div class="dlg-title"></div>
        <div class="dlg-content container-fluid form-group-main">
          <p class="ta-c"><i class="iconfont icon-xunwenoms"></i> 确定审核通过吗？</p>
          <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-disabled="vmdlg.isdisabled" ng-click="save()">确定</button>
            <button class="btn btn-cfec-white" ng-click="close()">取消</button>
          </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="auditNopassConfirm.html">
    <div class="activeDlg">
        <div class="dlg-title"></div>
        <div class="dlg-content form-group-main">
                    <div class="form-group formgroup-cfec-inline row">
                        <label for="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ta-r"><span>*</span>原因</label>
                        <div class="col-md-9 form-group-content">
                                <div class="checkbox fl w130" ng-repeat="rs in vm.chkReasons track by $index">
                                    <label>
                                        <input id="{{rs.auditUnpassReasonId}}" type="checkbox" ng-change="checkChange()" ng-model="rs.$checked"/>
                                        {{rs.reasonName}}
                                    </label>
                                </div>
                        </div>
                    </div>
                    <div class="form-group formgroup-cfec-inline row">
                        <label for="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ta-r"><span ng-show="vm.needNode">*</span>备注</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 form-group-content">
                                <textarea name="reason" class="form-control w250" rows="3" ng-model="vm.note" placeholder="请输入英文，最多250个字符" maxlength="250"></textarea>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="confVm.isSendEmail"/>
                                        发送系统邮件和短信提醒
                                    </label>
                                </div>
                        </div>
                    </div>
       
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-disabled="vmdlg.isdisabled" ng-click="save()">确定</button>
                <button class="btn btn-cfec-white" ng-click="close()">取消</button>
            </div>
        </div>
    </div>
</script>