<div class="oms-crumbs"> <i>数据报表</i>
    <p>
        <a href="">卖家登陆</a> /
        <span>数据报表</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">卖家ID</label>
                <input ngc-auto-input class="input-cfec" type="text" placeholder="卖家ID" ng-model="paging.sellerId" id="sellerId"> </div>
            <div class="form-group fl">
                <label for="">店铺名称</label>
                <input ngc-auto-input class="input-cfec" type="text" placeholder="店铺名称" ng-model="paging.shopName" id="shopName"> </div>
            <div class="form-group fl">
                <label for="">所在地</label>
                <select ngc-select-search name="provinceCode" class="select-oms" ng-options="obj.districtCode as obj.districtCnName for obj in vm.provinceList" ng-model="paging.provinceCode" ng-change="tools.changeProvince()">
                    <option value="">请选择</option>
                </select>
                <span class="text-inline">-</span>
                <select ngc-select-search name="cityCode" class="select-oms" ng-options="obj.districtCode as obj.districtCnName for obj in vm.cityList" ng-model="paging.cityCode">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">最近登录时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.startTime" id="startTime" max-date="{{paging.endTime}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.endTime" id="endTime" min-date="{{paging.startTime}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group fl">
                <label for="">登陆来源</label>
                <select name="loginType" class="select-oms" ng-options="obj.loginType as obj.loginTypeName for obj in tools.loginTypeList" ng-model="paging.loginType">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group btns-group clear">
                <input type="hidden" ng-model="paging.categoryId">
                <button class="btn btn-cfec-red" ng-click="tools.getList();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="tools.exportData()">导出excel表格</button>
                <button class="btn btn-cfec-white" ng-click="tools.initCondition(false)">重&nbsp置</button>
            </div>
        </div>
        <div class="list-content table-cfec report-data">
            <table class="table table-hover ">
                <colgroup>
                    <col width="5%">
                    <col width="10%">
                    <col width="45%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="ta-c">序号</th>
                        <th>卖家ID</th>
                        <th>店铺名称</th>
                        <th>所在地</th>
                        <th>最近登录时间</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length>0">
                    <tr ng-repeat="item in vm.items track by $index">
                        <!-- 序号 -->
                        <td class="ta-c">{{$index+1}}</td>
                        <!-- 卖家ID -->
                        <td>{{item.sellerId}}</td>
                        <!-- 店铺名称 -->
                        <td>{{item.shopName}}</td>
                        <!-- 所在地 -->
                        <td>{{item.provinceName}}{{item.cityName}}</td>
                        <!-- 最近登录时间 -->
                        <td>{{item.lastLoginTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.items==undefined||vm.items.length==0" class="ng-scope">
                    <tr>
                        <td colspan="5">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemplate">
        </div>
    </div>
</div>