<div class="oms-container">
   <!--  <div class="oms-content home-page" style="min-height: 720px;">
        <div class="hp-top">
            <i class="icon iconfont">&#xe612;</i>
            <p class="hp-title">待办事项</p>
            <p class="hp-check">
                您今天共有
                <span>{{vm.totalItem}}</span>个待办事项
            </p>
        </div>
        <ul class="hp-item-list">
            <li>
                <div class="hp-list-head" ng-click="tools.toPage('/buyer')">
                    <span>
        				<i class="icon iconfont">&#xe603;</i>
        			</span>
                    <p>采购商管理</p>
                </div>
                <ol>
                    <li ng-click="tools.toPage('/buyer/list')">
                        <span>
        				0
        			</span>
                        <p>待审核采购商</p>
                    </li>
                    <li ng-click="tools.toPage('/buyer/purchaseReqList')">
                        <span>
        				0
        			</span>
                        <p>待审核采购需求</p>
                    </li>
                </ol>
            </li>
            <li>
            	<div class="hp-list-head" ng-click="tools.toPage('/seller')">
                    <span>
        				<i class="icon iconfont">&#xe606;</i>
        			</span>
                    <p>供应商管理</p>
                </div>
                <ol>
                    <li ng-click="tools.toPage('/seller/list')">
                        <span>
        				0
        			</span>
                        <p>待审核供应商</p>
                    </li>
                     <li ng-click="tools.toPage('/seller/qualificationAuditIndex')">
                        <span>
        				0
        			</span>
                        <p>待审核供应商资质</p>
                    </li>
                    <li ng-click="tools.toPage('/seller/domainNameList')">
                        <span>
        				0
        			</span>
                        <p>待审核专属域名</p>
                    </li>
                     <li ng-click="tools.toPage('/seller/companyImageList')">
                        <span>
        				0
        			</span>
                        <p>待审核公司形象</p>
                    </li>
                     <li ng-click="tools.toPage('/seller/certificateList')">
                        <span>
        				0
        			</span>
                        <p>待审核认证证书</p>
                    </li>
                     <li ng-click="tools.toPage('/seller/videoList')">
                        <span>
        				0
        			</span>
                        <p>待审核视频</p>
                    </li>
                     <li ng-click="tools.toPage('/seller/logoList')">
                        <span>
        				0
        			</span>
                        <p>待审核公司LOGO</p>
                    </li>
                </ol>
            </li>
           <li>
                <div class="hp-list-head" ng-click="tools.toPage('/goods')">
                    <span>
        				<i class="icon iconfont">&#xe603;</i>
        			</span>
                    <p>商品管理</p>
                </div>
                <ol>
                    <li ng-click="tools.toPage('/goods/list')">
                        <span>
        				0
        			</span>
                        <p>待审核商品</p>
                    </li>
                </ol>
            </li>
           
        </ul>
    </div> -->
</div>
