<div class="dlg-title"></div>
<div class="sku-list">
    <div class="sku-item" ng-repeat="item in vm.skuList track by $index">
        <div class="sku-title">{{$index | toEnNumber}} Product</div>
        <div class="sku-op">
            <span ng-if="!vm.isSubmit" class="sku-edit" ng-click="tools.editSku($index);">Edit</span>
            <span ng-if="!vm.isSubmit" class="sku-del" ng-click="tools.delSku($index);">Delete</span>
        </div>
        <div class="sku-top clearfix">
            <p>{{item.productName}}</p>
            <span ng-if="item.priceType==1">{{item.expectNum}} {{item.expectUnit}}</span>
            <span ng-if="item.priceType==2">MOQ</span>

            <i class="iconfont" ng-if="item.boothProcurement">&#xe62a;</i>
        </div>
        <div class="sku-category">{{item.categoryStructureEn}}</div>
        <div class="sku-description">{{item.productDes}}</div>
        <ul>
            <li ng-repeat="fileitem in item.attachArray">
                <span class="icon-attachment"></span>
                <p>{{fileitem.filename}}</p>
            </li>
        </ul>
    </div>
</div>
<form id="addpurchaseform" class="form-group-main pb20">
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span>*</span> Product Name
        </label>
        <div class="col-sm-10">
            <input type="text" class="input-cfec mr5" name="productName" id="productName" placeholder="" ng-model="purchaseInfo.productName" ng-change="tools.productNameChange();" />
            <label for="boothProcurement">
                <input type="checkbox" class="mr5 ng-pristine ng-untouched ng-valid ng-empty" style="margin-top: 9px;" name="boothProcurement" id="boothProcurement" ng-model="purchaseInfo.boothProcurement">展会现场采购需求</label>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span>*</span> Category
        </label>
        <div class="col-sm-10">
            <select class="select-oms w400 mr0" id="sugcategory" name="sugcategory" ng-model="$root.selectedCategory.categoryId" ng-options="obj.categoryId as obj.categoryCascade for obj in $root.selectedCategory.categoryOfSuggestAarry" ng-click="tools.categoryChange();"></select>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row form-desc">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span>*</span> Description
        </label>
        <div class="col-sm-10">
            <textarea name="description" id="description" class="textarea-cfec" placeholder="Message should contain 20-8000 characters." ng-model="purchaseInfo.productDes"></textarea>
            <div class="prop-tips" ng-if=" vm.propMatchArray.length>
                0">
                <h5>Please enter your detail inquiry like:</h5>
                <p ng-repeat="item in  vm.propMatchArray">- {{item.propertyEnName}}</p>
            </div>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span></span> Attachments
        </label>
        <div class="col-sm-10">
            <button class="btn btn-cfec-white" type="button" class="btn btn-cfec-white" value="Upload" ngf-select ngf-change="tools.uploadFile($files)" multiple="multiple" accept="'image/*'" ng-disabled="vm.fileArray.length>=8">Upload</button>
            <ul class="file-list" ng-hide="vm.fileArray.length==0">
                <li ng-repeat="item in vm.fileArray track by $index">
                    <span class="{{item.filename | checkIcon }}"></span>
                    <p>{{item.filename}}</p> <i class="iconfont" ng-click="tools.delFile($index)">&#xe60b;</i>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span>*</span> Purchase quantity
        </label>
        <div class="col-sm-10">
            <div class="input-price clearfix mb10">
                <input ng-click="tools.checkPrice();" type="radio" class="mr5" value="1" name="priceType" ng-model="vm.priceType">
                <input type="number" ng-disabled="vm.priceType==2" class="input-cfec mr10" name="purchaseQuantity" id="purchaseQuantity" ng-model="purchaseInfo.expectNum">
                <select name="expectUnit" ng-disabled="vm.priceType==2" id="expectUnit" ng-model="purchaseInfo.expectUnit" class="select-cfec mr5" ng-options="obj.enName as obj.enName for obj in vm.expectUnitArray"></select>
            </div>
            <label class="input-moq" for="priceType">
                <input ng-click="tools.checkPrice();" type="radio" class="mr5" value="2" id="priceType" name="priceType" ng-model="vm.priceType"> MOQ
            </label>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row" ng-if="vm.skuList.length<9">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"></label>
        <div class="col-sm-10">
            <span class="sku-add" ng-click="tools.addSkuItem();">+ Add more product</span>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span>*</span> Valid Time
        </label>
        <div class="col-sm-10">
            <input readonly ngc-lay-date type="text" class="laydate-icon" id="expiredDate" ng-model="purchaseInfo.endTime" name="expiredDate" />
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span></span> Preferred prices
        </label>
        <div class="col-sm-10">
            <select name="" id="" class="select-cfec mr5" ng-model="purchaseInfo.trading" ng-options="obj.value as obj.key for obj in vm.tradeArray"></select>
            <label for="" class="mr5 pr5">US $</label>
            <input type="number" class="input-cfec mr5 " name="expectPrice" ng-model="purchaseInfo.expectPrice">
            <select name="" id="" class="select-cfec" ng-model="purchaseInfo.expectPriceUnit" ng-options="obj.enName as obj.enName for obj in vm.expectUnitArray"></select>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span></span> Port of Destination
        </label>
        <div class="col-sm-10">
            <input type="text" class="input-cfec" name="portOfArrival" id="portOfArrival" ng-model="purchaseInfo.portOfArrival">
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span></span> Types of Payment
        </label>
        <div class="col-sm-10">
            <select name="" id="" class="select-cfec" ng-model="purchaseInfo.paymentMethod" ng-options="obj.enName as obj.enName for obj in vm.paymentArray"></select>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span></span> Expectation
        </label>
        <div class="col-sm-10 checkbox-content">
            <label ng-repeat="item in vm.expectationArray">
                <input type="checkbox" name="" ng-model="item.flag" value="{{item.value}}">{{item.key}}</label>
            <input type="text" class="input-cfec" name="otherText" id="otherText" ng-disabled="!vm.expectationArray[3].flag" ng-model="vm.expectationArray[3].value">
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span></span> Supplier requirements
        </label>
        <div class="col-sm-10 checkbox-content">
            <label class="" ng-repeat="item in vm.requirementsArray">
                <input type="checkbox" ng-model="item.flag" name="" value="Gold Supplier">{{item.value}}</label>
        </div>
    </div>
    <div class="form-group formgroup-cfec-inline row">
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
            <span></span>
        </label>
        <div class="col-sm-10 purchase-rule">
            <button ng-disabled="vm.isSubmit" type="button" class="btn btn-cfec-red" ng-click="tools.submit();">Submit</button>
            <button type="button" class="btn btn-cfec-white" ng-click="tools.close();">Back</button>
        </div>
    </div>
</form>
<script type="text/ng-template" id="showPanel.html">
    <div class="dlg-title">Select Category</div>
    <div class="out-panel-container">
        <div class="panel-container pb0">
            <div class="input-cfec-icon mr0 w400">
                <input type="text" placeholder="Please enter the category name " class="w300" ng-model="vm.cateKeyword" ng-change="tools.checCatekKeyUp();" ng-keyup="tools.checkCateKeyUp($event);" ng-trim="false" />
                <button ng-click="tools.searchCate();"><i class="iconfont icon-search"></i> </button>
            </div>
            <div class="search-categories" ng-if="vm.searchCategoresList.length>0">
                <ul>
                    <li id="search{{item.categoryId}}" ng-repeat="item in vm.searchCategoresList" class="clearfix" ng-click="tools.chxSelectCate(item);">
                        <span title="{{item.categoryName}}">{{item.categoryName}}:</span>
                        <p title="{{item.categoryTree.join('>>')}}" ng-bind-html="item.categoryTreeHtml"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-container" ng-if="vm.searchCategoresList.length<=0">
            <div class="level pur-cate">
                <ul>
                    <li ng-repeat="item in vm.firstLevelCate" id="categoryId{{item.categoryId}}" ng-click="tools.getChildcate(item.categoryId)">{{item.categoryEname}}<span>&gt; </span></li>
                </ul>
            </div>
            <div class="level pur-cate" ng-repeat="childCateArray in vm.categoryArray">
                <ul>
                    <li ng-repeat="item in childCateArray" id="categoryId{{item.categoryId}}" ng-click="tools.chooseCate(item,$parent.$index)">{{item.categoryEname}}<span ng-if="item.isBottom==0">&gt; </span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-result"> <strong>Select:</strong>
        <ul ng-if="$root.hasSelectCate!=null" class="clearfix">
            <li>{{$root.hasSelectCate.categoryEname}}<i class="iconfont" ng-click="tools.delCategory(item)">&#xe60b;</i></li>
        </ul>
    </div>
    <div class="btn-toolbar clearfix p20">
        <button class="btn btn-cfec-red" ng-click="tools.submit()">Submit</button>
        <button class="btn btn-cfec-white" ng-click="tools.close()">Back</button>
    </div>
</script>
<script type="text/ng-template" id="delPurItemDlg">
    <div class="buyerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c">
                <i class="iconfont icon-xunwenoms"></i>
                <span>确定删除吗？</span>
            </p>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="tools.delSubmit()">确定</button>
                <button class="btn btn-cfec-white" ng-click="tools.delClose()">取消</button>
            </div>
        </div>
    </div>
</script>