<h4 class="buyer-title mt20">更新记录</h4>
<div class="table-cfec mt20">
    <table class="table table-hover">
        <colgroup>
            <col width="33%">
            <col width="33%">
            <col width="34%">
        </colgroup>
        <thead>
            <tr>
                <th>更新时间</th>
                <th>修改人</th>
                <th>原信息记录</th>
            </tr>
        </thead>
        <tbody ng-if="vm.item.updateLog!=undefined&&vm.item.updateLog.length>
    0">
            <tr ng-repeat="item in vm.item.updateLog">
                <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.updateName}}</td>
                <td>
                    <a href="javascript:void(0);" class="cfec-link" ng-click="tools.showUpdateRecord(item.buyerUpdateDto)">查看修改前的信息</a>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="vm.item.updateLog==undefined||vm.item.updateLog.length==0" class="ng-scope">
            <tr>
                <td colspan="3">
                    <p class="noResult-Text pt50 pb50 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>