<div class="pull-right">
    <div class="input-cfec-icon mr0 w300">
        <input  ng-model="buyerPurchase.productName" placeholder="采购需求标题" class="input-cfec" type="text" />
        <button ng-click="tools.getBuyerPurchaseList();"> <i class="iconfont icon-search"></i>
        </button>
    </div>
</div>
<div class="form-group-main">
    <div class="form-group btns-group clear">
        <!-- <button class="btn btn-cfec-white mr20" ng-click="tools.resetBuyerPurchase();">重 置</button> -->
       
        <button ngc-permission="buyer_buyerlist_addProcurement" ng-show="vm.item.isFollower=='true'" class="btn btn-cfec-white" ng-click="tools.addpurchase();">代发采购需求</button>
    </div>
</div>
<div class="table-cfec mt20">
    <table class="table table-hover">
        <colgroup>
            <col width="20%">
            <col width="15%">
            <col width="25%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>标题</th>
                <th>行业类目</th>
                <th>详细描述</th>
                <th>来源</th>
                <th>状态</th>
                <th>有效期限</th>
                <th>发布时间</th>
            </tr>
        </thead>
        <tbody ng-if="vm.buyerPurchaseLsit.length>
        0">
            <tr ng-repeat="item in vm.buyerPurchaseLsit">
                <td>
                    <span ng-show="item.boothProcurement==1" class="iconfont blue" title="展会现场采购需求">&#xe62a;</span>
                    <a class="link-cfec" target="_blank" ng-href="/#/purchase/purchaseReqDetail?purchaseId={{item.procurementId}}">{{item.productName}}</a>
                </td>
                <td>{{item.productCategoryName}}</td>
                <td>{{item.productDesc}}</td>
                <td>
                    {{item.sourceValue}}
                    <span ng-if="item.createByRealName!=null&&item.createByRealName!=''">({{item.createByRealName}})</span>
                </td>
                <td>{{item.procurementState|purchaseState}}</td>
                <td>{{item.endTime|date:'yyyy-MM-dd'}}</td>
                <td>
                    <p>{{item.startTime|date:'yyyy-MM-dd'}}</p>
                    <p>{{item.startTime|date:'HH:mm:ss'}}</p>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="vm.buyerPurchaseLsit==undefined||vm.buyerPurchaseLsit.length==0" class="ng-scope">
            <tr>
                <td colspan="7">
                    <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row-page clearfix">
    <select class="item" ng-model="buyerPurchase.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.buyerPurchasePages" ng-change="tools.getpageByBuyerPurchase(0)"></select>
    <uib-pagination boundary-links="true" total-items="buyerPurchase.total" ng-model="buyerPurchase.page" items-per-page="buyerPurchase.pageSize" class="page-list-style item" ng-change="tools.getpageByBuyerPurchase()" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    <label class="item">
        共
        <big>{{buyerPurchase.total}}</big> 条
    </label>
    <label class="item">转到第</label>
    <input class="ngc-jumppage" type="number" class="item" ng-model="tools.newBuyerPurchasePage">
    <label class="item">页</label>
    <button class="j-jump item" ng-click="tools.getpageByBuyerPurchase(1);">GO</button>
</div>
