
<div class="navList">卖家账号管理 > 外币账号修改审核</div>
<div class="content">
    <div class="head clearfix">
        <div class="tit pull-left">外币账号修改审核</div>
        <div class="search pull-right ">
            <input ngc-auto-input type="text" class="searchTxt" placeholder="收款人姓名" ng-model="paging.name"/>
            <input ngc-auto-input type="text" class="searchTxt" placeholder="公司名称" ng-model="paging.companyName"/>
            <input type="button" class="btn btn-default searchBtn" value="搜索"  ng-click="vm.searchMsg()"/>
        </div>
    </div>
    <div class="tabTable">
        <div class="tab clearfix">
            <button class="j-review"  ng-style="tools.color1" ng-click="vm.change1()">待审核</button>
            <button class="j-pass"  ng-style="tools.color2" ng-click="vm.change2()">审核通过</button>
            <button class="j-noPass"  ng-style="tools.color3" ng-click="vm.change3()">审核不通过</button>
        </div>
        <div>
            <table>
                <thead>
                <tr>
                    <td>序号</td>
                    <td>公司名称</td>
                    <td>申请时间</td>
                    <td>银行全称</td>
                    <td>银行电汇代码</td>
                    <td>收款方开户行所在区域、国家</td>
                    <td>收款人姓名</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.items">
                    <td>{{ $index + 1 + paging.pageSize * (paging.page-1) }}</td>
                    <td>{{ item.payeeCompanyName }}</td>
                    <td>{{ item.submitTime | date:'yyyy-MM-dd'}}</td>
                    <td>{{ item.bankName }}</td>
                    <td>{{ item.cableTransfer }}</td>
                    <td>{{ item.countryName }}</td>
                    <td>{{ item.payeeName }}</td>
                    <td style="width: 6%">
                        <a href="javascript:;" ng-click="tools.showBuyerDetail(item.auditId,0)" ng-hide="tools.hideButton">审核 </a>
                        <a href="javascript:;" ng-click="tools.showBuyerDetail(item.auditId,1)">查看</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class=" middivs clearfix">
                <div class="divright clearfix">
                    <button  class="btn btn-default lastbuttons" ng-click="tools.getnewpage();">GO</button>
                    <input type="text" class="inputs" ng-model="tools.newpagesize">
                    <label class="page-list-style label-style">转到页</label>
                    <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class=" page-list-style" ng-change="tools.getNextPage()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5"></uib-pagination>
                </div>
                <select type="button" class="btn btn-default buttons right-btn" name="" ng-model="paging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in tools.pages" ng-change="tools.getNextPage()"></select>
            </div>
        </div>
    </div>
</div>