<div class="top-help clearfix ">
    <div class="help-form-class ng-pristine ng-valid">
        <p class="p-help-style">
            财务资金管理 &gt; 提现资金审核
        </p>
    </div>
</div>
<!-- 查询条件 -->
<div class="searchTop clearfix">
    <form>
        <div class="row pt-10">
            <div class="col-xs-4 col-pl-5">
                <lable>卖家账号</lable>
                <input ngc-auto-input class="ipt ipt-s"  type="text" class="searchTxt"  ng-model="paging.sellerName">
            </div>
            <div class="col-xs-4 col-pl-5">
                <lable>虚拟资金流水号</lable>
                <input ngc-auto-input class="ipt ipt-s"  type="text" class="searchTxt"  ng-model="paging.capitalTurnoverId">
            </div>
            <div class="col-xs-4 col-pl-5">
                <lable>交易流水号</lable>
                <input ngc-auto-input class="ipt ipt-s"  type="text" class="searchTxt"  ng-model="paging.tranNo">
            </div>
        </div>
        <div class="row pt-10">
            <div class="col-xs-6 col-pl-5 the-time">
                <label class="fl">生成时间</label>
                <input readonly ng-click="open1($event)" class="ipt ipt-s fl ml10" type="text"  placeholder="起始日期" uib-datepicker-popup="yyyy/MM/dd" is-open="opened1"
                       min-date="'1997-06-22'"  close-text="Close" max-date="paging.endTimes" datepicker-options="dateOptions"
                       ng-model="paging.startTimes">
               
                <label class="fl pl10 pr10">至</label>
                <input readonly ng-click="open2($event)" class="ipt ipt-s fl" type="text" uib-datepicker-popup="yyyy/MM/dd" placeholder="结束日期" is-open="opened2"
                       min-date="paging.startTimes"  close-text="Close" datepicker-options="dateOptions" ng-model="paging.endTimes">
               
            </div>
            <div class="col-xs-6 col-pl-5 the-time">
                <label class="fl">审核时间</label>
                <input readonly ng-click="open3($event)" class="ipt ipt-s fl ml10" type="text"  placeholder="起始日期" uib-datepicker-popup="yyyy/MM/dd" is-open="opened3"
                       min-date="'1997-06-22'"  close-text="Close" max-date="paging.auditEnd" datepicker-options="dateOptions"
                       ng-model="paging.auditStart">
               
                <label class="fl pl10 pr10">至</label>
                <input readonly ng-click="open4($event)" class="ipt ipt-s fl" type="text" uib-datepicker-popup="yyyy/MM/dd" placeholder="结束日期" is-open="opened4"
                       min-date="paging.auditStart"  close-text="Close" datepicker-options="dateOptions" ng-model="paging.auditEnd">
                
            </div>
        </div>
        <div class="row  pt-10">
            <div class="col-xs-8 col-pl-5">

                <select class="ipt ipt-xxs" ng-model="paging.tranCur">
                    <option value="">交易币种</option>
                    <option value="USD">美元</option>
                    <option value="CNY">人民币</option>
                </select>

                <select class="ipt ipt-xxs" ng-model="paging.withdrawCur">
                    <option value="">提现币种</option>
                    <option value="USD">美元</option>
                    <option value="CNY">人民币</option>
                </select>
                <!-- 1:审核通过 0:待审核 2:审核不通过 3:提现成功 -->
                <select class="ipt ipt-xxs" ng-model="paging.auditStatus">
                    <option value="">操作状态</option>
                    <option value="0">待审核</option>
                    <option value="2">审核不通过</option>
                    <option value="1">审核通过</option>
                    <option value="3">提现成功</option>
                </select>
                <select class="ipt ipt-xxs" ng-options="obj.userId as obj.userName for obj in vm.auditPerson" ng-model="paging.auditBy">
                    <option value="">审核人</option>
                </select>
            </div>
        </div>
        <div class="row but pt-10">
            <div class="col-xs-6 col-xs-offset-6">
                <input ng-click="tools.getList();" type="submit" value="查询"/>
                <input class="btn-reset" type="reset" ng-click="tools.initCondition(false)" value="重置"/>
                <input ng-click="tools.setRate();" style="width: 120px" type="submit" value="设置汇率参考值"/>
            </div>
        </div>
    </form>
</div>
<!-- 查询列表 -->
<div class="content">
    <div class="tabTable">
        <table class="table-hover" style="width: 1700px">
            <thead>
            <tr>
                <!--
                <td width="3%">序号</td>
                -->
                <td width="7%">虚拟资金流水号</td>
                <td width="7%">交易流水号</td>
                <td width="7%">生成时间</td>
                <td width="8%">卖家账号</td>
                <td width="15%">提现银行账号</td>
                <td width="4%">交易币种</td>
                <td width="6%">交易金额</td>
                <td width="5%">汇率</td>
                <td width="5%">手续费</td>
                <td width="4%">提现币种</td>
                <td width="6%">实际提现金额</td>
                <td width="5%">审核状态</td>
                <td width="14%">操作信息</td>
                <td width="7%">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items track by $index">
                <!--
                <td>{{$index+1}}</td>
                -->
                <!-- 虚拟资金流水号 -->
                <td>{{item.capitalTurnoverId}}</td>
                <!-- 交易流水号 -->
                <td >{{item.tranNo}}</td>
                <!-- 生成时间 -->
                <td>{{item.requestTime| date:'yyyy-MM-dd'}}</br>
                    {{item.requestTime| date:'HH:mm:ss'}}</td>
                <!-- 卖家账号 -->
                <td>{{item.sellerName}}</td>
                <!-- 提现银行账号 -->
                <td>
                    <p ng-if="item.toCurrency!='CNY'">{{item.foreignAccount.bankName}}<br/>
                    银行帐号:{{item.foreignAccount.account}}<br/>
                    开户姓名:{{item.foreignAccount.payeeName}}<br/>
                    公司名称:{{item.foreignAccount.payeeCompanyName}}
                    </p>
                    <p ng-if="item.toCurrency=='CNY'">{{item.homeAccount.depositBankName}}<br/>
                        银行帐号:{{item.homeAccount.accountNo}}<br/>
                        开户姓名:{{item.homeAccount.name}}<br/>
                        公司名称:{{item.homeAccount.companyName}}
                    </p></td>
                <!-- 交易币种 -->
                <td>{{item.currency}}</td>
                <!-- 交易金额 -->
                <td>{{item.amount}}</td>
                <!-- 汇率 -->
                <td>{{item.exchangeRate}}</td>
                <!-- 手续费 -->
                <td>{{item.procedureFee}}</td>
                <!-- 提现币种 -->
                <td>{{item.toCurrency}}</td>
                <!-- 实际金额 -->
                <td>{{item.actualAmount}}</td>
                <!-- 操作状态 -->
                <td>{{item.auditStatus|withdrawnAuditType}}</td>
                <!-- 操作信息 -->
                <td><div ng-show="item.auditStatus!=0">
                    审核人:{{item.auditorName}}<br/>
                    审核时间：{{item.auditTime|date:'yyyy-MM-dd'}}</div>
                    <div ng-show="item.auditStatus ==2">
                        原因：{{item.reason}}
                        </div>
                </td>
                <!-- 操作 -->
                <td>
                    <!-- 1:审核通过 0:待审核 2:审核不通过 3:提现成功 -->
                    <p  ng-show="item.auditStatus ==0" >
                        <a ng-click="tools.financeAudit(item.capitalTurnoverId,item.payLogActionId)" href="javascript:;">审核</a>
                        <br/>
                        <a ng-click="tools.toSellerVAccountDetail(item.sellerId)" href="javascript:;">卖家虚拟账户</a>
                    </p>
                        <!-- ng-show="item.capitalTurnoverLogAudit.auditStatus !=1" -->
                    <p ng-show="item.auditStatus !=0">
                        <a ng-click="tools.toHistory(item.capitalTurnoverId)" href="javascript:;">查看历史</a>
                    </p>

                    <p ng-show="item.auditStatus ==1">
                        <a ng-click="tools.confirmPay($index)" href="javascript:;">确认付款</a>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class=" middivs clearfix">
        <div class="divright clearfix">
            <select ng-model="paging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.pages"
                    ng-change="tools.getList()"></select>
            <button  class="btn btn-default lastbuttons" ng-click="tools.getnewpage();">GO</button>
            <input type="text" class="inputs" ng-model="tools.newpagesize">
            <label class="page-list-style label-style">转到页</label>
            <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class="page-list-style" ng-change="tools.getList()" max-size="5"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</div>


<!-- 弹出1 是否审核通过 -->
<script type="text/ng-template" id="financeWithdrawAudit.html">
    <div class="modal-header">
        <h4 class="modal-title">财务资金审核</h4>
    </div>
    <div class="modal-body font-14">
        <form role="form" name="auditForm" class="form-horizontal" novalidate>
            <div class="form-group">
                <div class="col-sm-6 text-right">
                    <lable for="ok">通过</lable>
                    <input id="ok" type="radio" ng-model="vm.item.status" name="status" value="1" />
                </div>
                <div class="col-sm-6 text-left">
                    <lable for="no">不通过</lable>
                    <input id="no" type="radio" ng-model="vm.item.status" name="status" value="2" />
                </div>
            </div>
            <div class="form-group" ng-show="vm.item.status==2">
                <label class="col-sm-2 control-label">原因</label>
                <div class="col-sm-8">
                    <textarea ng-model="vm.item.reason" rows="3" placeholder="最多120个字符" name="reason" class="form-control" required maxLength="120"></textarea>
                    <span ng-show="auditForm.$dirty && auditForm.reason.$invalid" class="error-valid">请填写验证不通过原因,最多120个字符</span>
                </div>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-warning" type="button"   ng-click="func.save(auditForm.$valid)">确认</button>
                <button class="btn btn-base" type="button" ng-click="func.cancel()">取消</button>
            </div>
        </form>
    </div>
</script>

<!-- 弹出2 确认付款 -->
<script type="text/ng-template" id="financePayConfirm.html">
    <div class="modal-header">
        <h4 class="modal-title">财务资金审核</h4>
    </div>
    <div class="modal-body font-14">
        <form role="form" name="confirmForm" class="form-horizontal" novalidate>

            <div class="form-group">
                <label class="col-sm-3 control-label">交易流水号</label>
                <div class="col-sm-8">
                    <input ng-model="vm.item.tranNo"  name="tranNo" class="form-control" required>
                    <span ng-show="confirmForm.$dirty && confirmForm.tranNo.$invalid" class="error-valid">请填写交易流水号</span>
                </div>
            </div>
            <div class="form-group" ng-if="vm.withdrawCurrency != null">
                <label class="col-sm-3 control-label">实际金额</label>
                <div class="col-sm-3">
                    <input ng-model="vm.withdrawCurrency" name="currency" class="form-control" readonly>
                </div>
                <div class="col-sm-5">
                    <input ng-model="vm.item.actualAmount" placeholder="请输入不多于5位小数的实际金额"  name="actualAmount" class="form-control" required="" pattern="^\d{1,9}(\.?\d{0,5})?$">
                    <span ng-show="confirmForm.$dirty && confirmForm.actualAmount.$invalid" class="error-valid">请输入不多于5位小数的实际金额</span>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-warning" type="button"   ng-click="func.save(confirmForm.$valid)">确认</button>
                <button class="btn btn-base" type="button" ng-click="func.cancel()">取消</button>
            </div>
        </form>
    </div>
</script>

<!-- 弹出2 设置汇率 -->
<script type="text/ng-template" id="setExchangeRate.html">
    <div class="modal-header">
        <h4 class="modal-title">设置汇率参考值</h4>
    </div>
    <div class="modal-body font-14">
        <form role="form" name="rateForm" class="form-horizontal" novalidate>

            <div class="form-group">
                <label class="col-sm-3 control-label">美元兑人民币汇率</label>
                <div class="col-sm-7">
                    <input ng-model="vm.item.us2cny" placeholder="请输入4位小数的汇率"  name="us2cny" class="form-control"  required pattern="^\d{1,9}\.?\d{4}$">
                    <span ng-show="rateForm.$dirty && rateForm.us2cny.$invalid" class="error-valid">请填写正确格式的汇率,要求4位小数</span>
                </div>
            </div>
            <!--
            <div class="form-group">
                <label class="col-sm-3 control-label">人民币兑美元汇率</label>
                <div class="col-sm-7">
                    <input ng-model="vm.item.cny2us"  name="cny2us" class="form-control" required pattern="^\d{1,9}\.?\d{0,6}$">
                    <span ng-show="rateForm.$dirty && rateForm.cny2us.$invalid" class="error-valid">请填写正确格式的汇率</span>
                </div>
            </div>
            -->
            <div class="form-group text-center">
                <button class="btn btn-warning" type="button"   ng-click="func.save(rateForm.$valid)">确认</button>
                <button class="btn btn-base" type="button" ng-click="func.cancel()">取消</button>
            </div>
        </form>
    </div>
</script>
