@import "./variables.styl"
// @import "./mixin.styl"
@import "./mixins/index.styl"

//  head
header
 grid-size($head-h, $head-w)
 background: #FFF 
 position: fixed
 top: 0
 z-index: 1000
 border-1px-b(rgba(0,0,0,0.12))

.c-head
 &-title
  display: block
  height: 100%
  line-height: (88/40)rem
  width 12rem
  font-size: .9rem
  text-align center
 &-back
  display: inline-block
  height: 100%
  padding: 0 1.4rem 
  background: url("./images/icon_back_light.png") no-repeat $left-24 center
  background-size: (20/40)rem (38/40)rem
 &-next
  height: 100%
  padding: 0 .6rem
  font-size: .8rem
  color: rgba(0,0,0,0.20) 
  line-height: 2.2rem
  letter-spacing: -0.81px  
  position absolute
  right: 0
  top: 50%
  transform: translateY(-50%)
  -webkit-transform: translateY(-50%)
 &-cancel
  display inline-block
  height: 100%
  padding: 0 .6rem
  font-size: .8rem
  line-height 2.2rem
  color: $fs-color-active
  letter-spacing: -0.81px
 &-backhome
  height: 1.2rem
  width: 1.2rem
  position: absolute
  right: 1rem
  top: 50%
  transform: translateY(-50%)
  -webkit-transform: translateY(-50%)
  background: url("./images/icon_tab_home_nor.png") no-repeat
  background-size: contain
   
 
//  类目list
.c-cat
 &-ul
  background: #fff
  margin-top: 2.2rem 
 &-item
  height: 2.4rem
  font-size: .8rem;
  color: rgba(0,0,0,0.87);
  letter-spacing: -0.81px;
  line-height: @height;
  background: url("./images/icon_list_arrow.png") no-repeat 16.8rem center
  background-size: .8rem 1.2rem
  border-1px-b(rgba(0, 0, 0, .12), false)
  span
   padding-left: $left-24
 

// mint-ui 底部弹出框
.mint-popup
 &-bottom
  width: 100%
 &-cancel
  float: left
  margin-left: .6rem
  color: #ff0030
  line-height: 40px
 &-done
  float: right
  margin-right: .6rem
  color: #ff0030
  line-height: 40px

// textarea 
.c-textarea
  grid-size(6rem, 100%)
  font-size: .7rem;
  letter-spacing: -0.21px;
  line-height: 1rem
  padding: .6rem
  margin: .6rem 0 

// 上传ui
.c-upload
 &-btn-default
  upload-btn()
 &-btn-reply
  upload-btn(false) 
 &-wrap-img
  padding-bottom: 3rem
  div
   width: 3.5rem
   height: 3.5rem
   padding: .4rem
   margin-left: $left-24 
   float: left
   position: relative
   background: #fff
 &-img
  grid-size(100%)
 &-del-icon
   grid-size(1.2rem)
   position absolute
   right: 0 
   top: 0
 &-plu-icon 
  grid-size(.6rem)
  display: inline-block
  text-align center
  font-size: .7rem
  position relative
  border: .5px solid #0066cc
  border-radius: 100%
  -webkit-border-radius: 100%
  vertical-align middle
  &:after
   content: ""
   width: 1px
   height: .4rem
   display: block
   position: absolute
   top: 50%
   left: 50%
   background: #0066cc
   transform: translate(-50%, -50%)
   -webkit-transform: translate(-50%, -50%)
  &:before
   content: ""
   display: block
   height: 1px
   width: .4rem
   background: #0066cc
   position: absolute
   top:50%
   left: 50%
   transform: translate(-50%, -50%) 
   -webkit-transform: translate(-50%, -50%)

//商品 店铺询盘按钮
.c-inquiry-footer-btn
 display:block
 width 100%
 height 3rem
 background: #fff
 position: fixed
 bottom: 0
 z-index 700
 span
  display block
  width 17.55rem
  height:2rem
  background: #ff0030
  color: #fff
  text-align center
  line-height 2rem
  font-size .8rem
  position absolute
  left:.6rem
  top: .6rem
  border-radius 4px   
  -webkit-border-radius 4px

// booth
.c-booth-wrap
 margin-bottom: .6rem 
 margin-top: .6rem 
 .c-booth
  display: block
  height: 2.4rem
  line-height:2.4rem
  font-size: .8rem;
  color: rgba(0,0,0,0.87);
  letter-spacing: -0.81px;
  background: #fff url("./images/icon_booth.png") no-repeat .6rem center
  background-size: 1rem 1rem
  position: relative
  & + .c-booth
   border-1px-t(rgba(0, 0, 0, .12),false)
 span
  padding-left: 2.4rem
 a
  color: #ff0030 
  display: block
  width:2.2rem
  height: 1.4rem
  line-height: 1.4rem
  border: 1px solid #ff0030
  border-radius: 4px
  text-align center
  position absolute
  right: .6rem;
  top: 50%
  transform translateY(-50%)

// infinite load
.page-infinite-wrapper
  position absolute
  top: 0
  width: 100%
  overflow: auto

// 底部loading
.bottom-loading
 height: 2rem
 line-height: 2rem
 text-align center
 font-size: .9rem
 color: rgba(0,0,0,0.87)

 // 询盘 ， 采需 rejected

.c-rejected-wrap
 padding: .7rem
 .rejected-title
  margin-bottom .3rem
  font-size: .9rem
  color: rgba(0,0,0,0.87)
  letter-spacing: -0.9px
  line-height: .9rem
  .rejected-icon
   height: 1rem
   width: 1rem
   display: inline-block
   background: #FFCA00
   border-radius: 100%
   -webkit-border-radius: 100%
   color: #fff
   text-align: center
   margin-right: .7rem
 .rejected-reason
 .rejected-content
  font-size: .7rem
  color: rgba(0,0,0,0.87)
  letter-spacing: -0.61px
  line-height: 1rem

// 附件 
.c-attachment
  display: block
  height: 2.4rem  
  padding-left: .6rem
  margin-top: .6rem
  font-size: .8rem  
  color: rgba(0,0,0,0.26)
  letter-spacing: -0.81px
  line-height: 2.4rem
  background: #fff url("./images/icon_list_arrow.png") no-repeat 16.8rem center
  background-size: .8rem 1.2rem

// mint-ui
.messagebox-cencel-btn 
 color: #26a2ff
 font-size: .9rem
 
.messagebox-confirm-btn
 color: #26a2ff
 font-size: .8rem

.mint-msgbox 
 border-radius: 10px !important

.mint-msgbox-message
 color: rgba(0, 0, 0, .86) !important
 
.mint-switch-input:checked + .mint-switch-core 
 border-color: #4DE800 !important
 background-color: #4DE800 !important

.fl
 float: left;
.fr
 float: right;
.clearfix
 zoom:1;
.clearfix:after
 content:'.';
 display:block;
 height:0;
 clear:both;
 visibility:hidden;