<h1><!--身份认证-->{{'SET' | translate}}</h1>
<div class="alert alert-info">
   <!--为保障卖家帐户安全，通过身份认证后，禁止卖家出租，出借、转让其帐户。如有相关行为，由此产生的一切风险及相关责任由卖家自行承担，广电商有权关闭被出租，出借或转让的帐户。-->
  {{'TIPS.AUTH' | translate}}
</div>
<form name="auth" ng-submit="next()" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><span class="red">*</span><!-- 联系人姓名 -->{{'CONTACT_PER' | translate}}: </label>
    <div class="col-sm-10">
      <input type="text" name="contactName"
        ng-minlength="2"
        ng-model="vm.contactName" required>
      {{vm.contactName}}
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><span class="red">*</span><!-- 联系人身份证号 -->{{'CONTACT_PERCARD' | translate}}: </label>
    <div class="col-sm-10">
      <input type="number" name="contactIdcard"
       ng-minlength="15"
       ng-maxlength="18"
       ng-model="vm.contactIdcard" required>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><span class="red">*</span><!-- 公司名称 -->{{'COMP_NAME' | translate}}: </label>
    <div class="col-sm-10">
      <input type="text" name="companyName"
        ng-minlength="2"
        ng-model="vm.companyName" required>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><span class="red">*</span><!-- 营业执照号 -->{{'BUSI_LICENSE' | translate}}: </label>
    <div class="col-sm-10">
      <input type="text" name="bizLicence"
       ng-minlength="10"
       ng-model="vm.bizLicence" required>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><span class="red">*</span><!-- 组织机构代号 -->{{'ORG_CODE' | translate}}: </label>
    <div class="col-sm-10">
      <input type="text" name="orgCode"
        ng-minlength="2"
        ng-model="vm.orgCode" required>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><span class="red">*</span><!-- 税务登记号 -->{{'TAX_CODE' | translate}}: </label>
    <div class="col-sm-10">
      <input type="text" name="taxRegCode"
       ng-minlength="2"
       ng-model="vm.taxRegCode" required>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><span class="red">*</span><!-- 企业法人 -->{{'LEAL_PERSON' | translate}}: </label>
    <div class="col-sm-10">
      <input type="text" name="bizEntity"
       ng-minlength="2"
       ng-model="vm.bizEntity" required>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><span class="red">*</span><!-- 法人身份证号 -->{{'LEAL_PERCARD' | translate}}: </label>
    <div class="col-sm-10">
      <input type="text" name="bizId"
        ng-minlength="2"
        ng-model="vm.bizId" reuqired>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" ng-disabled="auth.$invalid">
		<!-- 提交认证资料 -->{{'OPR.SUBMIT' | translate}}</button>
    </div>
  </div>
</form>