<div class="top-help clearfix ">
    <form class="help-form-class ng-pristine ng-valid">
        <p class="p-help-style">
            品牌管理 &gt; 企业品牌管理 &gt; 企业品牌列表
        </p>
    </form>
</div>

<div class="brand">
    <div class="search-pannel">
        <div class="row">
            <div class="con col-xs-4">
                <label>企业名称</label><input ngc-auto-input type="text"/>
            </div>
            <div class="con col-xs-4">
                <label>申请人帐号</label><input ngc-auto-input type="text"/>
            </div>
            <div class="con col-xs-4">
                <label>品牌类型</label><input ngc-auto-input type="text"/>
            </div>
        </div>
        <div class="row pt-10">
            <div class="con col-xs-4">
                <label>品牌中文名称</label><input ngc-auto-input type="text"/>
            </div>
            <div class="con col-xs-4">
                <label>品牌中文名称</label><input ngc-auto-input type="text"/>
            </div>
            <div class="con col-xs-4">
                <label></label>
                <input class="btn-opr" type="button" value="搜索"/>

            </div>
        </div>
    </div>
</div>

<div class="content brand">
    <div class="topdivs clearfix">
        <div class="dleft">
            <div class="btn-group " role="group" >
                <button type="button" class="btn btn-default butstyle" ng-style="myColor1" ng-click="paging.auditStatus=2;paging.page = 1;paging.isOnline=1;tools.getSellerList();">待审核</button>
                <button type="button" class="btn btn-default midbutstyle" ng-style="myColor2" ng-click="paging.auditStatus=3;paging.page = 1;tools.getSellerList();">审核通过</button>
                <button type="button" class="btn btn-default midbutstyle" ng-style="myColor3" ng-click="paging.auditStatus=-1;paging.page =1;tools.getSellerList();">审核不通过</button>
            </div>
        </div>
    </div>

    <div class="tabTable">

        <div>
            <table>
                <thead>
                <tr>
                    <td>品牌中文名称</td>
                    <td>品牌英文名称</td>
                    <td>Logo</td>
                    <td>企业名称</td>
                    <td>申请人帐号</td>
                    <td>品牌类型</td>
                    <td>品牌拥有者</td>
                    <td>所属分类</td>
                    <td>品牌有效期</td>
                    <td>申请时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>品牌中文名称</td>
                    <td>品牌英文名称</td>
                    <td>Logo</td>
                    <td>企业名称</td>
                    <td>申请人帐号</td>
                    <td>品牌类型</td>
                    <td>品牌拥有者</td>
                    <td>所属分类</td>
                    <td>品牌有效期</td>
                    <td>申请时间</td>
                    <td><a href="javascript:;">审核</a> &nbsp;<a href="javascript:;">查看详情</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>