<div class="oms-crumbs"> <i>【{{vm.title}} 】线上活动素材审核</i>
    <p>
        <a href="">活动管理</a> /
        <span>线上活动报名列表</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="1" justified="false">
            <uib-tab index="0" ng-click="tools.initTab(null)">
                <uib-tab-heading>全部</uib-tab-heading>
            </uib-tab>
            <uib-tab index="1" ng-click="tools.initTab(2)">
                <uib-tab-heading>待审核</uib-tab-heading>
            </uib-tab>
            <uib-tab index="2" ng-click="tools.initTab(3)">
                <uib-tab-heading>审核通过</uib-tab-heading>
            </uib-tab>
            <uib-tab index="3" ng-click="tools.initTab(-1)">
                <uib-tab-heading>审核不通过</uib-tab-heading>
            </uib-tab>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">报名公司中文名称:</label>
                <input type="text" ngc-monitor-enter class="input-cfec" ng-model="paging.companyName" placeholder="报名公司中文名称">
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="tools.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="tools.reset();">重&nbsp置</button>
                <button ng-if="paging.status==3" class="btn btn-cfec-white" ng-click="tools.export();">导出Excel</button>
            </div>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <!-- 全部 -->
                <colgroup>
                    <col ng-if="paging.status!=null" width="3%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr ng-if="!vm.showOperateFlag">
                        <th ng-if="paging.status!=null">
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th>报名公司</th>
                        <th>报名时间</th>
                        <th>素材类型及ID</th>
                        <th>素材标题</th>
                        <th>推广图片</th>
                        <th>推广文案</th>
                        <th>状态</th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag">
                        <th ng-if="paging.status!=null">
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th colspan="7">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus(3)" ng-show="paging.status!=3">审核通过</button>
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus(-1)" ng-show="paging.status!=-1">审核不通过</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length">
                    <tr ng-repeat='item in vm.items'>
                        <td ng-if="paging.status!=null">
                            <input type="checkbox" ng-model="item.$checked" ng-change="tools.selection()">
                        </td>
                        <td>
                            <a target="_blank" ng-href="/#/seller/detail?sellerId={{item.sellerId}}">
                                <p> <span class="seller-cfec-icon" ng-if="item.isExhibition==1"></span> {{item.companyName}}</p>
                            </a>
                            <p ng-if="item.packageName">({{item.packageName}})</p>
                        </td>
                        <td>{{item.applyTime | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>
                            <!-- <a target="_blank" ng-href="{{item.materialLink}}">
                                {{item.materialType==1?'产品':'店铺'}}{{item.materialId}}
                            </a> -->
                            <a target="_blank" ng-href="{{item.materialId | materialLinkFiler:item.materialType}}">
                                {{item.materialType==1?'产品':'店铺'}}{{item.materialId}}
                            </a>
                        </td>
                        <td>{{item.materialTitle}}</td>
                        <td>
                            <div ng-if="!tools.isVedio(item.promotePictrue)">
                                <img ng-src="{{item.promotePictrue | setImgSize:60:60}}">
                            </div>
                            <div ng-if="tools.isVedio(item.promotePictrue)">
                                <img ng-src="/view/images/video-default.png" width="60" height="60">
                                <a ng-if="tools.isVedio(item.promotePictrue)" ng-href="{{item.promotePictrue | serverFile}}" target="_blank">下载</a>
                            </div>
                        </td>
                        <td>{{item.promoteCopywriting}}</td>
                        <td>
                            <p> {{item.status | activityStatus}}</p>
                            <p ng-if="item.status==-1&&item.reason" style="color:#ed4d4d">({{item.reason}})</p>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="!vm.items||!vm.items.length" class="ng-scope">
                    <tr>
                        <td colspan="8">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemplate"> </div>
    </div>
</div>