<div class="oms-crumbs"> <i>供应商列表</i>
    <p>
        <a href="">供应商管理</a> /
        <span>供应商列表</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-seller">
        <uib-tabset class="tab-cfec-bordertop" active="1" justified="false">
            <uib-tab index="0" ng-click="tools.reset();paging.statusTab=-10;tools.getSellerLst();">
                <uib-tab-heading>全部</uib-tab-heading>
            </uib-tab>
            <uib-tab index="1" ng-click="tools.reset();paging.statusTab=2;tools.getSellerLst();">
                <uib-tab-heading>待审核</uib-tab-heading>
            </uib-tab>
            <uib-tab index="2" ng-click="tools.reset();paging.statusTab=3;tools.getSellerLst();">
                <uib-tab-heading>审核完成</uib-tab-heading>
            </uib-tab>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">搜索</label>
                <div class="oms-search">
                    <select name="" id="" ng-model="paging.qKey" ng-options="obj.value as obj.key for obj in vm.searchTypeArray">
                        <option value="">搜索类型</option>
                    </select> <em></em>
                    <input ngc-auto-input type="text" ngc-monitor-enter name="" id="" ng-model="paging.qValue" />
                </div>
            </div>
            <div class="form-group fl" ng-if="paging.statusTab!=3">
                <label for="">基本信息</label>
                <select class="select-oms" ng-model="paging.auditStatus">
                    <option value="">-身份审核状态-</option>
                    <option value="2">待审核</option>
                    <option value="3">审核通过</option>
                    <option value="-1">审核不通过</option>
                </select>
                <span class="text-inline"></span>
                <select class="select-oms" ng-model="paging.sellerAuthAuditStatus">
                    <option value="">-资质审核状态-</option>
                    <option value="2">待审核</option>
                    <option value="3">审核通过</option>
                    <option value="-1">审核不通过</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="paging.statusTab!=3">
                <label for="">店铺信息</label>
                <select class="select-oms" ng-model="paging.shopStatus">
                    <option value="">-店铺开通状态-</option>
                    <option value="0">未提交</option>
                    <option value="1">已开通</option>
                </select>
                <span class="text-inline"></span>
                <select class="select-oms" ng-model="paging.otherInfoAuditStatus">
                    <option value="">-其他资料审核状态-</option>
                    <option value="0">待审核</option>
                    <option value="1">审核完成</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="paging.statusTab!=3">
                <label for="">商品信息</label>
                <select class="select-oms" ng-model="paging.productStatus">
                    <option value="">-商品审核状态-</option>
                    <option value="0">待审核</option>
                    <option value="1">审核完成</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="paging.statusTab!=3">
                <label for="">邮件推广</label>
                <select class="select-oms" ng-model="paging.promotionMailStatus">
                    <option value="">-邮件推广审核状态-</option>
                    <option value="0">待审核</option>
                    <option value="1">审核完成</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">主营行业</label>
                <select ngc-select-search name="indusId" id="" class="select-oms" ng-model="paging.mainCategoryId" ng-options="obj.categoryId as obj.categoryName for obj in vm.categorys1List">
                    <option value="">主营行业</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="paging.statusTab==-10">
                <label for="">来源</label>
                <select name="" id="" class="select-oms" ng-model="paging.source" ng-options="obj.type2 as obj.type2Name for obj in vm.sourceArray" ng-change="tools.getSecondSource()">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="paging.statusTab==-10&&paging.source!=''&&paging.source!=null&&vm.secondSourceArray.length>0">
                <label for="">细分来源</label>
                <select class="select-oms" ng-model="paging.sourceFourType" ng-options="obj.type4 as obj.type4Name for obj in vm.secondSourceArray">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="paging.statusTab!=-10">
                <label for="">套餐类型</label>
                <select ngc-select-search name="packageId" class="select-oms" name="activeNote" id="activeNote" ng-options="ob.packageId as ob.packageName for ob in vm.packageList" ng-model="paging.packageId">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">店铺上线时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.shopCreateTimeStart" id="shopCreateTimeStart" max-date="{{paging.shopCreateTimeEnd}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.shopCreateTimeEnd" id="shopCreateTimeEnd" min-date="{{paging.shopCreateTimeStart}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group fl seller-c">
                <label for="">&nbsp</label>
                <div>
                    <input type="checkbox" ng-model="vm.paidSeller" ng-click="paging.paidSeller=(paging.paidSeller==1?0:1);tools.getSellerLst();">
                    <p>付费卖家</p>
                </div>
            </div>
            <div class="form-group fl seller-c">
                <label for="">&nbsp</label>
                <div>
                    <input type="checkbox" ng-model="vm.exibitor" ng-click="paging.exibitor=(paging.exibitor==1?0:1);tools.getSellerLst();">
                    <span class="search-cfec-icon"> </span>
                    <p>是否是广交会参展商</p>
                </div>
            </div>
            <div class="form-group fl seller-c">
                <label for="">&nbsp</label>
                <div>
                    <input type="checkbox" ng-model="vm.newShop" ng-click="paging.newShop=(paging.newShop==1?0:1);tools.getSellerLst();">
                    <span class="iconfont mr5" style="color: #4593d5;" title="首次开通套餐">&#xe624;</span>
                    <p>新客户</p>
                </div>
            </div>
            <div class="form-group fl seller-c" ng-if="paging.statusTab==-10">
                <label for="">&nbsp</label>
                <div>
                    <input type="checkbox" ng-model="vm.freeAduitQuote" ng-click="paging.freeAduitQuote=(paging.freeAduitQuote==1?null:1);tools.getSellerLst();">
                    <p>报价免审</p>
                </div>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="tools.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="tools.reset();">重&nbsp置</button>
            </div>
        </div>
        <div class="list-content table-cfec table-cfec-theme2 ">
            <table class="table table-hover ">
                <colgroup>
                    <col width="10%">
                    <col width="16%">
                    <col width="8%">
                    <col width="6%">
                    <col width="6%">
                    <col width="8%">
                    <col width="10%">
                    <col width="8%">
                    <col width="7%">
                    <col width="7%">
                    <col width="7%">
                    <col width="6%">
                </colgroup>
                <thead>
                    <tr>
                        <th rowspan='2' class="bdrn">账号/邮箱</th>
                        <th rowspan='2' class="bdln bdrn">公司名称</th>
                        <th rowspan='2' class="bdln">主营行业</th>
                        <th colspan='3' class="ta-c">基本信息</th>
                        <th colspan='2' class="ta-c">店铺信息</th>
                        <th rowspan='2' class="bdrn">商品信息</th>
                        <th rowspan='2' class="bdrn bdln">邮件推广</th>
                        <th rowspan='2' class="bdrn bdln">来源</th>
                        <th rowspan='2' class="bdln ta-c">操作</th>
                    </tr>
                    <tr>
                        <th>身份状态</th>
                        <th>资质状态</th>
                        <th>认证证书状态</th>
                        <th>店铺开通状态</th>
                        <th>其他资料状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.items">
                        <td>
                            <p>{{item.userName}}</p>
                            <p>{{item.email}}</p>
                        </td>
                        <td>
                            <a target="_blank" ng-href="/#/seller/detail?sellerId={{item.sellerId}}" class="seller-icon-container">
                                <span class="cfec-icon" ng-if="item.exibitor==1"></span>
                                <p>{{item.companyName}}</p>
                            </a>
                            <a target="_blank" ng-href="/#/seller/detail?sellerId={{item.sellerId}}" class="seller-icon-container">
                                <span class="iconfont" ng-if="item.newShop==1">&#xe624;</span>
                                <p>{{item.companyEnName}}</p>
                            </a>
                        </td>
                        <td>{{item.mainCategoryName}}</td>
                        <td>{{item.auditStatus | auditchaseState }}</td>
                        <td>{{item.sellerAuthAuditStatus | chxSellerAuthAuditStatus}}</td>
                        <td>{{item.companyCertStatus | sellerInfoAuditStatus}}</td>
                        <td>
                            <p>{{item.shopStatus | chxShopStatus}}</p>
                            <p ng-if="item.shopStatus==1">开通时间:{{item.shopCreateTime | date:'yyyy-MM-dd'}}</p>
                        </td>
                        <td>{{item.otherInfoAuditStatus |chxOtherInfoAuditStatus}}</td>
                        <td>{{item.productStatus | chxProductStatus}}</td>
                        <td>{{item.promotionMailStatus | chxPromotionEmailStatus}}</td>
                        <td>{{item.sourceValue}}</td>
                        <td class="ta-c">
                            <p><a target="_blank" ng-href="/#/seller/detail?sellerId={{item.sellerId}}" class="link-cfec">查看</a></p>
                            <p ngc-permission="seller_sellerlist_resetPassword"><a href="javascript:void(0)" class="link-cfec" ng-click="tools.resetPassword(item.sellerId)">重置密码</a></p>
                            <p ngc-permission="seller_sellerlist_oneClickLogin"><a href="javascript:void(0)" class="link-cfec" ng-click="tools.oneClickLogin(item.userId)">一键登录</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="middivs clearfix" ng-include="paginationTemplate"></div>
        </div>
    </div>
</div>
<!-- 一键登录 -->
<script type="text/ng-template" id="oneClickLoginDlgId">
    <div class="oneClickLoginDlg">
        <div class="dlg-title">一键登录</div>
        <div class="dlg-content form form-group-main">
            <div class="form-group formgroup-cfec-inline row mb20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ta-c">
                    <a class="btn btn-cfec-red" href="{{vm.oneClickUrl}}" target="_blank" ng-click="tools.oneClickLoginLog(vm.userId)">一键登录</a>
                </div>
            </div>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
            </div>
        </div>
    </div>
</script>
<!-- 重置密码 -->
<script type="text/ng-template" id="resetPasswordDlgId">
    <div class="resetPasswordDlg">
        <div class="dlg-title">重置密码</div>
        <div class="dlg-content form form-group-main">
            <div class="form-group formgroup-cfec-inline row mb20">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ta-r">
                    <span>*</span> 新密码：
                </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 radio pt0">
                    <input type="password" name="" id="" ng-model="vm.newPassword" />
                    </select>
                </div>
            </div>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="submit()">确认</button>
                <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
            </div>
        </div>
    </div>
</script>
