<div class="oms-crumbs"> <i>卖家管理</i>
    <p>
        <a href="">视频审核</a> /
        <span>卖家管理</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
            <uib-tab index="0" ng-click="paging.page =1;paging.searchDateType=0; tools.getSellerInfoList(TO_AUDIT);">
                <uib-tab-heading>待审核</uib-tab-heading>
            </uib-tab>
            <uib-tab index="1" ng-click="paging.page =1; tools.getSellerInfoList(PASS_AUDIT);">
                <uib-tab-heading>审核通过</uib-tab-heading>
            </uib-tab>
            <uib-tab index="2" ng-click="paging.page =1; tools.getSellerInfoList(FAIL_AUDIT);">
                <uib-tab-heading>审核不通过</uib-tab-heading>
            </uib-tab>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">搜索时间</label>
                <select ng-model="paging.searchDateType" class="select-oms" name="searchDateType">
                    <option value="0">申请时间</option>
                    <option ng-show="paging.auditStatus!=TO_AUDIT" value="1">审核时间</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">搜索时间</label>
                 <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.startDate" id="startTime" max-date="{{paging.endDate}}" ng-required />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.endDate" id="endTime" min-date="{{paging.startDate}}" ng-required />
                
            </div>
            <div class="form-group fl">
                <label for="">供应商</label>
                <div class="oms-search">
                    <select ng-model="paging.searchType" name="searchType">
                        <option value="1">公司名称</option>
                        <option ng-show="paging.auditStatus!=TO_AUDIT" value="3">审核人</option>
                    </select> <em></em>
                    <input ngc-auto-input type="text" ngc-monitor-enter ng-model="paging.searchValue"> </div>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="tools.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="tools.reset();">重&nbsp置</button>
            </div>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <colgroup>
                    <col width="5%">
                    <col width="40%">
                    <col width="{{paging.auditStatus==1?'15%':'10%'}}">
                    <col width="{{paging.auditStatus==1?'15%':'10%'}}">
                    <col width="{{paging.auditStatus==1?'25%':'10%'}}">
                    <col width="10%" ng-if="paging.auditStatus!=1">
                    <col width="15%" ng-if="paging.auditStatus!=1">
                </colgroup>
                <thead>
                    <tr ng-if="vm.showOperateFlag==false">
                        <th>
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)"> </th>
                        <th>公司名</th>
                        <th>视频</th>
                        <th>申请时间</th>
                        <th ng-if="paging.auditStatus!=TO_AUDIT">审核时间</th>
                        <th ng-if="paging.auditStatus!=TO_AUDIT">审核人</th>
                        <th class="ta-c">
                            <span ng-show="paging.auditStatus != FAIL_AUDIT">操作</span>
                            <span ng-show="paging.auditStatus == FAIL_AUDIT">原因</span>
                        </th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag==true">
                        <th>
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)"> </th>
                        <th colspan="{{paging.auditStatus==TO_AUDIT?4:6}}">
                            <div ngc-permission="seller_sellervideoList_audit" class="btn-toolbar">
                                <button class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.audit(PASS_AUDIT)" ng-show="paging.auditStatus != PASS_AUDIT">审核通过</button>
                                <button class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.audit(FAIL_AUDIT)" ng-show="paging.auditStatus != FAIL_AUDIT">审核不通过</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length>0">
                    <tr ng-repeat-start="item in vm.items track by $index">
                        <!-- 公司名   -->
                        <td rowspan="{{item.showUp==1?2:1}}">
                            <input type="checkbox" ng-model="item.$checked" ng-change="vm.selection()"> </td>
                        <td rowspan="{{item.showUp==1?2:1}}">{{ item.companyName }}</td>
                        <!-- 视频 -->
                        <td rowspan="{{item.showUp==1?2:1}}">
                            <a ng-click="tools.showVideo(item.detail[0])" href="">查看视频</a>
                        </td>
                       <!-- 申请时间 -->
                        <td>
                            <p>{{item.submitDate| date:'yyyy-MM-dd'}}</p>
                            <p>{{item.submitDate| date:'HH:mm:ss'}}</p>
                        </td>
                        <!-- 审核时间 -->
                        <td ng-if="paging.auditStatus!=TO_AUDIT">
                            <p>{{item.auditDate| date:'yyyy-MM-dd'}}</p>
                            <p>{{item.auditDate| date:'HH:mm:ss'}}</p>
                        </td>
                        <!-- 审核人 -->
                        <td ng-if="paging.auditStatus!=TO_AUDIT">{{item.auditor}}</td>
                        <!-- 操作 -->
                        <td class="ta-c">
                            <!-- 待审核:-1 审核通过:1 审核不通过：0  -->
                            <a ngc-permission="seller_sellervideoList_audit" class="link" href="javascript:void(0)" ng-click="tools.changestatus(item.id+'@'+item.auditLogId,PASS_AUDIT)" ng-if="paging.auditStatus == TO_AUDIT">通过</a>
                            <a ngc-permission="seller_sellervideoList_audit" class="link" href="javascript:void(0)" ng-click="tools.changestatus(item.id+'@'+item.auditLogId,FAIL_AUDIT)" ng-if="paging.auditStatus != FAIL_AUDIT">不通过</a>
                            <p ng-if="item.auditRecordsMoreThanOne == 1&& paging.auditStatus == FAIL_AUDIT">{{item.unPassReason}}</p>
                            <p ng-if="item.auditRecordsMoreThanOne >
                            1">
                                <span ng-show="item.showUp!=1" ng-click="tools.showHistory(item.id,$index)">
                                审核记录 <i class="glyphicon glyphicon-menu-down"></i>
                            </span>
                                <span ng-show="item.showUp==1" ng-click="item.showUp = 0;">
                                审核记录
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </span>
                            </p>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="item.showUp==1">
                        <td colspan="4" class="audit-history">
                            <div class="row bg-slight-grey border">
                                <span class="col-xs-3">申请时间</span>
                                <span class="col-xs-3">审核时间</span>
                                <span class="col-xs-2">审核人</span>
                                <span class="col-xs-4">说明</span>
                            </div>
                            <div class="row" ng-repeat="his in item.historyList track by $index">
                                <span class="col-xs-3">{{his.submitTime| date:'yyyy-MM-dd'}}<br>{{his.submitTime| date:'HH:mm:ss'}}</span>
                                <span class="col-xs-3">{{his.auditDate| date:'yyyy-MM-dd'}}<br>{{his.auditDate| date:'HH:mm:ss'}}</span>
                                <span class="col-xs-2">{{his.auditor}}</span>
                                <span class="col-xs-4">
                                <span ng-if="his.auditStatus==FAIL_AUDIT">{{his.unPassReason}}</span>
                                <span ng-if="his.auditStatus==PASS_AUDIT">审核通过</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.items==undefined||vm.items.length==0" class="ng-scope">
                    <tr>
                        <td colspan="{{paging.auditStatus==1?5:7}}">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemplate"> </div>
    </div>
</div>
<!-- 审核通过确定对话框[[ -->
<script type="text/ng-template" id="confirm.html">
    <div class="dlg-title">提示</div>
    <div class="dlg-content form">
        <p class="ta-c">
            <i class="iconfont icon-xunwenoms"></i> 确定审核{{vm.status==2?"不":""}}通过吗？
        </p>
        <div class="form-group pt20 mb0" ng-if="vm.status ==2">
            <textarea name="" class="form-control reasonInput" rows="4" ng-model="vm.reason"></textarea>
        </div>
        <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-click="tools.submit()">确定</button>
            <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
        </div>
    </div>
</script>
<!-- 审核通过确定对话框]] -->
<!-- 视频播放 [[ -->
<script type="text/ng-template" id="showVideo.html">
    <div class="vedio">
        <embed type="application/x-shockwave-flash" src="PlayerLite.swf" id="CuPlayerV4" name="CuPlayerV4" bgcolor="#000000" quality="high" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" salign="lt" flashvars="{{videoInfo}}" height="500" width="600"> </div>
    <div class="text-center mb-20">
        <button class="btn btn-default" ng-click="close()" type="button">关闭</button>
    </div>
</script>
<!-- 视频播放]] -->
