<div class="oms-crumbs"> <i>采购商管理</i>
    <p>
        <a href="">采购商列表</a> /
        <span>采购商管理</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
            <uib-tab index="0" ng-click="paging.auditStatus=tools.auditStatus=-10;paging.page=1;tools.reset();tools.getBuyerList();">
                <uib-tab-heading>全部</uib-tab-heading>
            </uib-tab>
            <uib-tab index="1" ng-click="paging.auditStatus=tools.auditStatus=2;paging.page=1;tools.reset();tools.getBuyerList();">
                <uib-tab-heading>待审核</uib-tab-heading>
            </uib-tab>
            <uib-tab index="2" ng-click="paging.auditStatus=tools.auditStatus=3;paging.page=1;tools.reset();tools.getBuyerList();">
                <uib-tab-heading>审核通过</uib-tab-heading>
            </uib-tab>
            <uib-tab index="3" ng-click="paging.auditStatus=tools.auditStatus=-1;paging.page=1;tools.reset();tools.getBuyerList();">
                <uib-tab-heading>审核不通过</uib-tab-heading>
            </uib-tab>
            <a ngc-permission="buyer_buyerlist_update" class="btn btn-default btn-cfec-white fr mt10 mr20" href="/#/buyer/addLabelRecord">新增采购商记录</a>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">搜索</label>
                <div class="oms-search">
                    <select name="" id="" ng-model="paging.searchType" ng-options="obj.value as obj.key for obj in tools.searchType">
                        <option value="">搜索类型</option>
                    </select> <em></em>
                    <input ngc-auto-input ngc-monitor-enter type="text" name="" id="" ng-model="paging.searchTypeValue" />
                </div>
            </div>
            <div class="form-group fl">
                <label for="">创建时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.startTime" id="startTime" max-date="{{paging.endTime}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.endTime" id="endTime" min-date="{{paging.startTime}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group fl">
                <label for="">最后登录时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.loginStartDate" id="loginStartDate" max-date="{{paging.loginEndDate}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="paging.loginEndDate" id="loginEndDate" min-date="{{paging.loginStartDate}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group fl">
                <label for="">公司国家</label>
                <select ngc-select-search class="select-oms" ng-model="paging.countryId" ng-options="obj.countryId as obj.countryCnName for obj in tools.countries" name="country">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">商务合作采购商</label>
                <select class="select-oms" ng-model="paging.businessCooper" ng-options="obj.value as obj.key for obj in tools.businessCooper">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">其他展会采购商</label>
                <select class="select-oms" ng-model="paging.otherExhibition" ng-options="obj.value as obj.key for obj in tools.otherExhibitionArray">
                    <option value="">请选择</option>
                </select>
            </div>

            <div class="form-group fl">
                <label for="">已禁用</label>
                <select class="select-oms" ng-model="paging.valid" ng-options="obj.value as obj.key for obj in tools.validArray">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">来源</label>
                <select class="select-oms" ng-model="paging.source" ng-options="obj.type2 as obj.type2Name for obj in tools.sourceType" ng-change="tools.getSecondSource()">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl" ng-if="tools.secondSourceArray.length>0&&paging.source!=null&&paging.source!=''">
                <label for="">细分来源</label>
                <select class="select-oms" ng-model="paging.sourceFourType" ng-options="obj.type4 as obj.type4Name for obj in tools.secondSourceArray">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red fl mr20" ng-click="tools.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white fl" ng-click="tools.reset()">重 置</button>
            </div>
        </div>
        <div class="list-content table-cfec table-cfec-theme2">
            <table class="table table-hover ">
                <colgroup ng-if="tools.auditStatus == -10">
                    <col width="15%">
                    <col width="16%">
                    <col width="16%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="16%">
                </colgroup>
                <colgroup ng-if="tools.auditStatus != -10">
                    <col width="3%">
                    <col width="15%">
                    <col width="16%">
                    <col width="10%">
                    <col width="10%">
                    <col width="13%">
                    <col width="13%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr ng-if="vm.showOperateFlag==false">
                        <th ng-if="tools.auditStatus!=-10">
                            <input type="checkbox" ng-if="vm.items.length" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th>姓名</th>
                        <th>公司名称</th>
                        <th>来源</th>
                        <th>公司国家</th>
                        <th ng-if="tools.auditStatus==-10">审核状态</th>
                        <th>创建时间</th>
                        <th>最后登录时间</th>
                        <th class="ta-r">操作</th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag==true">
                        <th ng-if="tools.auditStatus != -10">
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th colspan="7">
                            <div ngc-permission="buyer_buyerlist_audit" class="btn-toolbar">
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus('',3)" ng-show="paging.auditStatus!=3">审核通过</button>
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus('',-1)" ng-show="paging.auditStatus!=-1">审核不通过</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length>0">
                    <tr ng-repeat='item in vm.items'>
                        <td ng-if="tools.auditStatus!=-10">
                            <input type="checkbox" ng-model="item.$checked" ng-change="tools.selection()">
                        </td>
                        <!-- 买家姓名 -->
                        <td><i title="{{item.valid==0?'黑名单用户':''}}" class="iconfont" ng-if="item.valid==0">&#xe628;</i> {{ item.lastName }}{{ item.firstName }}</td>
                        <!-- 公司名称 -->
                        <td>
                            <span title="商务合作采购商" class="iconfont blue" ng-if="item.businessCooper==1">&#xe629;</span>
                            <span title="其他展会采购商" class="iconfont blue" ng-if="item.otherExhibition==1">&#xe62a;</span> {{ item.companyName }}
                        </td>
                        <!-- 来源 -->
                        <td>{{ item.sourceValue }} <span ng-if="item.sourceValueExt!=null&&item.sourceValueExt!=''">></span>{{item.sourceValueExt}}</td>
                        <!-- 公司国家 -->
                        <td>{{ item.countryCnName }}</td>
                        <!-- 审核状态 -->
                        <td ng-if="tools.auditStatus==-10">{{item.auditStatus|auditchaseState}}</td>
                        <!-- 创建时间 -->
                        <td>
                            <p>{{ item.createTime | date:'yyyy-MM-dd'}}</p>
                            <p>{{ item.createTime | date:'HH:mm:ss'}}</p>
                        </td>
                        <!-- 登录时间 -->
                        <td>
                            <!-- 没有登陆时，后端实际返回时间为 1970-07-07，前端要处理为空-->
                            <p ng-if="item.lastLoginTime!=16128000000">{{ item.lastLoginTime | date:'yyyy-MM-dd'}}</p>
                            <p ng-if="item.lastLoginTime!=16128000000">{{ item.lastLoginTime | date:'HH:mm:ss'}}</p>
                        </td>
                        <td class="ta-r">
                            <!-- 待审核:2 审核通过:3 审核不通过：-1 -->
                            <a ngc-permission="buyer_buyerlist_audit" class="link" href="javascript:void(0)" ng-click="tools.chgAuditStatus(item.buyerId,3)" ng-if="item.auditStatus!=0" ng-show="item.auditStatus!=3">通过</a>
                            <a ngc-permission="buyer_buyerlist_audit" class="link" href="javascript:void(0)" ng-click="tools.chgAuditStatus(item.buyerId,-1)" ng-if="item.auditStatus!=0" ng-show="item.auditStatus!=-1">不通过</a>
                            <a ngc-permission="buyer_buyerlist_buyerforbidden" class="link" href="javascript:void(0)" ng-click="tools.forbiddenConfirm(item.buyerId,1)" ng-if="item.valid==0">启用</a>
                            <a ngc-permission="buyer_buyerlist_buyerforbidden" class="link" href="javascript:void(0)" ng-click="tools.forbiddenConfirm(item.buyerId,0)" ng-if="item.valid==1">禁用</a>
                            <a ngc-permission="buyer_buyerlist_detail" class="link" target="_blank" ng-href="/#/buyer/detail?buyerId={{item.buyerId}}">详情</a>
                            <a ngc-permission="buyer_buyerlist_resetPassword" class="link" href="javascript:void(0)" ng-click="tools.resetPassword(item.buyerId)">重置密码</a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.items==undefined||vm.items.length==0" class="ng-scope">
                    <tr>
                        <td colspan="9">
                            <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemplate"></div>
    </div>
</div>
<script type="text/ng-template" id="confirm.html">
    <div class="dlg-title">提示</div>
    <div class="dlg-content form">
        <p class="ta-c">
            <i class="iconfont icon-xunwenoms"></i> 确定审核{{vm.status==-1?"不":""}}通过吗？
        </p>
        <div class="form-group pt20 mb0" ng-if="vm.status ==-1">
            <textarea name="" class="form-control reasonInput" rows="4" ng-model="vm.reason"></textarea>
        </div>
        <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-click="tools.submit()">确定</button>
            <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="buyerListDlgId">
    <div class="buyerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c">
                <i class="iconfont icon-xunwenoms"></i>
                <span>确定{{vm.forbiddenStatus==0?'禁用':'启用'}}该用户吗？</span>
            </p>
            <div class="form-group pt20 mb0" ng-if="vm.forbiddenStatus==0" style="position:relative;">
                <span class="red" style="position:absolute;left:-12px;top:18px;">*</span><textarea name="" class="form-control reasonInput" rows="4" placeholder="请输入禁用原因"></textarea>
            </div>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="submit()">确定</button>
                <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="resetPswDlgId">
    <div class="resetPswDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c">以下是重置密码的链接，请提供给对应的采购商进行重置密码操作</p>
            <div class="form-group pt20 mb0">
                <textarea name="" class="form-control reasonInput" rows="4" readonly ng-model="vm.resetPswLink"></textarea>
            </div>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ngclipboard data-clipboard-text="{{vm.resetPswLink}}" ngclipboard-success="tools.clipboardSuccess(e);" ngclipboard-error="tools.clipboardError(e);">复制</button>
            </div>
        </div>
    </div>
</script>