<div class="top-help clearfix ">
    <div class="help-form-class ng-pristine ng-valid">
        <p class="p-help-style">
            财务资金管理 &gt; 银行入账流水-汇款
        </p>
    </div>
</div>
<!-- 查询条件 -->
<div class="searchTop clearfix">
    <form>
        <div class="row pt-10">
            <div class="col-xs-4 col-pl-5">
                <lable>支付方式</lable>
                <select class="ipt ipt-m" ng-model="paging.remMode">
                    <option value="">请选择</option>
                    <option value="1">电汇(T/T)</option>
                    <option value="2">汇款(D/D)</option>
                </select>
            </div>
            <div class="col-xs-4 col-pl-5">
                <lable>交易币种</lable>
                <select class="ipt ipt-m" ng-model="paging.remCur">
                    <option value="">请选择</option>
                    <option value="USD">美元</option>
                    <option value="CNY">人民币</option>
                </select>
            </div>
            <div class="col-xs-4 col-pl-5">
                <lable>入账币种</lable>
                <select class="ipt ipt-m" ng-model="paging.revCur">
                    <option value="">请选择</option>
                    <option value="USD">美元</option>
                    <option value="CNY">人民币</option>
                </select>
            </div>
        </div>
        <div class="row pt-10">
            <div class="col-xs-4 col-pl-5">
                <lable>支付种类</lable>
                <select class="ipt ipt-m" ng-model="paging.remType">
                    <option value="">请选择</option>
                    <option value="1">国外汇款</option>
                    <option value="2">国内汇款</option>
                </select>
            </div>
            <div class="col-xs-4 col-pl-5">
                <lable>业务编号</lable>
                <input ngc-auto-input class="ipt ipt-m"  type="text" class="searchTxt"  ng-model="paging.outRef">
            </div>
            <div class="col-xs-4 col-pl-5">
                <lable>&nbsp;&nbsp;&nbsp;汇款人</lable>
                <input ngc-auto-input class="ipt ipt-m"  type="text" class="searchTxt"  ng-model="paging.remName">
            </div>
        </div>
        <div class="row pt-10">
            <div class="col-xs-6 col-pl-5 the-time">
                <label class="fl">汇款时间</label>
                <input readonly  ng-click="open1($event)" class="ipt ipt-s fl" type="text"  placeholder="起始日期" uib-datepicker-popup="yyyy/MM/dd" is-open="opened1"
                       min-date="'1997-06-22'"  close-text="Close" max-date="paging.endTime" datepicker-options="dateOptions"
                       ng-model="paging.startTime">
                
                <label class="fl pl10 pr10">至</label>
                <input readonly  ng-click="open2($event)"  class="ipt ipt-s fl" type="text" uib-datepicker-popup="yyyy/MM/dd" placeholder="结束日期" is-open="opened2"
                       min-date="paging.startTime"  close-text="Close" datepicker-options="dateOptions" ng-model="paging.endTime">
                
            </div>
            <div class="col-xs-6  col-pl-5 but-inline">
                <input ng-click="tools.getList();" type="submit" value="查询"/>
                <input class="btn-reset" type="reset" ng-click="tools.initCondition(false)" value="重置"/>
                <input  ng-click="tools.exportData()" class="btn-reset" type="button"  value="导出excel表格"/>
            </div>
        </div>
    </form>
</div>
<!-- 查询列表 -->
<div class="content">
    <div class="tabTable">
        <table class="table table-hover" >
            <thead>
            <tr>
                <td width="10%">交易时间</td>
                <td width="15%">业务编号</td>
                <td width="10%">支付种类</td>
                <td width="10%">支付方式</td>
                <td width="10%">汇款人</td>
                <td width="10%">交易币种</td>
                <td width="10%">交易金额</td>
                <td width="10%">入账币种</td>
                <td width="10%">入账金额</td>
                <td width="5%">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items track by $index">
                <!-- 交易时间 -->
                <td>{{item.txnDate| date:'yyyy-MM-dd'}}</br>
                    {{item.txnDate| date:'HH:mm:ss'}}</td>
                <!-- 业务编号 -->
                <td>{{item.outRef}}</td>
                <!-- 汇款种类 -->
                <td>{{item.remType|remitType}}</td>
                <!-- 汇款方式 -->
                <td>{{item.remMode|remitMode}}</td>
                <!-- 汇款人 -->
                <td>{{item.remName}}</td>
                <!-- 汇款币种 -->
                <td>{{item.remCur}}</td>
                <!-- 汇款金额 -->
                <td>{{item.tranAmt}}</td>
                <!-- 入账币种 -->
                <td>{{item.revCur}}</td>
                <!-- 入账金额 -->
                <td>{{item.revAmt}}</td>
                <!-- 详情 -->
                <td> <a ng-click="tools.toDetail(item.outRef)" href="javascript:;">详情</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="middivs clearfix">
        <div class="divright clearfix">
            <select ng-model="paging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.pages"
                    ng-change="tools.getList()"></select>
            <button  class="btn btn-default lastbuttons j-jump" ng-click="tools.getnewpage();">GO</button>
            <input type="text" class="inputs ngc-jumppage" ng-model="tools.newpagesize">
            <label class="page-list-style label-style">转到页</label>
            <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class="page-list-style" ng-change="tools.getOrderList()" max-size="5"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
        <!-- 新分页
        <div class="row-page clearfix">
            <select class="item" ng-model="paging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.pages"
                    ng-change="tools.getList()"></select>
            <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class="page-list-style item" ng-change="tools.getList()" max-size="5"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            <label class="item">共{{paging.total}}页,转到第</label>
            <input type="text" class="item" ng-model="tools.newpagesize">
            <label class="item">页</label>
            <button  class="item" ng-click="tools.getnewpage();">GO</button>
        </div>
        -->
    </div>
</div>
