<div class="followBusinessDlg">
    <div class="dlg-title">跟进记录</div>
    <div class="dlg-content form form-group-main">
        <div class="form-group formgroup-cfec-inline row">
            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ta-r">
                <span>*</span> 跟进标识：
            </label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="checkbox fl w250 p0 m0" ng-repeat="rs in vm.followSignArray track by $index">
                    <label class="p0">
                        <input id="{{'followFlag'+$index}}" name="followFlag" type="radio" value="{{rs.value}}" ng-model="recordInfo.flag" class="mr10" /> {{rs.key}}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group formgroup-cfec-inline row">
            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ta-r">
                跟进内容：
            </label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <textarea name="" class="form-control reasonInput" rows="2" ng-model="recordInfo.followContent" placeholder="其他内容"></textarea>
            </div>
        </div>
        <div class="form-group formgroup-cfec-inline row">
            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ta-r">
                <span>*</span> 采购商跟进状态：
            </label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 radio">
                <label class="w100">
                    <input type="radio" name="isFollowed" value="1" ng-model="recordInfo.isFollowed">可跟进</label>
                <label class="w100">
                    <input type="radio" name="isFollowed" value="0" ng-model="recordInfo.isFollowed">免跟进</label>
                <p class="clear f12 lh20 pt10 gary" ng-if="type==1&&recordInfo.isFollowed==1">可跟进的采购商会纳入“采购商互动行为跟踪”统计中</p>
                <p class="clear f12 lh20 pt10 gary" ng-if="type==1&&recordInfo.isFollowed==0">免跟进的采购商不会纳入“采购商互动行为跟踪”统计中</p>
            </div>
        </div>
        <div class="form-group formgroup-cfec-inline row" ng-if="recordInfo.isFollowed==1">
            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ta-r">
                <span>*</span> 跟进优先级：
                <p class="gary">（1优先）</p>
            </label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 radio">
                <select class="select-oms" ng-model="recordInfo.followBuyerLevel" ng-options="obj.value as obj.key for obj in vm.priorityArray">
                </select>
            </div>
        </div>
        <div class="form-group formgroup-cfec-inline row" ng-if="recordInfo.isFollowed==1">
            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ta-r">
                <span>*</span> 从跟进清单移除
            </label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 radio">
                <label class="w100">
                    <input type="radio" name="unFollowing" value="1" ng-model="recordInfo.unFollowing">是</label>
                <label class="w100">
                    <input type="radio" name="unFollowing" value="0" ng-model="recordInfo.unFollowing">否</label>
            </div>
        </div>
        <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-click="tools.submitDlg()">确定</button>
            <button class="btn btn-cfec-white" ng-click="tools.closeDlg()">取消</button>
        </div>
    </div>
</div>
