<div class="oms-crumbs"> <i>编辑SNS文章推广</i>
    <p> <a ui-sref="snsMgr.sellerList">SNS推广</a> / <span>编辑SNS文章推广</span> </p>
</div>
<div class="oms-container">
    <div class="oms-content p20">
        <form id="editSNSform" class="form-group-main">
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 标题 </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec mr0" name="title" id="title" placeholder="" ng-model="vm.info.title" /> </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> 推广店铺</label>
                <div class="col-sm-10">
                    <button class="btn btn-cfec-white" type="button" ng-click="vm.selectSeller();">选择供应商</button>
                    <p ng-if="$root.selectSellerItem" class="mt10">{{$root.selectSellerItem.companyName}} <a href="javascript:void(0)" ng-click="vm.delSeller();">删除</a></p>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 内容 </label>
                <div class="col-sm-10">
                    <textarea name="content" id="content" class="textarea-cfec" ng-model="vm.info.content"></textarea>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 上传图片 </label>
                <div class="col-sm-10"> <i ng-if="vm.imageUrlArray.length<9" class="iconfont icon-sns-upload" ngf-select ngf-change="vm.uploadImg($files)" accept="'image/*'">&#xe631;</i>
                    <ul ng-if="vm.imageUrlArray.length" class="sns-images-list">
                        <li ng-repeat="item in vm.imageUrlArray"> <img ng-src="{{item | setImgSize:100:100}}"> <span class="del" ng-click="vm.delImage($index);"></span> </li>
                    </ul>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"></label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-cfec-red" ng-disabled="vm.btnFlag" ng-click="vm.publishInfo();">发布</button>
                    <button type="button" class="btn btn-cfec-white" ng-disabled="vm.btnFlag" ng-click="vm.saveSraft();">保存草稿</button>
                    <button type="button" class="btn btn-cfec-white" ng-disabled="vm.btnFlag" ng-click="vm.cancel();">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/ng-template" id="addSeller.html">
    <div class="dlg-title">添加供应商</div>
    <div class="panel-container">
        <div class="form-group clearfix">
            <div class="oms-search fl">
                <select name="" id="" ng-model="vm.paging.qKey" ng-options="obj.value as obj.key for obj in vm.searchTypeArray">
                    <option value="">搜索类型</option>
                </select> <em></em>
                <input type="text" name="" id="" ng-model="vm.paging.qValue" /> </div>
            <button class="btn btn-cfec-red fl" ng-click="vm.search();">查&nbsp;询</button>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <colgroup>
                    <col width="80%">
                    <col width="20%"> </colgroup>
                <thead>
                    <tr>
                        <th>公司名称</th>
                        <th class="ta-c">操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.total">
                    <tr ng-repeat="item in vm.list">
                        <td>
                            <p>
                            <span class="icon-cfec-exibitor" ng-if="item.exibitor==1"></span>

                            公司中文名：{{item.companyName}}</p>
                            <p>公司英文名：{{item.companyEnName}}</p>
                        </td>
                        <td class="ta-c">
                            <button class="btn btn-cfec-red" ng-click="vm.selected(item)">选择</button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="ng-scope" ng-if="!vm.total">
                    <tr>
                        <td colspan="2">
                            <p class="noResult-Text pt20 pb20 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemp"></div>
    </div>
</script>