<table class="table table-hover">
    <colgroup>
        <col width="15%" />
        <col width="35%" />
        <col width="15%" />
        <col width="35%" />
    </colgroup>
    <thead ng-if="vm.shopInfo.companyvideo.items==null">
        <tr>
            <th colspan="1">视频信息</th>
            <th colspan="1">
                状态 :
                <span>未填写</span>
            </th>
            <th colspan="2" class="ta-r">
            </th>
        </tr>
    </thead>
    <thead ng-repeat="item in vm.shopInfo.companyvideo.items">
        <tr>
            <th colspan="1">视频信息</th>
            <th colspan="1">
                状态 :
                <span class="{{item.auditStatus==1?'red':''}}">{{item.auditStatus | sellerInfoAuditStatus}}</span>
            </th>
            <th colspan="2" class="ta-r">
                <div class="form-group clearfix mb0" ngc-permission="seller_sellerlist_audit">
                    <button class="btn btn-cfec-white  mr20" ng-click="sellerShopTools.chxShopAudit(3,item.id,item.auditLogId,4)" ng-if="item.auditStatus==1||item.auditStatus==2">审核通过</button>
                    <button class="btn btn-cfec-white " ng-click="sellerShopTools.chxShopAudit(2,item.id,item.auditLogId,4)" ng-if="item.auditStatus==1||item.auditStatus==3">审核不通过</button>
                </div>
            </th>
        </tr>
    </thead>
    <tbody ng-repeat="item in vm.shopInfo.companyvideo.items">
        <tr>
            <th>视频</th>
            <td><a ng-click="sellerShopTools.showVideo(item.detail[0])" href="javascript:void(0)" style="color:#4593d5 !important" ng-if="item.detail[0]!=null">查看视频</a></td>
            <th>申请时间</th>
            <td>{{item.submitDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
    </tbody>
</table>
