
<h1>{{'COMP_INFO' | translate}}</h1>

<form name="company1" novalidate ng-submit="submit()" class="form-horizontal">

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'COMP_CH_NAME' | translate }}：</label>
    <div class="col-sm-5">
     <!-- <span ng-if="company.companyName">{{company.companyName}}</span>  -->
      <input type="text" class="form-control" name="" placeholder="请填写公司名称"
        ng-model="company.companyName" >
    </div>
  </div>
   <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'COMP_EN_NAME' | translate}}：</label>
    <div class="col-sm-5">
      <!-- <span ng-if="company.companyEnName">{{company.companyEnName}}</span> -->
      <input type="text" class="form-control" name="" placeholder="请填写公司名称"
        ng-model="company.companyEnName" >
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'COMP_TYPE' | translate}}:</label>
    <div class="col-sm-5">
      <select name="" id="" ng-model="company.companyType" class="form-control">
        <option value="1">采购办事处</option>
        <option value="2">采购办事处</option>
        <option value="3">采购办事处</option>
        <option value="4">采购办事处</option>
        <option value="5">采购办事处</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'COMP_TYPE' | translate}}:</label>
    <div class="col-sm-5">
       <select name="" id="" ng-model="company.companyNature" class="form-control">
        <option value="1">采购办事处</option>
        <option value="2">采购办事处</option>
        <option value="3">采购办事处</option>
        <option value="4">采购办事处</option>
        <option value="5">采购办事处</option>
      </select>
    </div>
  </div>
   <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'SETUP_TIME' | translate}}：</label>
    <div class="col-sm-5">
       <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="company.establishYear" is-open="opened" min-date="'1997-06-22'" max-date="maxDate" datepicker-options="dateOptions" date-disabled = "disabled(date,mode)" ng-required="true" close-text="Close">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
              </button>
          </span>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'PRODUCT_KEYWORDS' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="mainProducts" placeholder="" ng-model="company.mainProducts">
      {{'TIPS.KEYWORDS' | translate}}
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'AREA' | translate}}</label>
    <div class="col-sm-5">
      <select name="" ng-model="company.regionId">
        <option value="1">中国</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'ADDR_CH' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="address" placeholder="" ng-model="company.address">
    </div>
  </div>
   <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'ADDR_EN' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="enAddress" placeholder="" ng-model="company.addressEn">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'REG_CAPITAL' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="registeredCapitalSum" placeholder="" ng-model="company.registeredCapitalSum">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'ZIP_CODE' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮政编码" ng-model="company.zipCode">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'ABOUT' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写简介"
        ng-model="company.companyIntro">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'EMPLOYEES' | translate}}:</label>
    <div class="col-sm-5">
      <select name="" ng-model="company.companyEmpNum" id="">
        <option value="1">100</option>
        <option value="2">7100</option>
        <option value="3">300</option>
        <option value="4">400</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'LEAL_PERSON' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="" ng-model="company.legalPerson">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'ORG_CODE' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="" ng-model="company.organization">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'BUSI_LICENSE' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="" ng-model="company.bizLicense">
    </div>
  </div>



  <div class="form-group">
    <label for="" class="col-sm-2 control-label">{{'WEBSITE' | translate}}：</label>
    <div class="col-sm-5">
      <input type="text" name="" class="form-control" placeholder="http://..." ng-model="company.webSite">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" ng-disabled="company.$invalid">{{'OPR.SAVE' | translate}}</button>
    </div>
  </div>
</form>