<div class="oms-crumbs"> <i>供应商关键词管理列表</i>
    <p>
        <a href="">关键词管理</a> /
        <span>供应商关键词管理列表</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
         <div class="keyword-top clearfix">
            <button class="btn btn-cfec-white fr" ng-click="tools.toAddOrNotifyKw('');">新增供应商关键词</button>
        </div>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">行业</label>
                <select class="select-oms" name="country" ng-model="paging.indusId" ng-options="obj.categoryId as obj.categoryName for obj in vm.categoriesList">
                    <option value="">请选择</option>
                    </select>
            </div>
            <div class="form-group fl">
                <label for="">关键词</label>
                <input ngc-auto-input type="text" ngc-monitor-enter class="input-cfec" ng-model="paging.keyword">
            </div>
            <div class="form-group btns-group clear clearfix">
                <button class="btn btn-cfec-red fl mr20" ng-click="tools.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white fl" ng-click="tools.reset()">重 置</button>
                <button class="btn btn-cfec-white fr" ng-disabled="vm.exportFlag" ng-click="tools.exportKws();">导出</button>
                <button class="btn btn-cfec-white fr" type="button" class="btn btn-cfec-white" ngf-select ngf-change="tools.uploadFile($files)" accept="'image/*'">导入</button>
            </div>
        </div>
       <div class="list-content table-cfec table-cfec-theme2">
            <table class="table table-hover ">
                <colgroup>
                    <col width="10%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="30%">
                </colgroup>
                <thead>
                    <tr ng-if="vm.showOperateFlag==false">
                        <th>
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th>关键词</th>
                        <th>行业</th>
                        <th>行业ID</th>
                        <th class="ta-r">操作</th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag==true">
                        <th>
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th colspan="4">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.toDeleteKwByMuti();">删除</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length>
                0">
                    <tr ng-repeat='item in vm.items'>
                        <td>
                            <input type="checkbox" ng-model="item.$checked" ng-change="tools.selection()">
                        </td>
                        <td>{{item.keyword}}</td>
                        <td>{{item.indusName}}</td>
                        <td>{{item.indusId}}</td>
                        <td class="ta-r">
                            
                            <a ng-if="item.url!=null" class="link mr10" href="javascript:void(0)" ngclipboard data-clipboard-text="{{item.url}}"  ngclipboard-success="tools.onSuccess(e);" ngclipboard-error="tools.onError(e);" >获取链接</a>
                            <a class="link" ng-click="tools.toAddOrNotifyKw(item.keyId);" href="javascript:void(0);">修改</a>
                            <a class="link" ng-click="tools.toDeleteKwByOne(item.keyId);" href="javascript:void(0);">删除</a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.items==undefined||vm.items.length==0" class="ng-scope">
                    <tr>
                        <td colspan="5">
                            <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="middivs clearfix" ng-include="paginationTemplate"></div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="confirm.html">
    <div class="dlg-title">提示</div>
    <div class="dlg-content form">
        <p class="ta-c">
            <i class="iconfont icon-xunwenoms"></i> 确定删除吗？
        </p>
        <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-click="tools.submit()">确定</button>
            <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="showData.html">
    <div class="dlg-title">提示</div>
    <div class="dlg-content" style="padding-top:20px !important;">
          <div class="list-content table-cfec table-cfec-theme2">
           <table class="table table-hover ">
               <colgroup>
               </colgroup>
               <thead>
                    <tr>
                        <th>下标</th>
                        <th>关键词</th>
                        <th>行业Id</th>
                        <th>导入结果</th>
                    </tr>
               </thead>
               <tbody>
                <tr ng-repeat="item in $root.showDataList track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{item.keyword}}</td>
                    <td>{{item.indusId}}</td>
                    <td>{{item.checkRemark}}</td>
                </tr>
               </tbody>
           </table>
          </div>
    </div>
</script>