<div class="oms-crumbs"> <i>新增关键词广告</i>
    <p>
        <a href="">广告管理</a> /
        <a href="">关键词广告管理列表</a> /
        <span>新增关键词广告</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-detail">
        <form id="addAdform" name="forms.addAdform" class="form-group-main" role="form" novalidate="novalidate">
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 推荐位置
                </label>
                <div class="col-sm-10">
                    <select class="select-oms mr20" name="sitType" ng-model="paging.sitType" ng-options="obj.key as obj.title for obj in tools.sitType" ng-change="tools.getAdTime()" required>
                        <option value="">请选择</option>
                    </select>
                    <span class="error-valid" ng-if="(forms.addAdform.sitType.$dirty||forms.addAdform.$submitted) && forms.addAdform.sitType.$invalid">推荐位置不能为空</span>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 行业
                </label>
                <div class="col-sm-10">
                    <select ngc-select-search class="select-oms mr20" name="indusId" ng-model="paging.indusId" ng-change="tools.getIndustry();" ng-options="obj.categoryId  as obj.categoryName  for obj in vm.industryList" ng-change="tools.getAdTime()" required>
                        <option value="">请选择</option>
                    </select>
                    <span class="error-valid" ng-if="(forms.addAdform.indusId.$dirty||forms.addAdform.$submitted) && forms.addAdform.indusId.$invalid">行业不能为空</span>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 关键词
                </label>
                <div class="col-sm-10">
                    <input  type="text" class="input-cfec mr20" name="adKeyword" placeholder="" ng-model="paging.adKeyword" required ng-change="tools.getAdTime()" maxlength='35'>
                    <span class="error-valid" ng-if="(forms.addAdform.adKeyword.$dirty||forms.addAdform.$submitted) && forms.addAdform.adKeyword.$invalid">请输入关键字</span>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 产品ID
                </label>
                <div class="col-sm-10">
                    <!-- <input type="text" class="input-cfec mr10" style="width:650px" ng-if="paging.productId!=null" placeholder="" ng-model="paging.productLink" disabled> -->
                    <p  class="ad-product-link mr5" ng-if="paging.productId!=null">{{paging.productLink}}</p>
                    <input type="hidden" class="input-cfec" placeholder="" ng-model="paging.productId" name="productId" disabled>
                    <button class="btn btn-cfec-white mr10" style="width: 195px" type="button" ng-if="paging.productId==null" ng-click="tools.selectProduct();">请设置产品ID</button>
                    <a href="{{paging.productLink}}" class="mr10 link" ng-if="paging.productId!=null" target="_blank">查看</a>
                    <a href="javascript:void(0)" class="mr10 link" ng-if="paging.productId!=null" ng-click="tools.selectProduct();">重选</a>
                    <a href="javascript:void(0)" class="mr10 link" ng-if="paging.productId!=null" ng-click="tools.delProduct();">删除</a>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 排序
                </label>
                <div class="col-sm-10 radio">
                    <label class="w80">
                        <input type="radio" name="sort" value="1" ng-model="paging.sort" ng-checked="true" ng-change="tools.getAdTime();tools.clearDate();">第一位
                    </label>
                    <label class="w80">
                        <input type="radio" name="sort" value="2" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第二位
                    </label>
                    <label class="w80">
                        <input type="radio" name="sort" value="3" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第三位
                    </label>
                    <label class="w80">
                        <input type="radio" name="sort" value="4" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第四位
                    </label>
                    <label class="w80">
                        <input type="radio" name="sort" value="5" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第五位
                    </label>
                    <br>
                    <label class="w80">
                        <input type="radio" name="sort" value="6" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第六位
                    </label>
                    <label class="w80">
                        <input type="radio" name="sort" value="7" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第七位
                    </label>
                    <label class="w80">
                        <input type="radio" name="sort" value="8" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第八位
                    </label>
                    <label class="w80">
                        <input type="radio" name="sort" value="9" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第九位
                    </label>
                    <label class="w80">
                        <input type="radio" name="sort" value="10" ng-model="paging.sort" ng-change="tools.getAdTime();tools.clearDate();">第十位
                    </label>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 起止时间
                </label>
                <div class="col-sm-10">
                    <input ngc-lay-date readonly type="text" class="input-cfec laydate-icon mr40" ng-model="paging.beginDateStr" id="startTime" enabled-date='{{paging.enabledMark}}' min-date="{{today}}" ng-required placeholder="起始日期" />
                    <span class="text-inline">至</span>
                    <input ngc-lay-date readonly type="text" class="input-cfec laydate-icon" ng-model="paging.endDateStr" id="endTime" min-date="{{paging.beginDateStr}}" enabled-date='{{paging.enabledMark}}' placeholder="截止日期" ng-required />
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 金额
                </label>
                <div class="col-sm-10">
                    <input  type="text" class="input-cfec mr20" name="price" placeholder="" ng-model="paging.price" ng-keyup="tools.priceFilter(paging.price)" required> <span class="lh30">元</span>
                    <span class="error-valid" ng-if="(forms.addAdform.price.$dirty||forms.addAdform.$submitted) && forms.addAdform.price.$invalid">请输入金额</span>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>&nbsp;</span> 备注
                </label>
                <div class="col-sm-10">
                <textarea name="applyRemark" id="inputApplyRemark" class="form-control" rows="5" ng-model="paging.applyRemark"></textarea>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                </label>
                <div class="col-sm-10">
                    <button type="button" ng-disabled="btnFlag" class="btn btn-cfec-red mr20" ng-click="tools.addOrUpdate()">保存并生效</button>
                    <a href="javascript:void(0)" ng-click="tools.backtolist()" class="btn btn-cfec-white">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/ng-template" id="addProduct.html">
    <div class="dlg-title">产品信息列表</div>
    <div class="panel-container">
        <div class="form-group clearfix">
            <input type="text" class="input-cfec w250 fl mr20" placeholder="请输入产品ID" ng-model="toolsdlg.productId">
            <button class="btn btn-cfec-red fl" ng-click="toolsdlg.search();">查&nbsp;询</button>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>产品图片</th>
                        <th>产品名称</th>
                        <th>产品分类</th>
                        <th>供应商</th>
                        <th class="ta-c">操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vmdlg.data!=null">
                    <tr>
                        <td><img ng-src="{{vmdlg.data.imgs | setImgSize}}" class="img-responsive" alt="Image" width="100" height="100"></td>
                        <td>{{vmdlg.data.name}}</td>
                        <td>{{vmdlg.data.dictProductCategoryDTO.categoryName}}</td>
                        <td>{{vmdlg.data.companyName}}</td>
                        <td class="ta-c">
                            <button class="btn btn-cfec-red" ng-click="toolsdlg.selected()">选择</button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="ng-scope" ng-if="vmdlg.data==null">
                    <tr>
                        <td colspan="5">
                            <p class="noResult-Text pt20 pb20 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>
