<div class="oms-crumbs"> <i>添加活动</i>
    <p> <a href="">活动管理</a> / <span>添加活动</span> </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-detail" style="min-height:1300px;">
        <form id="addMsgPushform" class="form-group-main">
            <!-- 发送消息类型 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 发送消息类型 </label>
                <div class="col-sm-10">
                    <select class="select-oms" ng-model="msgInfo.sendType" name="sendType" id="sendType">
                        <option value="1">自定义消息</option>
                        <option value="2">展会通消息</option>
                    </select>
                </div>
            </div>
            <!-- 发送消息类型 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 通知描述 </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec mr5" ng-model="msgInfo.description" name="description" id="description"> </div>
            </div>
            <!-- 标题 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="msgInfo.sendType==1">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 标题 </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec mr5" ng-model="msgInfo.title" name="title" id="title"> </div>
            </div>
            <!-- 通知内容 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="msgInfo.sendType==1">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 通知内容 </label>
                <div class="col-sm-10">
                    <textarea class="textarea-cfec" ng-model="msgInfo.text" name="text" id="msgtext"></textarea>
                </div>
            </div>
            <!-- 标题 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="msgInfo.sendType==2">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 展会通计划ID </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec mr5" ng-model="msgInfo.sendValue" name="sendValue" id="sendValue"> </div>
            </div>
            <!-- 链接到 -->
            <div class="form-group formgroup-cfec-inline row" ng-if="msgInfo.sendType==1">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 链接到 </label>
                <div class="col-sm-10">
                    <select class="select-oms mr5" ng-model="msgInfo.urlType" name="urlType" id="urlType">
                        <option value="">请选择</option>
                        <option value="1">产品详情页</option>
                        <option value="2">店铺详情页</option>
                        <option value="3">H5链接</option>
                        <option value="11">SNS推广的最热列表</option>
                        <option value="12">SNS推广的最新列表</option>
                        <option value="13">SNS推广的文章详情</option>
                    </select>
                </div>
            </div>
            <!-- 链接URL -->
            <div class="form-group formgroup-cfec-inline row" ng-if="msgInfo.urlType&&msgInfo.urlType!=11&&msgInfo.urlType!=12">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 链接URL </label>
                <div class="col-sm-10">
                    <input type="text" class="input-cfec" ng-model="msgInfo.urlValue" placeholder="{{msgInfo.urlType | urlTipsFilter}}" name="urlValue" id="urlValue"> </div>
            </div>
            <!-- 目标用户 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 目标用户 </label>
                <div class="col-sm-10">
                    <select class="select-oms" name="sendRang" id="sendRang" ng-model="msgInfo.sendRang">
                        <option value="1">全部用户</option>
                        <option value="2">部分用户</option>
                        <option value="3">特定用户</option>
                    </select>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row" ng-if="msgInfo.sendRang==2">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> </label>
                <div class="col-sm-10">
                    <div class="oms-select-tag">
                        <span class="tag-font">且</span>
                        <div class="oms-warp">
                            <div class="part-warp" ng-repeat="tagItem in tagList">
                                <select name="partTag" id="partTag" class="select-oms w100">
                                    <option value="">标签</option>
                                </select>
                                <select ng-model="tagItem.enabled" name="tagIsNot" id="tagIsNot" class="select-oms w100">
                                    <option value="1">是</option>
                                    <option value="2">否</option>
                                </select>
                                <div class="tag-body">
                                    <div class="tag-content">
                                        <ul>
                                            <li ng-repeat="item in tagItem.hasSelectTag">{{item.tagName}} <span class="iconfont" ng-click="tools.delTag($index,$parent.$index)">&#xe60b;</span></li>
                                        </ul>
                                    </div>
                                    <div class="tag-list-warp">
                                        <div class="tag-input clearfix">
                                            <input type="text" class="input-cfec" ng-model="vm.keyword"> </div>
                                        <ol class="tag-list">
                                            <li ng-repeat='item in vm.targetDictArray' ng-click="tools.addTag(item,$parent.$index)">{{item.tagName}}</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="del-warp">
                                    <span class="del-icon" ng-click="tools.delTagItem($index)"></span>
                                    <span class="add-tag-icon" ng-click="tools.addTagItem()" ng-if="$index==tagList.length-1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row" ng-if="msgInfo.sendRang==3">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> </label>
                <div class="col-sm-10">
                    <div class="oms-warp">
                        <textarea name="userIds" id="userIds" ng-model="msgInfo.userIds" class="textarea-cfec w300" placeholder="最多输入50个用户，每个ID用英文逗号隔开"></textarea>
                    </div>
                </div>
            </div>
            <!-- 推送时间 -->
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> <span>*</span> 推送时间 </label>
                <div class="col-sm-10">
                    <div class="checkbox fl w250">
                        <label class="pl0 mr20">
                            <input name="time" ng-model="msgInfo.timeType" type="radio" value="1" class="mr10" /> 即时推送 </label>
                    </div>
                    <div class="checkbox fl w250">
                        <label class="pl0 mr20">
                            <input name="time" ng-model="msgInfo.timeType" type="radio" value="2" class="mr10" /> 定时推送 </label>
                    </div>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"> </label>
                <div class="col-sm-10">
                    <div class="oms-warp">
                        <div class="pushtime-warp" ng-if="msgInfo.timeType==1">
                            <input type="text" class="input-cfec w200" readonly ng-model="vm.now"> <span>/</span>
                            <input type="text" class="input-cfec w50" value="72" readonly> <span>小时内在线设备可以接收到消息</span> </div>
                        <div class="pushtime-warp" ng-if="msgInfo.timeType==2">
                            <input ngc-lay-date istime format="YYYY-MM-DD hh:mm:ss" type="text" class="laydate-icon" ng-model="msgInfo.startTime" id="startTime" name="startTime" max-date="{{msgInfo.expireTime}}" ng-required placeholder="开始日期" /> <span>至</span>
                            <input ngc-lay-date istime format="YYYY-MM-DD hh:mm:ss" type="text" class="laydate-icon" ng-model="msgInfo.expireTime" id="expireTime" name="expireTime" min-date="{{msgInfo.startTime}}" placeholder="结束日期" ng-required/> <span>在线设备可以接收到消息的时间</span> </div>
                    </div>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"></label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-cfec-red" ng-disabled="vm.btnFlag" ng-click="tools.saveInfo();">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/ng-template" id="confirmMsg">
    <div class="resetPswDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <div class="row mb10">
                <div class="col-md-4">发送消息类型:</div>
                <div class="col-md-8">{{info.sendType | addSendTypeFilter}}</div>
            </div>
            <div class="row mb10">
                <div class="col-md-4">描述:</div>
                <div class="col-md-8">{{info.description}}</div>
            </div>
            <div class="row mb10" ng-if="info.sendType==1">
                <div class="col-md-4">标题:</div>
                <div class="col-md-8">{{info.title}}</div>
            </div>
            <div class="row mb10" ng-if="info.sendType==1">
                <div class="col-md-4">内容:</div>
                <div class="col-md-8">{{info.text}}</div>
            </div>
            <div class="row mb10" ng-if="info.sendType==2">
                <div class="col-md-4">展会通计划ID:</div>
                <div class="col-md-8">{{info.sendValue}}</div>
            </div>
            <div class="row mb10" ng-if="info.sendType==1">
                <div class="col-md-4">连接到:</div>
                <div class="col-md-8"> {{info.urlType | urlTypeFilter}} <span ng-if="info.urlValue">  ({{info.urlValue}})</span> </div>
            </div>
            <div class="row mb10">
                <div class="col-md-4">目标用户:</div>
                <div class="col-md-8"> {{info.sendRang | sendRangFilter}}
                    <!-- <p ng-if="info.sendRang==2">标签：<span ng-repeat="item in vm.array">{{item.tagName}} </span> </p> -->
                    <p ng-if="info.sendRang==3">用户IDs：{{info.userIds}}</p>
                </div>
            </div>
            <div class="row mb10">
                <div class="col-md-4">推送时间:</div>
                <div class="col-md-8"> {{info.messageStatisc}}
                    <p ng-if="info.timeType==1">{{vm.now | date:'yyyy-MM-dd HH:mm:ss'}} 72小时内在线设备可以接收到消息</p>
                    <p ng-if="info.timeType==2">{{info.startTime | date:'yyyy-MM-dd HH:mm:ss'}} 至 {{info.expireTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
            </div>
            <div class="btn-toolbar clearfix ta-c">
                <button class="btn btn-cfec-red" ng-click="vm.submit()">确定</button>
                <button class="btn btn-cfec-white" ng-click="vm.close()">取消</button>
            </div>
        </div>
    </div>
</script>