<div class="oms-crumbs"> <i>APP消息推送</i>
    <p>
        <a href="">App编辑</a> /
        <span>APP消息推送</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
            <uib-tab index="0">
                <uib-tab-heading>全部</uib-tab-heading>
            </uib-tab>
            <button type="button" class="btn btn-default btn-cfec-white fr m10 mr20" ng-click="vm.addMsgPush();">添加消息推送</button>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">消息类型:</label>
                <select class="select-oms" ng-model="vm.paging.sendType">
                    <option value="">全部</option>
                    <option value="1">自定义消息</option>
                    <option value="2">展会通消息</option>
                    <option value="3">通知消息</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">通知描述搜索:</label>
                <input type="text" class="input-cfec" ng-model="vm.paging.description" placeholder="">
            </div>
            <div class="form-group fl">
                <label for="">发送时间</label>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.startTime" id="startTime" max-date="{{vm.paging.expireTime}}" ng-required placeholder="开始日期" />
                <span class="text-inline">至</span>
                <input ngc-lay-date readonly type="text" class="laydate-icon" ng-model="vm.paging.expireTime" id="expireTime" min-date="{{vm.paging.startTime}}" placeholder="结束日期" ng-required/>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="vm.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="vm.reset();">重&nbsp置</button>
            </div>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <colgroup>
                    <col width="20%">
                    <col width="15%">
                    <col width="15%">
                    <col width="30%">
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>消息类型</th>
                        <th>发送范围</th>
                        <th>通知描述</th>
                        <th>开始发送时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.list.length">
                    <tr ng-repeat='item in vm.list'>
                        <td>{{item.messageId}}</td>
                        <td>{{item.sendType | sendTypeFilter:item}}</td>
                        <td>{{item.sendRang | sendRangFilter}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <p>{{item.createTime | date:'yyyy-MM-dd'}}</p>
                            <p>{{item.createTime | date:'HH:mm:ss'}}</p>
                        </td>
                        <td><a href="javascript:void(0);" ng-click="vm.showDialog(item.messageId)">查看效果</a></td>
                    </tr>
                </tbody>
                <tbody ng-if="!vm.list||!vm.list.length" class="ng-scope">
                    <tr>
                        <td colspan="6">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemp"></div>
    </div>
</div>
</div>
<script type="text/ng-template" id="showDetail">
    <div class="resetPswDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <div class="row">
                <div class="col-md-4">通知栏目点击量:</div>
                <div class="col-md-8">{{vm.messageStatisc}}</div>
            </div>
        </div>
    </div>
</script>
