<div class="activeDlg">
    <div class="dlg-title"></div>
    <div class="dlg-category-content select-purchase-cate">
        <div class="panel-container pl0">
            <div class="input-cfec-icon mr0 w400">
                <input type="text" placeholder="Please enter the category name " class="w300" ng-model="vm.cateKeyword" ng-change="tools.checCatekKeyUp();" ng-keyup="tools.checkCateKeyUp($event);" />
                <button ng-click="tools.searchCate();"><i class="iconfont icon-search"></i> </button>
            </div>
            <div class="search-categories" ng-if="vm.searchCategoresList.length>0">
                <ul>
                    <li id="search{{item.categoryId}}" ng-repeat="item in vm.searchCategoresList" class="clearfix" ng-click="tools.chxSelectCate(item);">
                        <span title="{{item.categoryName}}">{{item.categoryName}}:</span>
                        <p title="{{item.categoryTree.join('>>')}}" ng-bind-html="item.categoryTreeHtml"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="selectBox j-box" ng-if="vm.searchCategoresList.length<=0">
            <div class="row levers-width">
                <div class="level" ng-repeat="ct in vm.categorys track by $index">
                    <ul>
                        <li ng-repeat="item in ct" id="{{item.categoryId}}" data-categoryName="{{item.categoryName}}" data-categoryEname="{{item.categoryEname}}" ng-click="tools.getCategoryChildren(item.categoryId,$parent.$index+1,item.isBottom)">
                            <span>{{item[vm.keyAttr]}}</span>
                            <span ng-if="item.isBottom !=1">&gt;</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hasSearch">
            <span class="search">当前选择的类目为：</span>
            <span>{{vm.checkedCategory.name}}</span>
        </div>
        <div class="row text-center">
            <button ng-click="tools.sure()" class="btn btn-default btn-cfec-red">确定</button>
            <button class="btn btn-default btn-cfec-white" ng-click="tools.cancel()">取消</button>
        </div>
    </div>
</div>
