<h1><!-- 管理收货地址 -->{{'MANAGE' | translate}} {{'DELIVERY_ADDR' | translate}}</h1>

<div class="alert">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <!-- 如广电商收到买家寄回的包裹，我们会将货物寄到您预留的中文退货地址。 -->
  {{'TIPS.ADDR' | translate}}
</div>
<div class="text-right"><button class="btn" ng-click="add()"><!-- 添加地址 -->{{'ADD_ADDR' | translate}}</button></div>
<table class="table table-bordered">
  <tr class="active">
   <!-- 收货人 -->
    <th>{{'RECIEVER' | translate}}</th>
    <!-- 详细地址 -->
    <th>{{'DETAIL_ADDR' | translate}}</th>
    <!-- 邮政编码 -->
    <th>{{'ZIP_CODE' | translate}}</th>
    <!-- 手机 -->
    <th>{{'MOBILE' | translate}}</th>
    <!-- 操作 -->
    <th>{{'OPR.VAl' | translate}}</th>
  </tr>
  <tr ng-repeat="add in addressGather">
    <td>{{add.supplierName}}</td>
    <td>{{add.supplierAddress}}</td>
    <td>{{add.zipCode | parseIn}}</td>
    <td>{{add.mobile | parseIn}}</td>
    <td><a href="javascript:;" ng-click="modify($index)"><!-- 修改 -->{{'OPR.CHG' | translate}}</a> / <a href="javascript:;" ng-click="remove($index)"><!-- 删除 -->{{'OPR.DEL' | translate}}</a></td>
  </tr>
</table>