<h1>{{title}}</h1>
<div class="condbox clearfix searchConditions">
	<form class="form-inline" novalidate ng-submit="tools.getSellerList()">
		&nbsp;&nbsp;
		<div class="form-group">
			<button class="btn   btn-info" ng-click="tools.saveattribute()" >添加属性规格</button>
			<button class="btn   btn-info" ng-click="tools.addattribute()" >转移属性</button>
			<button class="btn   btn-info" ng-click="tools.addattribute()" >复制属性</button>
		</div>

		<div class="form-group right">
			<input class="inputwidth" type="text" name="" id="" placeholder="点击选择类目" ng-model="paging.Category">
			<label for=""></label>
			<select ng-model="paging.qKey" ng-options="value.value as value.title for value in tools.conditionTypeList">
				<option value="">请选择</option>
			</select>
			<input class="inputwidth" type="text" name="" id="" placeholder="请输入关键字" ng-model="paging.qValue">
			<button type="submit" class="btn btn-xs btn-primary">搜索</button>
			<button type="button" class="btn btn-xs btn-primary" ng-click="tools.reset();">重置</button>
		</div>
	</form>
</div>

<uib-tabset justified="true">
	<uib-tab heading="属性" ng-click="paging.auditStatus=2;tools.getBuyers();"></uib-tab>
	<uib-tab heading="规格" ng-click="paging.auditStatus=3;tools.getBuyers();"></uib-tab>
</uib-tabset>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>
				<input type="checkbox" name="" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)"></th>
			<th>名称</th>
			<th>英文名称</th>
			<th>所属类目</th>
			<th>logo</th>
			<th>排序</th>
			<th>封停</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.items">
			<td>
				<input type="checkbox" name="" id="" ng-model="item.$checked" ng-change="vm.selection()"></td>
			<!-- 类目名称 -->
			<td>{{item.userName}}</td>
			<!-- 英文名称 -->
			<td>{{item.email}}</td>
			<!-- logo -->
			<td>
				<img ng-src="{{item.supplierPhoto |setImgSize:80:80}}" alt="" width="80" height="80" />
			</td>

			<!-- 排序 -->
			<td>{{item.companyEnName}}</td>
			<!-- 分类属性 -->
			<td>{{item.companyEnName}}</td>
			<!-- 属性个数 -->
			<td>
				<button class="btn btn-info" ng-click="tools.notifyattribute(item.sellerId)">修改</button>

				<button class="btn btn-info" ng-click="tools.delattribute(item.sellerId)">删除</button>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="col-md-3">
		每页条目数:
		<select name="" ng-model="paging.pageSize" ng-options="pagesize for pagesize in [10, 30, 50]" ng-change="tools.getSellerList()"></select>
	</div>
	<div class="col-md-9">
		<uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class="pagination-sm" ng-change="tools.getSellerList()"
  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
	</div>
</div>

<!-- 添加属性 -->
<script type="text/ng-template" id="addattribute.html">
<div  class="popmenu">
	<div class="pop-head">添加属性</div>
	<div class="alert alert-info line"></div>

	<form class="form-horizontal" novalidate ng-submit="submit()">
		<div class="form-group">
			<label class="col-md-3  control-label">行业名称：</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="chgAdd.countryId"></div>
		</div>
		<div class="form-group">
			<label class="col-md-3  control-label">英文名称：</label>
			<div class="col-md-6">
				<input type="text" class="form-control " ng-model="chgAdd.asd"></div>
		</div>
		<div class="form-group">
			<label class="col-md-3  control-label">logo：</label>
			<div class="col-md-6">
				<input type="button" class="btn btn-primary" value="上传图片"
				ngf-select ngf-change="upload($files,vm.bizCodeImg)" ngf-multiple="true"
     		    ng-model="vm.bizCodeImg" required>
				<div>
					<img ng-src="http://192.168.10.17{{vm.bizCodeImg}}" alt="" width="80px" height="80px"></div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3  control-label">排序：</label>
			<div class="col-md-6">
				<input type="text" class="form-control pointlen"></div>
		</div>
		<div class="form-group">
			<label class="col-md-3  control-label">是否重点行业：</label>
			<div class="col-md-8">
				<input type="checkbox"  name="checkbox1" id="" ng-model="check" ng-change="vm.selection()">是</div>
		</div>
		<div class="form-group">
			<input class="btn btn-primary col-md-offset-3 col-md-2" type="submit" value="确定">
			<button type="button" class="btn btn-warning col-md-offset-2 col-md-2" ng-click="close()">取消</button>
		</div>
	</form>
</div>
</script>