<form class="searchTop clearfix">
    <div class="sel">
        <select name="tradeCurrency" ng-model="paging.currency">
            <option value="all">全部交易币种</option>
            <option value="USD">美元</option>
            <option value="RMB">人民币</option>
        </select>
        <label for="companyName">公司名称</label>
        <input ngc-auto-input type="text" id="companyName" ng-model="paging.companyName"/>
        <label for="vitual">虚拟账号</label>
        <input ngc-auto-input type="text" id="vitual" ng-model="paging.email"/>
    </div>
    <div class="remainMoney">
        <label for="start">账户余额</label>
        <input ngc-auto-input type="text" id="start" ng-model="paging.minAmount"/>
        <label for="end">至</label>
        <input ngc-auto-input type="text" id="end" ng-model="paging.maxAmount"/>
    </div>
    <div class="but">
        <input type="submit" value="查询" ng-click="vm.searchMsg()"/>
        <input type="reset" value="重置"/>
    </div>
</form>
<div class="detail">
    <table>
        <thead class="bg-pink">
            <tr>
                <td>序号</td>
                <td>公司名称</td>
                <td>虚拟账户</td>
                <td>美元余额($)</td>
                <td>人民币余额(￥)</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.items">
                <td>{{ $index + 1 + paging.pageSize * (paging.page-1) }}</td>
                <td>{{ item.companyName }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.amountCNY }}</td>
                <td>{{ item.amountUSD }}</td>
                <td><a href="#" ng-click="tools.showBuyerDetail(item.sellerId,item.companyName,item.email);">详情</a></td>
            </tr>
        </tbody>
    </table>
    <div class=" middivs clearfix">
        <div class="divright clearfix">
            <button  class="btn btn-default lastbuttons" ng-click="tools.getnewpage();">GO</button>
            <input type="text" class="inputs" ng-model="tools.newpagesize">
            <label class="page-list-style label-style">转到页</label>
            <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class=" page-list-style" ng-change="tools.getNextPage()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5"></uib-pagination>
        </div>
        <select type="button" class="btn btn-default buttons right-btn" name="" ng-model="paging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in tools.pages" ng-change="tools.getNextPage()"></select>
    </div>
</div>