<div class="list-content table-cfec mt20">
    <table class="table table-hover ">
        <colgroup>
            <col width="10%">
            <col width="20%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <!-- <col width="10%"> -->
            <col width="10%">
            <col width="20%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="8">套餐信息</th>
            </tr>
        </thead>
        <tbody ng-if="memberPackageTools.memberPackageList.length>0">
            <tr style="border-bottom: 1px solid #ddd;height: 40px;">
                <td>申请日期</td>
                <td>开通会员类型</td>
                <td>生效时间</td>
                <td>过期时间</td>
                <td>套餐开通人</td>
                <td>状态</td>
                <td>备注</td>
            </tr>
            <tr ng-repeat="item in memberPackageTools.memberPackageList" class="{{item.packageStatus=='当前套餐'?'ad-online':''}}">
                <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.packageName}}</td>
                <td>{{item.effectiveTime | date:'yyyy-MM-dd'}}</td>
                <td>{{item.expireTime | date:'yyyy-MM-dd'}}</td>
                <td>{{item.openUp}}</td>
                <td>{{item.packageStatus}}</td>
                <td>{{item.remark}}</td>
            </tr>
        </tbody>
        <tbody ng-if="memberPackageTools.memberPackageList==undefined||memberPackageTools.memberPackageList.length==0" class="ng-scope">
            <tr>
                <td colspan="7">
                    <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的数据
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="list-content table-cfec mt20">
    <table class="table table-hover ">
        <colgroup>
            <col width="10%">
            <col width="20%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="8">广告位</th>
            </tr>
        </thead>
        <tbody ng-if="adKeyowrdTools.adKeyowrdList.length>0">
            <tr style="border-bottom: 1px solid #ddd;height: 40px;">
                <td>申请日期</td>
                <td>开通类型</td>
                <td>产品ID</td>
                <td>生效时间</td>
                <td>过期时间</td>
                <td>申请人</td>
                <td>开通人</td>
                <td>状态</td>
            </tr>
            <tr ng-repeat="item in adKeyowrdTools.adKeyowrdList" class="{{item.status==3&&item.timeStatus==6?'ad-online':''}}">
                <td>
                    <p>{{ item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </td>
                <td>
                    <p>关键词:{{ item.adKeyword }}</p>
                    <p>{{ item.sitType | sitTypeFilter}}</p>
                </td>
                <td>
                    <a href="{{ item.secondLevelDomain  }}" target="_blank" class="link-cfec-inherit">{{ item.productId }}</a>
                </td>
                <td>
                    <p>{{ item.beginDate | date:'yyyy-MM-dd'}}</p>
                </td>
                <td>
                    <p>{{ item.endDate | date:'yyyy-MM-dd'}}</p>
                </td>
                <td>{{ item.createName }}</td>
                <td>{{ item.verifierName }}</td>
                <td>{{ item.status | adState:item.timeStatus }}</td>
            </tr>
        </tbody>
        <tbody ng-if="adKeyowrdTools.adKeyowrdList==undefined||adKeyowrdTools.adKeyowrdList.length==0" class="ng-scope">
            <tr>
                <td colspan="8">
                    <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的数据
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row-page clearfix">
    <select class="item" ng-model="adKeyowrdInfo.pageSize" ng-options="obj.pageSize as obj.pagename for obj in adKeyowrdTools.pages" ng-change="adKeyowrdTools.getnewpage(0)"></select>
    <uib-pagination boundary-links="true" total-items="adKeyowrdTools.total" ng-model="adKeyowrdInfo.page" items-per-page="adKeyowrdInfo.pageSize" class="page-list-style item" ng-change="adKeyowrdTools.getnewpage()" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    <label class="item">
        共
        <big>{{adKeyowrdTools.total}}</big> 条
    </label>
    <label class="item">转到第</label>
    <input class="ngc-jumppage" type="number" class="item" ng-model="adKeyowrdTools.newpagesize">
    <label class="item">页</label>
    <button class="j-jump item" ng-click="adKeyowrdTools.getnewpage(1);">GO</button>
</div>

<div class="list-content table-cfec mt20">
    <table class="table table-hover ">
        <colgroup>
            <col width="50%">
            <col width="50%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">买家通</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    剩余邮件数:
                </td>
                <td>
                {{vm.addValInfo.mailBuyCount+vm.addValInfo.mailFreeCount}}封</span>
                </td>
            </tr>
            <tr>
                <td>冻结邮件数:</td>
                <td>{{vm.addValInfo.mailFrozenCount}}<span ng-if="vm.addValInfo.mailFrozenCount">封</span>
                <a ng-href="/#/edm/comsumeRecordDetail?userId={{vm.item.personInfo.userId}}" target="_blank">查看充值消费明细</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="list-content table-cfec mt20">
    <table class="table table-hover ">
        <colgroup>
            <col width="50%">
            <col width="50%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">商机市场</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    剩余报价数:
                </td>
                <td>
                {{vm.addValInfo.quoteEquityCount}}<span ng-if="vm.addValInfo.quoteEquityCount">条</span>
                 <a ng-href="/#/edm/comsumeRecordDetail?userId={{vm.item.personInfo.userId}}" target="_blank">查看充值消费明细</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
