<ul class="tab-list-cfec">
    <li ng-click="purchaseTools.status=0;purchaseTools.reset();purchaseTools.getPurchaseList();" class="{{purchaseTools.status==0?'active':''}}">匹配的采购需求</li>
    <li ng-click="purchaseTools.status=1;purchaseTools.reset();purchaseTools.getPurchaseList();" class="{{purchaseTools.status==1?'active':''}}">自由报价的采购需求</li>
</ul>
<div class="search-content form-group-main clearfix pl0">
    <div class="form-group fl" ng-if="purchaseTools.status==0">
        <label for="">读取状态</label>
        <select class="select-oms" ng-model="purchaseInfo.isRead" ng-options="obj.value as obj.key for obj in purchaseTools.readStatusArray">
            <option value="">请选择</option>
        </select>
    </div>
    <div class="form-group fl" ng-if="purchaseTools.status==0">
        <label for="">是否报价</label>
        <select class="select-oms" ng-model="purchaseInfo.isQuote" ng-options="obj.value as obj.key for obj in purchaseTools.quoteStatusArray">
            <option value="">请选择</option>
        </select>
    </div>
    <div class="form-group fl" ng-if="purchaseTools.status==0">
        <label for="">匹配类型</label>
        <select class="select-oms" ng-model="purchaseInfo.matchType" ng-options="obj.value as obj.key for obj in purchaseTools.purchaseMateStatusArray">
            <option value="">请选择</option>
        </select>
    </div>
    <div class="form-group fl">
        <label for="">报价审核状态</label>
        <select class="select-oms" ng-model="purchaseInfo.quoteAuditState" ng-options="obj.value as obj.key for obj in purchaseTools.quoteAuditStatusArray">
            <option value="">请选择</option>
        </select>
    </div>
    <div class="form-group fl">
        <label for="">报价时间</label>
        <input ngc-lay-date readonly type="text" placeholder="起始日期" class="laydate-icon" ng-model="purchaseInfo.quoteDateFrom" id="purchaseStartTime" max-date="{{purchaseInfo.quoteDateTo}}" />
        <span class="text-inline">至</span>
        <input ngc-lay-date readonly type="text" placeholder="截止日期" class="laydate-icon" ng-model="purchaseInfo.quoteDateTo" id="purchaseEndTime" min-date="{{purchaseInfo.quoteDateFrom}}" />
    </div>
    <div class="form-group btns-group clear">
        <button class="btn btn-cfec-red fl mr20" ng-click="purchaseInfo.page=1;purchaseTools.search();">查&nbsp询</button>
        <button class="btn btn-cfec-white fl" ng-click="purchaseInfo.page=1;purchaseTools.reset()">重&nbsp置</button>
    </div>
</div>
<div class="list-content table-cfec mt20">
    <table class="table table-hover ">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="5%">
            <col width="7%">
            <col width="7%">
            <col width="8%">
            <col width="8%">
            <col width="9%">
            <col width="9%">
            <col width="7%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>主题</th>
                <th>行业类目</th>
                <th>采购商公司名称</th>
                <th>国家</th>
                <th ng-if="purchaseTools.status==0">匹配类型</th>
                <th>发布时间</th>
                <th>有效期限</th>
                <th ng-if="purchaseTools.status==0">读取状态</th>
                <th ng-if="purchaseTools.status==0">报价状态</th>
                <th>报价审核状态</th>
                <th>报价时间</th>
                <th class="ta-c">
                    站内信沟通
                    <br>(已发送/已接收)</th>
            </tr>
        </thead>
        <tbody ng-if="purchaseTools.purchaseList.length>
        0">
            <tr ng-repeat="item in purchaseTools.purchaseList">
                <td>
                    <a class="link-cfec-inherit" target="_blank" ng-href="/#/purchase/purchaseReqDetail?purchaseId={{item.procurementId}}">{{item.productName}}</a>
                </td>
                <td>{{item.productCategoryPath}}</td>
                <td>
                    <a class="link-cfec-inherit" target="_blank" ng-href="/#/buyer/detail?buyerId={{item.buyerId}}">{{item.buyerCompanyName}}</a>
                </td>
                <td>{{item.buyerCountryCnName}}</td>
                <td ng-if="purchaseTools.status==0">{{item.matchType | checkPurchaseMatchType}}</td>
                <td>
                    {{item.sendTime | date:'yyyy-MM-dd'}}
                    <br>{{item.sendTime | date:'HH:mm:ss'}}</td>
                <td>{{item.validDate | date:'yyyy-MM-dd'}}</td>
                <td ng-if="purchaseTools.status==0">{{item.isRead | checkPurchaseRead}}</td>
                <td ng-if="purchaseTools.status==0">
                    {{item.isQuote | checkPurchaseQuote}}
                    <span ng-if="item.isQuote==1">
                    (
                    <a class="link-cfec-inherit" target="_blank" ng-href="/#/purchase/purchaseQuoteDetail?inqueryUUID={{item.inqueryUUID}}">查看</a>
                    )
                </span>
                </td>
                <td>{{item.quoteAuditState | checkPurchaseQuoteAudit}}</td>
                <td>
                    {{item.quoteTime | date:'yyyy-MM-dd'}}
                    <br>{{item.quoteTime | date:'HH:mm:ss'}}</td>
                <td class="ta-c">
                    <p ng-if="item.messageInfo.length>
                    0" ng-repeat="enitem in item.messageInfo track by $index">第{{item.messageInfo.length-$index}}条
                        <a class="link-cfec-inherit" href="javascript:void(0)" ng-click="purchaseTools.showMsgDialog(enitem.messageId)">{{enitem.msgSendNum}}/{{enitem.msgRecNum}}</a>
                    </p>
                    <p ng-if="item.messageInfo.length==0">无</p>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="purchaseTools.purchaseList==undefined||purchaseTools.purchaseList.length==0" class="ng-scope">
            <tr>
                <td colspan="{{purchaseTools.status==0?12:9}}">
                    <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的数据
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row-page clearfix">
    <select class="item" ng-model="purchaseInfo.pageSize" ng-options="obj.pageSize as obj.pagename for obj in purchaseTools.pages" ng-change="purchaseTools.getnewpage(0)"></select>
    <uib-pagination boundary-links="true" total-items="purchaseTools.total" ng-model="purchaseInfo.page" items-per-page="purchaseInfo.pageSize" class="page-list-style item" ng-change="purchaseTools.getnewpage()" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    <label class="item">
        共
        <big>{{purchaseTools.total}}</big> 条
    </label>
    <label class="item">转到第</label>
    <input class="ngc-jumppage" type="number" class="item" ng-model="purchaseTools.newpagesize">
    <label class="item">页</label>
    <button class="j-jump item" ng-click="purchaseTools.getnewpage(1);">GO</button>
</div>
