<div class="oms-crumbs"> <i>App编辑</i>
    <p>
        <a href="">app首页内容列表</a> /
        <span>App编辑</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
            <uib-tab index="0" ng-click="tools.getHomePageList();">
                <uib-tab-heading>首页</uib-tab-heading>
                <div class="p20">
                    <button type="button" class="btn btn-cfec-white" ng-click="tools.addAppPage();">新建页面</button>
                </div>
                <div class="list-content table-cfec table-cfec-theme2">
                    <table class="table table-hover ">
                        <colgroup>
                            <col width="50%">
                            <col width="25%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>页面标题</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-if="vm.items.length>0">
                            <tr ng-repeat='item in vm.items'>
                                <td>
                                    <a href="javascript:void(0)" ng-click="">{{item.subject}}</a>
                                </td>
                                <td>{{item.createTime | date :'yyyy-MM-dd HH:mm:ss' }}</td>
                                <td>
                                    <a ngc-permission="appCms_appCmsappContentList_preview" href="javascript:void(0)" ng-click="tools.showPreviewLink(item.id)">预览</a>
                                    <a ngc-permission="appCms_appCmsappContentList_edit" href="/#/appCms/appEditIndex?id={{item.id}}">编辑</a>
                                    <a ngc-permission="appCms_appCmsappContentList_edit" href="javascript:void(0)" ng-click="tools.deleteHomepageConfirm(item.id)" ng-if="item.active==0">删除</a>
                                    <a ngc-permission="appCms_appCmsappContentList_edit" href="javascript:void(0)" ng-click="tools.updateHomepageToActive(item.id)" ng-if="item.active==0">设为首页</a>
                                    <span ng-if="item.active==1">当前首页</span>
                                </td>

                            </tr>
                        </tbody>
                        <tbody ng-if="vm.items==undefined||vm.items.length==0" class="ng-scope">
                            <tr>
                                <td colspan="3">
                                    <p class="noResult-Text pt100 pb100 ta-c"> <i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="middivs clearfix" ng-include="paginationTemplate"></div>
            </uib-tab>
            <uib-tab index="1" ng-click="tools.getHotKeyWords();">
                <uib-tab-heading>热门搜索关键词</uib-tab-heading>
                <div class="p20">
                    <p>
                        PS：移动端搜索结果与PC端相同，在设置关键词时可在
                        <a href="">PC</a> 端查看搜索结果
                    </p>
                    <div class="app-keyword-warp">
                        <div class="keyword-list">
                            <div class="title">商品关键词：</div>
                            <ul ng-repeat="item in vm.keywordOfProduct.keywords">
                                <li>
                                    {{item}}
                                    <span ngc-permission="appCms_appCmsappContentList_editKeyWord" class="del iconfont" ng-click="tools.delKeywordOfProduct($index)">&#xe65f;</span>
                                </li>

                            </ul>
                            <a ngc-permission="appCms_appCmsappContentList_editKeyWord" href="javascript:void(0)" class="add" ng-click="tools.addKeyword(0);">+添加</a>
                        </div>
                        <div class="keyword-list">
                            <div class="title">供应商关键词：</div>
                            <ul ng-repeat="item in vm.keywordOfSeller.keywords">
                                <li>
                                    {{item}}
                                    <span ngc-permission="appCms_appCmsappContentList_editKeyWord" class="del iconfont" ng-click="tools.delKeywordOfSeller($index)">&#xe65f;</span>
                                </li>

                            </ul>
                            <a ngc-permission="appCms_appCmsappContentList_editKeyWord" href="javascript:void(0)" class="add" ng-click="tools.addKeyword(1);">+添加</a>
                        </div>
                        <button ngc-permission="appCms_appCmsappContentList_editKeyWord" class="btn btn-cfec-red" ng-click="tools.saveHotKeyWords()">保存</button>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<script type="text/ng-template" id="addKeywordTmp.html">
    <div class="dlg-title">提示</div>
    <div class="dlg-content form">
        <p class="ta-c">
            请输入{{type?'供应商':'商品'}}关键词 : <input ng-model="vm.newKeyWord" type="text" class="input-cfec ml20"></p>
        <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-click="tools.submit()">确定</button>
            <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="homePageListDel">
    <div class="dlg-title">提示</div>
    <div class="dlg-content form">
        <p class="ta-c">确认删除这条记录？</p>
        <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-click="submit()">确定</button>
            <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
        </div>
    </div>
</script>