<div class="oms-crumbs"> <i>内容编辑页</i>
    <p>
        <a href="">App编辑</a> /
        <span>内容编辑页</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <div class="form-horizontal app-content-form pt40">
            <div class="form-group">
                <div class="row">
                    <label for="appTitle" class="col-sm-2 control-label">
						<span class="red">*</span>
						页面标题：
					</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input type="text" class="form-control" id="appTitle" ng-model="indexPaging.subject">
                    </div>
                </div>
            </div>
            <!--轮播图-->
            <div class="form-group" ng-include="homepageCarouselFigure" id="homepageCarouselFigure" ng-if="indexPaging.homepageCarouselFigure!=null"></div>
            <!--橱窗-->
            <div class="form-group" ng-include="homepageWindow" id="homepageWindow" ng-if="indexPaging.homepageWindow!=null"></div>
            <!--图片广告-->
            <div class="form-group" ng-include="homepageAdvertisement" id="homepageAdvertisement" ng-if="indexPaging.homepageAdvertisement!=null"></div>
            <!--推荐商品-->
            <div class="form-group" ng-include="homepageRecommendProduct" id="homepageRecommendProduct" ng-if="indexPaging.homepageRecommendProduct!=null"></div>

            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                </label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-cfec-red mr20" ng-click="tools.saveAppIndex()">保存</button>
                    <a href="/#/appCms/appContentList" class="btn btn-cfec-white">返回</a>
                </div>
            </div>
        </div>
    </div>
</div>