<div class="container container-width">
    <div class="Detail-div clearfix">
        <h3>物流订单详情</h3>
        <a href="javascript:;" ng-click="tools.back();">
            <h4>返回上一层</h4>
        </a>
    </div>
    <table class="table table-bordered mb-20">
        <thead>
        <tr class="hide">
            <td width="20%"></td>
            <td width="30%"></td>
            <td width="20%"></td>
            <td width="30%"></td>
        </tr>
        </thead>
        <tbody>
        <tr> <td class="bg-slight">订单编号</td><td colspan="3"><a href="javascript:;" ng-click="tools.beforeShowDetail(vm.item.orderNo,vm.item.order.orderSubItemList[0].itemNum)"> {{vm.item.orderNo}}</a></td></tr>
        <tr> <td class="bg-slight">物流订单号</td><td colspan="3">{{vm.item.shippingNo}}</td></tr>
        <tr> <td class="bg-slight">已付金额(单位:$)</td><td colspan="3">{{vm.item.order.shippingFee}}</td></tr>
        <tr> <td class="bg-slight">物流供应商</td><td colspan="3">{{vm.item.shipping.shippingCorp}}</td></tr>
        <tr> <td class="bg-slight">下单时间</td><td colspan="3">{{vm.item.order.addTime|date:'yyyy-MM-dd HH:mm:ss'}}</td></tr>
        <tr> <td class="bg-slight">货物信息</td>
            <td colspan="3" style="padding: 0px!important">
                <table  class="table-bordered">
                    <thead style="background-color: #ddd">
                        <tr>
                            <td width="20%" >商品编号</td>
                            <td width="50%">商品名称</td>
                            <td width="10%">数量</td>
                            <td width="10%">重量</td>
                            <td width="10%">尺寸</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="prod in vm.item.products track by $index">
                        <td width="20%">{{prod.code}}</td>
                        <td width="50%">{{prod.name}}</td>
                        <td width="10%">{{prod.count}}</td>
                        <td width="10%">{{prod.weight}}kg</td>
                        <td width="10%">{{prod.volume}}</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <p class="text-right">重量:<span class="font-weight">{{vm.item.weight+' kg'}}</span></p>
                            <p class="text-right">体积:<span class="font-weight">{{vm.item.volume +' m3' }}</span></p>
                        </td>
                    </tr>
                </table>
            </td></tr>
        <tr>
            <td class="bg-slight">公司名称</td>
            <td>{{vm.item.senderCompanyName}}</td>
            <td class="bg-slight">发货时间</td>
            <td>{{vm.item.order.orderSubItemList[0].orderProductList[0].shippingTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>

        </tr>
        <tr>
            <td class="bg-slight">发货省市</td>
            <td>{{vm.item.senderProvinceName}},{{vm.item.senderCityName}}</td>
            <td class="bg-slight">目的国家</td>
            <td>{{vm.item.order.ordersUser.countryId}}</td>
        </tr>
        <tr>
            <td class="bg-slight">发货地</td>
            <td>{{vm.item.shipping.senderAddress}}</td>
            <td class="bg-slight">收货目的地</td>
            <td>{{vm.item.order.ordersUser.address}}</td>
        </tr>
        <tr>
            <td class="bg-slight">运单号</td>
            <td>{{vm.item.shippingNo}}</td>
            <td class="bg-slight"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div class="panel pt-10">
        <div  class="header-default border">物流跟踪信息</div>
        <div class="border pd-l-1 font-14">
            <div class="row">
                <lable class="col-xs-2 text-right">发货凭证:</lable>
                <div class="col-xs-9" ng-if="vm.item.document.shippingDocumentPath.length>1">
                    <img ng-click="tools.baseEnLarge(vm.item.document.shippingDocumentPath)" ng-src="{{vm.item.document.shippingDocumentPath|setImgSize:150:90}}" alt="发货凭证" />
                    <div style="margin-left: 30px" class="text-left font-slightgrep">
                        <a href="javascript:" ng-click="tools.baseEnLarge(vm.item.document.shippingDocumentPath)">点击查看大图</a>
                    </div>
                </div>
            </div>
            <div class="row">
                    <lable class="col-xs-2 text-right">物流跟踪:</lable>
                    <div class="col-xs-9"><ul>
                        <li class="font14" ng-repeat="logTime in vm.item.shipping.shippingDetail">
                           {{logTime.shippingTimestamp|date:'yyyy-MM-dd HH:mm:ss'}}<span class="ml-15">{{logTime.shippingDesc}}</span>
                        </li>
                    </ul>
                    </div>
            </div>
        </div>
    </div>
</div>