<nav class="docs-sidebar">
  <ul class="nav docs-sidenav">
    <li ng-repeat="menu in menus" ui-sref-active="active">
      <a ng-if="'zh' == lang"  ui-sref="{{menu.path}}">{{ menu.title }}</a>
      <a ng-if="'zh' != lang"  ui-sref="{{menu.path}}">{{ menu.titleEn }}</a>
      <ul class="nav">
        <li ng-repeat="nav in menu.items" ui-sref-active="active">
         <a ng-if="'zh' == lang"  ui-sref="{{menu.path}}.{{ nav.path }}">{{ nav.title }}</a>
          <a ng-if="'zh' != lang"  ui-sref="{{menu.path}}.{{ nav.path }}">{{ nav.titleEn }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>