<div class="oms-crumbs"> <i>商品详情</i>
    <p>
        <a href="">商品管理</a> /
        <a href="">商品列表</a> /
        <span>商品详情</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-product-detail">
        <div class="btns-group cfec-scroll-fixed">
            <button ngc-permission="goods_goodslist_audit" class="btn btn-cfec-white" ng-click="tools.chgAuditStatus(3,'')" ng-hide="vm.item.status == 3">审核通过</button>
            <button ngc-permission="goods_goodslist_audit" class="btn btn-cfec-white" ng-click="tools.chgAuditStatus(-1,'')" ng-hide="vm.item.status==-1">审核不通过</button>
            <button ngc-permission="goods_goodslist_updown" class="btn btn-cfec-white" ng-click="tools.chgAuditStatus('3',1)" ng-show="vm.item.status==3&&vm.item.isOnline==-1">上架</button>
            <button ngc-permission="goods_goodslist_updown" class="btn btn-cfec-white" ng-click="tools.chgAuditStatus('3',-1)" ng-show="vm.item.status==3&&vm.item.isOnline==1">下架</button>
            <button ngc-permission="goods_goodslist_del" class="btn btn-cfec-white" ng-click="tools.chgAuditStatus(-3,'')" ng-hide="vm.item.status==-3">删除</button>
        </div>
        <div class="table-cfec table-cfec-theme3">
            <table class="table">
                <colgroup>
                    <col width="12%">
                    <col width="88%"> </colgroup>
                <thead>
                    <th colspan="2">敏感词记录</th>
                </thead>
                <tbody>
                    <tr>
                        <td>敏感词:</td>
                        <td>{{vm.item.sensitiveWord}}</td>
                    </tr>
                    <!-- <tr>
          <td>外部链接:</td>
          <td>{{vm.item.outLinks}}</td>
        </tr> -->
                </tbody>
            </table>
            <table class="table">
                <colgroup>
                    <col width="20%">
                    <col width="80%"> </colgroup>
                <thead>
                    <th colspan="2">商品基本信息</th>
                </thead>
                <tbody>
                    <tr>
                        <th>商品标题</th>
                        <td ng-bind-html="vm.item.name"></td>
                    </tr>
                    <tr>
                        <th>商品关键字</th>
                        <td ng-bind-html="vm.item.keyword"></td>
                    </tr>
                    <tr>
                        <th>商品基本属性</th>
                        <td>
                            <ul class="base-attr">
                                <li ng-repeat='item in vm.item.baseProps'>
                                    <span ng-bind-html="item.propertyChName"></span>: <span ng-bind-html="item.str"></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>商品自定义属性</th>
                        <td>
                            <ul class="base-attr">
                                <li ng-repeat='item in vm.item.userDefineProps'>
                                    <span ng-bind-html="item.propertyUserDefineId"></span> : <span ng-bind-html="item.propertyUserDefineValue"></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <colgroup>
                    <col width="20%">
                    <col width="80%"> </colgroup>
                <thead>
                    <th colspan="2">商品贸易信息</th>
                </thead>
                <tbody>
                    <tr>
                        <th>最小批量</th>
                        <td>{{vm.item.minOrder}} {{vm.item.minOrderUnitCnName}}</td>
                    </tr>
                    <tr>
                        <th>月产量</th>
                        <td>{{vm.item.monthOrder}} {{vm.item.minOrderUnitCnName}}</td>
                    </tr>
                    <tr>
                        <th>FOB价格</th>
                        <td>
                            <div ng-if="vm.item.fobPriceFrom!=null&&vm.item.fobPriceTo!=null">
                                USD {{vm.item.fobPriceFrom}}~{{vm.item.fobPriceTo}}/{{vm.item.minOrderUnitCnName}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>出货港口</th>
                        <td>{{vm.item.shipmentPort}}</td>
                    </tr>
                    <tr>
                        <th>付款方式</th>
                        <td>{{vm.item.payIds}}</td>
                    </tr>
                    <tr>
                        <th>交期</th>
                        <td>{{vm.item.periodDays}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <colgroup>
                    <col width="20%">
                    <col width="80%">
                </colgroup>
                <thead>
                    <th colspan="2">商品内容描述</th>
                </thead>
                <tbody>
                    <tr>
                        <th>商品图片</th>
                        <td>
                            <ul class="product-img-list">
                                <li ng-repeat="im in vm.item.imgs.split(',')" style="cursor: pointer;">
                                    <img ng-click="tools.enLarge(im)" ng-src="{{im| setImgSize:60:60}}" title="商品图片" width="60" height="60">
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>商品简述</th>
                        <td ng-bind-html="vm.item.productDetail.shortDescription"></td>
                    </tr>
                    <tr>
                        <th style="vertical-align: top;">PC端商品描述（<a href="/#/goods/pcPreview?productId={{tools.productId}}&sellerId={{tools.sellerId}}" target="_blank">预览</a>）</th>
                        <td>
                            <div id="description"></div>
                        </td>
                    </tr>
                    <tr>
                        <th style="vertical-align: top;">WAP端商品描述（<a href="/#/goods/wapPreview?productId={{tools.productId}}&sellerId={{tools.sellerId}}" target="_blank">预览</a>）</th>
                        <td>
                            <div id="descriptionForWap"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table mb0" ng-if="vm.item.status== 3||vm.item.status== -1">
                <colgroup>
                    <col width="24%">
                    <col width="14%">
                    <col width="17%">
                    <col width="45%">
                </colgroup>
                <thead>
                    <tr>
                        <th>审核时间</th>
                        <th>审核人</th>
                        <th>审核结果</th>
                        <th>原因</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ vm.item.auditorTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>{{ vm.item.auditorName }}</td>
                        <td>{{ vm.item.status== -1 ?"审核不通过":"审核通过" }}</td>
                        <td ng-if="vm.item.reasonCn!=null">{{vm.item.reasonCn}}</td>
                        <td ng-if="vm.item.reasonCn==null">无</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- 审核不通过确定对话框[[ -->
<script type="text/ng-template" id="makesure.html">
    <div class="sellerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c"> <i class="iconfont icon-xunwenoms"></i> 确定审核不通过吗？
            </p>
            <form class="form" name="forms.unPassFrom" role="form" novalidate="novalidate">
                <div class="row" style="margin-top: 20px;">
                    <label class="col-md-3 text-right">
                        <span class="notnull">*</span> 原因
                    </label>
                    <div class="col-md-9">
                        <select class="ipt" name="unPassTypeCn" ng-model="confirm.unPassTypeCn" ng-options="ob.cnName as ob.cnName for ob in items" ng-required="true">
                            <option value="">--请选择--</option>
                        </select>
                        <span class="error-valid" ng-show="forms.unPassFrom.$submitted && forms.unPassFrom.unPassTypeCn.$invalid">请选择原因</span>
                    </div>
                </div>
                <div class="row pt-10 mt-10">
                    <div class="col-md-3 text-right">备注</div>
                    <div class="col-md-9">
                        <textarea name="reasonCn" style="width: 282px" rows="3" ng-model="confirm.reasonCn" ng-maxlength="200"> </textarea>
                        <span class="error-valid" ng-show="forms.unPassFrom.$submitted && forms.unPassFrom.reasonCn.$invalid">最多200个字符</span>
                    </div>
                </div>
            </form>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="submit()">确定</button>
                <button class="btn btn-cfec-white" ng-click="close()">取消</button>
            </div>
        </div>
    </div>
</script>
<!-- 审核不通过确定对话框]] -->
<script type="text/ng-template" id="confirm.html">
    <div class="sellerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c"><i class="iconfont icon-xunwenoms"></i>{{message}}</p>
            <div class="form-group pt20 mb0" ng-if="vm.changestatus==-1">
                <textarea name="" class="form-control reasonInput" rows="4" ng-model="vm.reason"></textarea>
            </div>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="submit()">确定</button>
                <button class="btn btn-cfec-white" ng-click="close()">取消</button>
            </div>
        </div>
    </div>
</script>

<!-- 图片放大[[ -->
<script type="text/ng-template" id="enlarge.html">
    <div class="EnlargeDiv">
        <img ng-src="{{ en_img |setImgSize:600:600 }}">
        <button ng-click="turnBack();">返回</button>
    </div>
</script>
<!-- 图片放大]] -->