<div class="row">
    <label for="" class="col-sm-2 control-label">橱窗：</label>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="clearfix mb20 itemModule">
            <div class="titleModule clearfix">
                <div class="form-group">
                    <label for="appTitle" class="col-sm-2 control-label">标题：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control title" ng-model="indexPaging.homepageWindow.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="appTitle" class="col-sm-2 control-label">副标题：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control subTitle" ng-model="indexPaging.homepageWindow.subTitle">
                    </div>
                </div>
            </div>
            <div class="uploadModule clearfix mb20" ng-repeat='item in indexPaging.homepageWindow.homepageDetails'>
                <h2>{{tools.getModuleTitle($index)}}</h2>
                <div class="titleModule clearfix">
                    <div class="form-group">
                        <label for="appTitle" class="col-sm-2 control-label">链接：</label>
                        <div class="col-sm-8">
                            <a ng-if="item.linkUrl!=null&&item.linkUrl!=''" ng-href="{{item.linkUrl | linkFilter}}" class="link mr20" target="_blank">{{item.linkText}}</a>
                            <a href="javascript:void(0)" class="link lh30 mr20" ng-click="tools.selectLink('homepageWindow','homepageDetails',$index)">修改</a>
                            <a ng-if="item.linkUrl!=null&&item.linkUrl!=''" href="javascript:void(0)" class="link lh30" ng-click="tools.removeLink('homepageWindow','homepageDetails',$index)">移除链接</a>
                        </div>
                    </div>
                </div>
                <div class="upload clearfix">
                    <!--安卓-->
                    <div class="form-group">
                        <label for="appTitle" class="col-sm-2 control-label pt0">安卓：</label>
                        <div class="col-sm-10 uploadList clearfix">
                            <!--前景图-->
                            <!--<div class="uploadItem w200 fl ta-c mr30">
                                <img alt="" width="200" height="107" class="img-thumbnail mb10" ng-src="{{ item.imgUrlAndroidFront | appUploadImgFilter }}">
                                <button class="btn btn-cfec-white mb10" type="button" value="上传" ngf-select ngf-change="tools.uploadImg($files,'homepageWindow.imgUrlAndroidFront',$index,200,107)" accept="'image/*'">上传</button>
                                <p class="tips gary ta-l mb10"><span class="red">*</span>{{tools.getRecommendedSizeText($index,'android_front')}}</p>
                            </div>-->
                            <!--背景图-->
                            <div class="uploadItem w200 fl ta-c">
                                <img alt="" width="200" height="107" class="img-thumbnail mb10" ng-src="{{ item.imgUrlAndroidBackend | appUploadImgFilter }}">
                                <button class="btn btn-cfec-white mb10" type="button" value="上传" ngf-select ngf-change="tools.uploadImg($files,'homepageWindow.imgUrlAndroidBackend',$index,200,107)" accept="'image/*'">上传</button>
                                <p class="tips gary ta-l mb10"><span class="red">*</span>{{tools.getRecommendedSizeText($index,'android_back')}}</p>
                            </div>
                        </div>
                    </div>
                    <!--IOS-->
                    <div class="form-group">
                        <label for="appTitle" class="col-sm-2 control-label pt0">IOS：</label>
                        <div class="col-sm-10 uploadList clearfix">
                            <!--前景图-->
                            <div class="uploadItem w200 fl ta-c mr30">
                                <img alt="" width="200" height="107" class="img-thumbnail mb10" ng-src="{{ item.imgUrlIosFront | appUploadImgFilter }}">
                                <button class="btn btn-cfec-white mb10" type="button" value="上传" ngf-select ngf-change="tools.uploadImg($files,'homepageWindow.imgUrlIosFront',$index,200,107)" accept="'image/*'">上传</button>
                                <p class="tips gary ta-l mb10"><span class="red">*</span>{{tools.getRecommendedSizeText($index,'ios_front')}}</p>
                            </div>
                            <!--背景图-->
                            <div class="uploadItem w200 fl ta-c">
                                <img alt="" width="200" height="107" class="img-thumbnail mb10" ng-src="{{ item.imgUrlIosBackend | appUploadImgFilter }}">
                                <button class="btn btn-cfec-white mb10" type="button" value="上传" ngf-select ngf-change="tools.uploadImg($files,'homepageWindow.imgUrlIosBackend',$index,200,107)" accept="'image/*'">上传</button>
                                <p class="tips gary ta-l mb10"><span class="red">*</span>{{tools.getRecommendedSizeText($index,'ios_back')}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>