<h1><!-- 商品管理 --> {{'PRODUCT.MGR' | translate}} </h1>
<div class="alert alert-info">
  <!-- 温馨提示 --> {{'TIPS.VAL' | translate}} ：
1.<!-- 您添加的产品需要通过审核后才能上架交易，审核时间通常在24-28个小时之内，遇特殊情况会稍有延迟，敬请谅解 -->
 {{'TIPS.PRODUCT1' | translate}}
</div>
<div class="condbox clearfix searchConditions">
  <form class="form-inline" novalidate ng-submit="tools.getProducts()">
    <div class="form-group">
      <label for=""><!-- 产品编号 --> {{'PRO_ID' | translate}}：</label>
      <input type="text" class="text-min input-120" placeholder="请输入完整的商品编号"
      ng-model="paging.productCode">
    </div>
    <div class="form-group">
      <label for=""><!-- 关键词 --> {{'KEYWORDS' | translate}}：</label>
      <input type="text" id="productName" class="text-min  input-120" value="输入产品名或关键词"
      ng-model="paging.keywords">
    </div>
    <br>
    <div class="form-group">
      <label for=""><!-- 到期时间 --> {{'EXPIRE_DATE' | translate}}：</label>
      <select ng-model="paging.productValid" ng-options="value.value as value.title for value in tools.productValid">
        <option value=""></option>
      </select>
    </div>
     &nbsp;&nbsp;
    <div class="form-group">
      <label for=""><!-- 上架时间 --> {{'ONLINE_DATE' | translate}}：</label>
      <p class="input-group">
          <input type="text" class="form-control text-min input-150" datepicker-popup="yyyy/MM/dd" is-open="opened" min-date="'1997-06-22'" max-date="maxDate" datepicker-options="dateOptions" date-disabled = "disabled(date,mode)" ng-required="true" close-text="Close"
          ng-model="paging.onlineStart">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
              </button>
          </span>
      </p>
    </div>
    <div class="form-group">
      <label for="">到:</label>
      <p class="input-group">
          <input type="text" class="form-control text-min input-150" datepicker-popup="yyyy/MM/dd" is-open="opened" min-date="'1997-06-22'" max-date="maxDate" datepicker-options="dateOptions" date-disabled = "disabled(date,mode)" ng-required="true" close-text="Close"
          ng-model="paging.onlineEnd">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
              </button>
          </span>
      </p>
    </div>

    <br>
    <button type="submit" class="btn btn-primary"><!-- 提交 --> {{'OPR.SUBMIT' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="tools.reset();"><!-- 重置 --> {{'OPR.RESET' | translate}}</button>
  </form>
</div>
<hr>
<tabset justified="true">
  <tab heading="{{tab.title1}}({{tools.productCount.online}})" ng-click="paging.status=3;paging.isOnline=1;tools.getProducts();">
  </tab>
  <tab heading="{{tab.title2}}({{tools.productCount.toAudit}})" ng-click="paging.status=2;tools.getProducts();">
  </tab>
  <tab heading="{{tab.title3}}({{tools.productCount.noPass}})" ng-click="paging.status=-1;tools.getProducts(1);">
  </tab>
  <tab heading="{{tab.title4}}({{tools.productCount.unline}})" ng-click="paging.status=3;paging.isOnline=-1;tools.getProducts();">
  </tab>
</tabset>
<div class="p10">
  <div class="container">
    {{tools.title}}： {{tools.count}}
    <button class="btn btn-success" ng-click="tools.update()" ng-hide="tools.hasUpdate"><!-- 更新有效期 --> {{'OPR.UP_VALID' | translate}}</button>
    <button class="btn btn-info" ng-click="tools.newPro()" ng-hide="tools.hasNewPro"><!-- 标识新品 --> {{'OPR.MARK_NEW' | translate}}</button>
    <button class="btn btn-warning" ng-click="tools.offShelf()" ng-hide="tools.hasOffLine"><!-- 下架 --> {{'OPR.OFFLINE' | translate}}</button>
    <button class="btn btn-warning" ng-click="tools.onShelf()" ng-show="tools.hasOnLine"><!-- 上架 --> {{'OPR.ONLINE' | translate}}</button>
    <button class="btn btn-danger" ng-click="tools.del()" ng-hide="tools.hasDel"><!-- 删除 --> {{'OPR.DEL' | translate}}</button>
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>
        <input type="checkbox" name="" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)"></th>
        <!-- 商品信息 -->
      <th>{{'PRODUCT.INFO' | translate}}</th>
      <!-- 价格 -->
      <th>{{'PRODUCT.PRICE' | translate}}</th>
      <!-- 订单数 -->
      <th>{{'PRODUCT.ORDER_COUNT' | translate}}</th>
      <!-- 有效期 -->
      <th>{{'PRODUCT.VAL_DATE' | translate}}</th>
      <!-- 更新日期 -->
      <th>{{'PRODUCT.UP_DATE' | translate}}</th>
      <!-- 操作 -->
      <th>{{'OPR.VAl' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in vm.items">
      <td>
        <input type="checkbox" name="" id="" ng-model="item.$checked" ng-change="vm.selection()"></td>
      <td>
        <img ng-src="{{item.imgs | setImgSize:80:80}}" alt="" width="80" height="80" class="pull-left">{{ item.name }}</td>
      <td>{{item.fobPriceTo}}</td>
      <td>{{item.minOrder}}</td>
      <td>{{item.updateTime | date:'yyyy-MM-dd'}}</td>
      <td>{{item.updateTime | date:'yyyy-MM-dd'}}</td>
      <td>
        <button class="btn btn-xs" ng-click="tools.chgPro(item.categoryId, item.productId)"><!-- 修改商品信息 --> {{'OPR.CHG' | translate}}</button>
        <button class="btn btn-xs" ng-click="tools.addPro(item.categoryId)"><!-- 添加类似商品 --> {{'OPR.ADD' | translate}}</button>
        <button class="btn btn-xs" ng-click="tools.offLine(item.productId, $index)" ng-hide="tools.hasOffLine"><!-- 下架 --> {{'OPR.OFFLINE' | translate}}</button>
        <button class="btn btn-xs" ng-click="tools.onLine(item.productId, $index)" ng-show="tools.hasOnLine"><!-- 上架 --> {{'OPR.ONLINE' | translate}}</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="contbox"><!-- 选择的有 --> {{'PAGE.CHK_ITEMS' | translate}}：{{vm.selectionItme}}</div>
<div class="row">
  <div class="col-md-3">
    <!-- 每页条目数 --> {{'PAGE.SIZE' | translate}}:
    <select name="" ng-model="paging.pageSize" ng-options="pagesize for pagesize in [5, 15, 25]" ng-change="tools.getProducts()"></select>
  </div>
  <div class="col-md-9">
    <pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class="pagination-sm" ng-change="tools.getProducts()"
    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
</div>