<h1>提交审核</h1>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <div class="model">
      <div class="model-header">恭喜您，您的商品已经提交成功：</div>
      你可以：
      <ul>
        <li><a ui-sref="goods.selectSort">添加新商品</a></li>
        <li><a ng-click="addPro()" href="javascript:;">添加类似商品</a></li>
        <li><a ng-click="chgPro()" href="javascript:;">修改产品</a></li>
        <li><a href="/seller_center/product/showProductDetail.cf?productId={{productId}}" target="_blank">预览产品详情</a></li>
      </ul>
      <a ui-sref="goods.manage">返回商品列表</a>
    </div>
  </div>
</div>