<div class="oms-crumbs"> <i>角色管理</i>
  <p>
    <a href="">系统管理</a>
    /
    <span>角色管理</span>
  </p>
</div>

<div class="oms-container">
  <div class="oms-content">
    <div class="form-group-main clearfix">
        <div class="pull-left">
            <button class="btn btn-cfec-red" ng-click="tools.toAddRole()">添加角色</button>
        </div>

        <div class="pull-right pr30">
            <div class="input-cfec-icon mr0 roleNameInputLine w300">
               <input ngc-auto-input ngc-monitor-enter action="tools.getList" type="text" class="w250" placeholder="角色名称"  ng-model="paging.roleName"/>
               <button ng-click="tools.getList();"><i class="iconfont icon-search"></i> </button>
            </div>
            
        </div>
    </div>
    <div class="container-list table-cfec table-cfec-theme2">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="10%">序号</th>
                <th width="20%">角色名称</th>
                <th width="20%">是否可查看买家联系方式</th>
                <th width="30%">角色描述</th>
                <th width="15%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="it in vm.items track by $index">
                <td>{{$index+1}}</td>
                <td><a class="link-cfec-inherit" href="/#/system/roleDetail?roleId={{it.roleId}}">{{it.roleName}}</a></td>
                <td>{{it.isContact==1?'是':'否'}}</td>
                <td>{{it.roleDetail}}</td>
                <td>
                <a ng-click="tools.toEdit(it.roleId)" href="javascript:;">编辑</a> &nbsp;
                <a ng-click="tools.delRole(it.roleId)" href="javascript:;">删除</a>
                </td>

            </tr>
            </tbody>
        </table>

        <div class="middivs">
            <!-- 分页组件[[ -->
            <div ng-include="paginationTemplate"></div>
            <!-- 分页组件[[ -->
        </div>
        
    </div>

    
</div>
    </div>

