<div class="oms-crumbs"> <i>报价免审时段设置</i>
	<p>
		<a href="">采购商管理</a>
		/
		<span>报价免审时段设置</span>
	</p>
</div>

<div class="oms-container">
	<div class="oms-content">
		<form class="quoteTrial">
			<div class="quoteoption">
				<span>报价免审时段：</span>
				<label><input type="radio"  name="trial" value="0" ng-model="vm.item.day"/>全时段</label>
				<label><input type="radio"  name="trial" value="1" ng-model="vm.item.day"/ >按天</label>
				<label><input type="radio"  name="trial" value="2" ng-model="vm.item.day"/>自定义</label>
				<span class="supplie">此设置只对报价免审供应商生效【<a ng-href="/#/seller/list?type=-10&&index=0" target='_blank'>去设置</a>】</span>
			</div>			
			<div class="tabInfo" ng-class="{dis:vm.item.day=='1'}">
			    <div class="optionday">				
					<label ng-repeat="list in vm.item.week">
						<input type="checkbox"  ng-true-value="{{list.val}}" ng-false-value="null" ng-model="list.num"/>{{list.dates}}
					</label>	
			   </div>	
			</div>
			<div class="tabInfo" ng-class="{dis:vm.item.day=='2'}">
			     <input ngc-lay-date  type="text" class="laydate-icon" ng-model='vm.item.fromData'  format="YYYY-MM-DD hh:mm:ss" istime='true' id="fromDate" max-date='{{vm.item.toData}}' placeholder="开始日期"  />
                   <span class="text-inline">至</span>
                 <input ngc-lay-date  type="text" class="laydate-icon" ng-model='vm.item.toData'  format='YYYY-MM-DD hh:mm:ss'  istime='true' id="toDate"  min-date="{{vm.item.fromData}}"  placeholder="结束日期" />                                 
			</div>
			<div class=""><button class="btn btn-cfec-red refer" ng-click="tool.submit()">保存</button></div>
		</form>
	</div>
</div>
