<div class="oms-crumbs"> <i>报价详情</i>
    <p>
        <a href="#/purchase">采购商管理</a> /
        <a href="#/purchase/purchaseQuoteList">报价管理</a> /
        <span>报价详情</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-detail">
        <div ngc-permission="purchase_purchasepurchaseQuoteList_audit" class="btns-group mb20">
            <button class="btn btn-cfec-white" ng-if="vm.item.quotePrice.quotePriceState!=2" ng-click="tools.chxQuoteStatus(2)">审核通过</button>
            <button class="btn btn-cfec-white" ng-if="vm.item.quotePrice.quotePriceState!=-1" ng-click="tools.chxQuoteStatus(-1)">审核不通过</button>
        </div>
        <div class="table-cfec supplierr-info ">
            <table class="table table-hover">
                <colgroup>
                    <col width="15%">
                    <col width="25%">
                    <col width="20%">
                    <col width="22%">
                    <col width="10%">
                    <col width="8%">
                </colgroup>
                <thead>
                    <tr>
                        <th>供应商ID</th>
                        <th>供应商姓名</th>
                        <th>供应商公司中文名</th>
                        <th>供应商公司英文名</th>
                        <th class=" ta-c">国家</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{vm.item.sellerInfo.sellerId}}</td>
                        <td>{{vm.item.sellerInfo.firstName}}</td>
                        <td>{{vm.item.sellerInfo.sellerCompany.companyName}}</td>
                        <td>{{vm.item.sellerInfo.sellerCompany.companyEnName}}</td>
                        <td class="ta-c">{{vm.item.sellerInfo.countryName}}</td>
                        <td>
                            <a class="link" target="_blank" href="/#/seller/detail?sellerId={{vm.item.sellerInfo.sellerId}}">详情</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="purchase-info">
            <div class="purchase-title clearfix">
                <span>
                采购需求主题名:
                <span ng-show="vm.item.procurementInfo.boothProcurement==1" class="iconfont mr5" title="展会现场采购需求" style="color:#4593d5 !important;font-size: 16px !important;">&#xe62a;</span> {{vm.item.procurementInfo.productName}}
                </span>
                <a class="link" target="_blank" href="/#/purchase/purchaseReqDetail?purchaseId={{vm.item.procurementInfo.procurementId}}">详细</a>
            </div>
            <div class="table-cfec">
                <table class="table">
                    <colgroup>
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>报价时间</th>
                            <th>报价类型</th>
                            <th class=" ta-c">采购数量</th>
                            <th>报价</th>
                            <th>最小起订量</th>
                            <th>出货港口</th>
                            <th class=" ta-c">报价有效时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="info-tr">
                            <td>
                                {{vm.item.quotePrice.quotedPriceTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            </td>
                            <td>
                                <span ng-if="vm.item.requotePrice==true" title="再次审核报价" class="font-icon">再</span> {{vm.item.quotePrice.quoteType|quoteType}}
                            </td>
                            <td class="ta-c">
                                <p ng-if="vm.item.procurementInfo.moq==1">MOQ</p>
                                <p ng-if="vm.item.procurementInfo.moq==0&&vm.item.procurementInfo.expectNum">{{vm.item.procurementInfo.expectNum}} {{vm.item.procurementInfo.expectUnit}}</p>
                            </td>
                            <td>
                                <span ng-if="vm.item.quotePrice.price!=-1">{{vm.item.quotePrice.trading}} US${{vm.item.quotePrice.price}} / {{vm.item.quotePrice.priceUnit}}</span>
                            </td>
                            <td>
                                <p ng-if="vm.item.quotePrice.qtyMoq">
                                    {{vm.item.quotePrice.qtyMoq}} {{vm.item.quotePrice.moqUnit}}
                                </p>
                            </td>
                            <td>{{vm.item.quotePrice.shippingPort}}</td>
                            <td class="ta-c">
                                {{vm.item.quotePrice.periodEnd | date:'yyyy-MM-dd'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fs14">内容:</td>
                            <td colspan="7">
                                <p class="p-content pre-content">{{vm.item.quotePrice.content}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs14">所选产品:</td>
                            <td colspan="7">
                                <div class="product-info clearfix" ng-if="vm.item.quotePrice.product[0]!=null">
                                    <img ng-src="{{vm.item.quotePrice.product[0].productImg|setImgSize:60:60}}" alt="" width="60" height="60">
                                    <div class="product-detail">
                                        <p title="">{{vm.item.quotePrice.product[0].productName}}</p>
                                        <a target="_blank" href="/#/goods/barginDetail?productId={{vm.item.quotePrice.product[0].productId}}&sellerId={{vm.item.sellerInfo.sellerId}}">详情</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs14">附件内容:</td>
                            <td colspan="7">
                                <ul class="attachment-list clearfix">
                                    <li class="clearfix" ng-repeat='item in vm.attachmentArray' ng-click="tools.download(item.attachmentPath)">
                                        <span class="{{item.attachmentName | checkIcon }}"></span>
                                        <a href="javascript:void(0);">{{item.attachmentName}}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs14">报价状态:</td>
                            <td colspan="7">
                                <p class="p-content">{{vm.item.quotePrice.quotePriceState|checkState}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs14">最后审核人:</td>
                            <td colspan="7">
                                <p class="p-content">{{vm.item.quotePrice.lastAuditor}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs14">最后审核时间:</td>
                            <td colspan="7">
                                <p class="p-content">
                                    {{vm.item.quotePrice.lastAuditTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs14">报价读取状态（站内）:</td>
                            <td colspan="7">
                                <p class="p-content">
                                    {{vm.item.quotePrice.read==null?'无报价读取状态':vm.item.quotePrice.read==true?'已读':'未读'}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs14">邮件状态:</td>
                            <td colspan="7">
                                <p class="p-content">
                                    <span class="mr20">{{vm.item.quotePrice.emailState | emailStateFilter}}</span>
                                    <a href="javascript:void(0)" class="link mr20" ng-click="tools.refreshQuotePriceEmailState(vm.item.quotePrice.inqueryUUID)" ng-if="vm.item.quotePrice.emailState!=null&&vm.item.quotePrice.emailState!='open'">刷新</a>
                                    <a ngc-permission="other_othersendEmail_resendEmail" ng-click="tools.reSendEmail()" ng-if="vm.item.quotePrice.quotePriceState===2" href="javascript:void(0)" class="link">重发邮件给采购商</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-cfec audit-info" ng-if="vm.item.quotePriceAudits.length!=0">
            <table class="table table-hover">
                <colgroup>
                    <col width="24%">
                    <col width="14%">
                    <col width="17%">
                    <col width="45%">
                </colgroup>
                <thead>
                    <tr>
                        <th>审核时间</th>
                        <th>审核人</th>
                        <th>审核结果</th>
                        <th>原因</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.item.quotePriceAudits">
                        <td>{{item.auditTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{item.auditor}}</td>
                        <td>{{item.auditState | checkState}}</td>
                        <td ng-if="item.reason!=null">{{item.reason}}</td>
                        <td ng-if="item.reason==null">无</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- 审核通过确定对话框[[ -->
<script type="text/ng-template" id="quoteConfirm">
    <div class="sellerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c"><i class="iconfont icon-xunwenoms"></i>确定审核{{vm.changestatus != -1?"":"不"}}通过吗？</p>
            <div class="form-group pt20 mb0" ng-if="vm.changestatus==-1">
                <div class="unpass-reason clearfix">
                    <div class="reason-item" ng-repeat="item in vm.unPassReasonList">
                        <label for="{{item.reasonCode}}">
                            <input type="checkbox" ng-model="item.flag" id="{{item.reasonCode}}">
                            <span ng-if="item.auditUnpassReasonId != 16">{{item.reasonName}}</span>
                            <span ng-if="item.auditUnpassReasonId == 16">其他原因<input type="text" class="input-cfec" placeholder="请输入审核不通过的原因，输入内容供应商可见，请具体描述。" ng-disabled="!item.flag" ng-model="item.reasonNameBias"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="tools.comfirm()" ng-disabled="tools.btnFlag">确定</button>
                <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
            </div>
        </div>
    </div>
</script>
<!-- 审核通过确定对话框]] -->
<!--重发邮件确认对话框-->
<script type="text/ng-template" id="reSendConfirm">
    <div class="sellerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c"><i class="iconfont icon-xunwenoms"></i>确定重发邮件吗？</p>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="tools.confirm()">确定</button>
                <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
            </div>
        </div>
    </div>
</script>
<!--重发邮件确认对话框-->
