<div class="top-help clearfix ">
    <div class="help-form-class ng-pristine ng-valid">
        <p class="p-help-style">
            财务资金管理 &gt; 银行入账流水-信用证
        </p>
    </div>
</div>
<!-- 查询条件 -->
<div class="searchTop clearfix">
    <form>
        <div class="row pt-10">
            <div class="col-xs-6 col-pl-5 the-time">
                <label class="col-xs-3 text-right ">交易时间</label>
                <input  readonly ng-click="open1($event)"  class="ipt ipt-s fl" type="text"  placeholder="起始日期" uib-datepicker-popup="yyyy/MM/dd" is-open="opened1"
                       min-date="'1997-06-22'"  close-text="Close" max-date="paging.advEndTimes" datepicker-options="dateOptions"
                       ng-model="paging.advStartTimes">
               <label class="fl pl10 pr10">至</label>
                <input  readonly ng-click="open2($event)"  class="ipt ipt-s fl" type="text" uib-datepicker-popup="yyyy/MM/dd" placeholder="结束日期" is-open="opened2"
                       min-date="paging.advStartTimes"  close-text="Close" datepicker-options="dateOptions" ng-model="paging.advEndTimes">
                
            </div>
            <div class="col-xs-6 col-pl-5">
                <lable class="col-xs-3 text-right" >支付币种</lable>
                <select class="ipt ipt-m" ng-model="paging.lcCcy">
                    <option value="">请选择</option>
                    <option value="USD">美元</option>
                    <option value="CNY">人民币</option>
                </select>
            </div>
        </div>
        <div class="row pt-10">
            <div class="col-xs-6 col-pl-5 the-time">
                <label class="col-xs-3 text-right fl">开证时间</label>
                <input readonly ng-click="open3($event)" class="ipt ipt-s fl" type="text"  placeholder="起始日期" uib-datepicker-popup="yyyy/MM/dd" is-open="opened3"
                       min-date="'1997-06-22'"  close-text="Close" max-date="paging.issueEndTime" datepicker-options="dateOptions"
                       ng-model="paging.issueStartTime">
                
                <label class="fl pl10 pr10">至</label>
                <input readonly ng-click="open4($event)" class="ipt ipt-s fl" type="text" uib-datepicker-popup="yyyy/MM/dd" placeholder="结束日期" is-open="opened4"
                       min-date="paging.issueStartTime"  close-text="Close" datepicker-options="dateOptions" ng-model="paging.issueEndTime">
                
            </div>
            <div class="col-xs-6 col-pl-5 the-time">
                <label class="col-xs-3 text-right">信用证号码</label>
                <input ngc-auto-input class="ipt ipt-m" type="text" ng-model="paging.lcNo">
            </div>
            <!--
            <div class="col-xs-6 col-pl-5">
                <lable class="col-xs-3 text-right">支付渠道</lable>
                <select class="ipt ipt-m" ng-model="paging.issueBkNmAdd">
                    <option value="">对应开证行[不确定从哪取数据]</option>
                </select>
            </div>
            -->
        </div>
        <!--
        <div class="row pt-10">
            <div class="col-xs-6 col-pl-5">
                <lable class="col-xs-3 text-right">支付种类</lable>
                <select class="ipt ipt-m" ng-model="paging.lcForm">
                    <option value="">对应信用证种类[不确定从哪取数据]</option>
                </select>
            </div>
        </div>
        -->
        <div class="row pt-10 text-right">
            <div class="col-xs-11  col-pl-5 but">
                <input ng-click="tools.getList();" type="submit" value="查询"/>
                <input class="btn-reset" type="reset" ng-click="tools.initCondition(false)" value="重置"/>
                <input ng-click="tools.exportData()" class="btn-reset" type="button"  value="导出excel表格"/>
            </div>
        </div>
    </form>
</div>
<!-- 查询列表 -->
<div class="content">
    <div class="tabTable">
        <table class="table table-hover" >
            <thead>
            <tr>
                <td width="12%">交易时间</td>
                <td width="12%">开证日期</td>
                <td width="20%">信用证号码</td>
                <td width="12%">支付种类</td>
                <td width="12%">支付渠道</td>
                <td width="11%">交易币种</td>
                <td width="11%">交易金额</td>
                <td width="10%">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items track by $index">
                <!-- 交易时间 -->
                <td>{{item.advDt| date:'yyyy-MM-dd'}}</br>
                    {{item.advDt| date:'HH:mm:ss'}}</td>
                <!-- 开证日期 -->
                <td>{{item.issueDt| date:'yyyy-MM-dd'}}</br>
                    {{item.issueDt| date:'HH:mm:ss'}}</td>
                <!-- 信用证号码 -->
                <td>{{item.lcNo}}</td>
                <!-- 支付种类 -->
                <td>{{item.lcForm}}</td>
                <!-- 支付渠道 -->
                <td>{{item.issueBkNmAdd}}</td>
                <!-- 交易币种 -->
                <td>{{item.lcCcy}}</td>
                <!-- 交易金额 -->
                <td>{{item.lcAmt}}</td>
                <!-- 操作 -->
                <td> <a ng-click="tools.toDetail(item.creditId)" href="javascript:;">详情</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="middivs clearfix">
        <div class="divright clearfix">
            <select ng-model="paging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.pages"
                    ng-change="tools.getList()"></select>
            <button  class="btn btn-default lastbuttons j-jump" ng-click="tools.getnewpage();">GO</button>
            <input type="text" class="inputs ngc-jumppage" ng-model="tools.newpagesize">
            <label class="page-list-style label-style">转到页</label>
            <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class="page-list-style" ng-change="tools.getList()" max-size="5"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</div>
