<div class="top-help clearfix ">
    <div class="help-form-class ng-pristine ng-valid">
        <p class="p-help-style">
            财务资金管理 &gt;
            <a href="javascript:void(0)" ng-show="vm.info.isBack==1" ng-click="tools.back()">卖家虚拟账户</a>
            <span ng-show="vm.info.isBack!=1">卖家虚拟账户</span>&gt;
            虚拟账户详情
        </p>
    </div>
</div>
<form class="searchTop clearfix">
    <div class="row pt-10">
        <div class="col-xs-6 col-pl-5 the-time">
            <label class="fl">起始时间</label>
            <input readonly ng-click="open1($event)" class="ipt ipt-s fl ml10" type="text"  placeholder="起始日期" uib-datepicker-popup="yyyy/MM/dd" is-open="opened1"
                   min-date="'1997-06-22'"  close-text="Close" max-date="paging.endTime" datepicker-options="dateOptions"
                   ng-model="paging.startTime">
            
            <label class="fl pl10 pr10">至</label>
            <input readonly ng-click="open2($event)" class="ipt ipt-s fl" type="text" uib-datepicker-popup="yyyy/MM/dd" placeholder="结束日期" is-open="opened2"
                   min-date="paging.startTime"  close-text="Close" datepicker-options="dateOptions" ng-model="paging.endTime">
            
        </div>
        <div class="col-xs-6 col-pl-5 the-time">
            <select class="ipt ipt-s" ng-model="paging.currency">
                <option value="">交易币种</option>
                <option value="USD">美元</option>
                <option value="CNY">人民币</option>
            </select>
            <select class="ipt ipt-s" ng-model="paging.type">
                <option value="">资金类型</option>
                <option value="0">流入</option>
                <option value="1">流出</option>
            </select>
        </div>
    </div>
    <div class="row pt-10">
        <div class="col-xs-4 but col-xs-offset-6">
            <input ng-click="tools.getList();" type="submit" value="查询"/>
            <input class="btn-reset" type="reset" ng-click="tools.initCondition(false)" value="重置"/>
        </div>
    </div>
</form>
<div class="content">

    <div class="tabTable" >
        <div class="text-left font-16">公司名称：{{vm.companyName}} | 虚拟账号：{{vm.email}}</div>
    <table>
        <thead>
        <tr>
            <td>交易币种</td>
            <td>流入资金</td>
            <td>流出资金</td>
            <td>总余额</td>
            <td>冻结资金</td>
            <td>可用资金</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.mainInfo">
            <td class="bg-slight">{{ item.currency }}</td>
            <td>{{ item.inputAmout }}</td>
            <td>{{ item.outputAmout }}</td>
			<td>{{ item.amount + item.freezeAmount }}</td>
            <td>{{ item.freezeAmount }}</td>
            <td>{{ item.amount }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="tabTable mt-10">
        <div class="text-left font-16">虚拟账户明细</div>
        <table class="table-hover">
            <thead>
                <tr>
                    <td>时间</td>
                    <td>资金类型</td>
                    <td>币种</td>
                    <td>金额</td>
                    <td>交易类型</td>
                    <td>审核人员</td>
                    <td>审核时间</td>
                    <!--
                    <td>拨款人员</td>
                    <td>操作时间</td>
                    -->
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items">
                <!-- 时间 -->
                <td>{{ item.requestTime|date:'yyyy-MM-dd HH:mm:ss'  }}</td>
                <!-- 资金类型,0:流入;1:流出-->
                <td>{{ item.capitalType|capitalType}}</td>
                <!-- 币种 -->
                <td>{{ item.currency }}</td>
                <!-- 金额 -->
                <td>{{ item.amount }}</td>
                <!-- 交易类型 0:卖家提现,1:卖家充值,2:投广告,3:消费  -->
                <td>{{ item.type|tradeType }}</td>
                <!-- 审核人员 -->
                <td>{{ item.auditorName }}</td>
                <!-- 审核时间 -->
                <td>{{ item.auditTime|date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <!--
                <td>{{ item.sellerName }}</td>
                <td>操作时间</td>
                -->
            </tr>
            </tbody>
        </table>
</div>

    <div class=" middivs clearfix">
        <div class="divright clearfix">
            <select ng-model="paging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.pages"
                    ng-change="tools.getList()"></select>
            <button  class="btn btn-default lastbuttons" ng-click="tools.getnewpage();">GO</button>
            <input type="text" class="inputs" ng-model="tools.newpagesize">
            <label class="page-list-style label-style">转到页</label>
            <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class="page-list-style" ng-change="tools.getList()" max-size="5"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</div>