<div class="top-help clearfix ">
    <div class="help-form-class ng-pristine ng-valid">
        <p class="p-help-style">
            财务资金管理 &gt; 卖家虚拟账户
        </p>
    </div>
</div>
<!-- 查询条件 -->
<div class="searchTop clearfix">
    <form>
        <div class="row pt-10">
            <div class="col-xs-6 col-pl-5">
                <lable>公司名称</lable>
                <input ngc-auto-input class="ipt ipt-l"  type="text" class="searchTxt"  ng-model="paging.companyName">
            </div>
            <div class="col-xs-6 col-pl-5">
                <lable>虚拟账户</lable>
                <input ngc-auto-input class="ipt ipt-l"  type="text" class="searchTxt"  ng-model="paging.virtualAcount">
            </div>
        </div>
        <div class="row pt-10" style="line-height: 1">
            <div class="col-xs-7 col-pl-5">
                <label>账户余额</label>
                <input ngc-auto-input class="ipt ipt-s" type="number" placeholder="请输入整数" ng-model="paging.minAmount">
                <label>至</label>
                <input ngc-auto-input class="ipt ipt-s" type="number" placeholder="请输入整数" ng-model="paging.maxAmount">
                <select class="ipt ipt-xxs" ng-model="paging.currency">
                    <option value="USD">美元</option>
                    <option value="CNY">人民币</option>
                </select>
            </div>
            <div class="col-xs-5 col-pl-5 but-inline">
                    <input ng-click="tools.getList();" type="submit" value="查询"/>
                    <input class="btn-reset" type="reset" ng-click="tools.initCondition(false)" value="重置"/>
            </div>
        </div>


    </form>
</div>
<!-- 查询列表 -->
<div class="content">
    <div class="tabTable">
        <table class="table-hover" >
            <thead>
            <tr>
                <td width="10%">序号</td>
                <td width="20%">公司名称</td>
                <td width="20%">虚拟账户</td>
                <td width="20%">美元余额($)</td>
                <td width="20%">人民币余额(￥)</td>
                <td width="10%">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items track by $index">
                <td>{{$index+1}}</td>
                <!-- 公司名称 -->
                <td>{{item.companyName}}</td>
                <!-- 虚拟账户 -->
                <td>{{item.virtualAcount}}</td>
                <!-- 美元余额 -->
                <td>{{item.usAmount}}</td>
                <!-- 人民币余额 -->
                <td>{{item.cnyAmount}}</td>
                <!-- 操作 -->
                <td>

                    <a  ng-click="tools.toDetail($index)" href="javascript:;">详情</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class=" middivs clearfix">
        <div class="divright clearfix">
            <select ng-model="paging.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.pages"
                    ng-change="tools.getList()"></select>
            <button  class="btn btn-default lastbuttons j-jump" ng-click="tools.getnewpage();">GO</button>
            <input type="text" class="inputs ngc-jumppage" ng-model="tools.newpagesize">
            <label class="page-list-style label-style">转到页</label>
            <uib-pagination boundary-links="true" total-items="paging.total" ng-model="paging.page" items-per-page="paging.pageSize" class="page-list-style" ng-change="tools.getList()" max-size="5"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</div>


<!-- 弹出1 是否审核通过 -->
<script type="text/ng-template" id="financeWithdrawAudit.html">
    <div class="modal-header">
        <h4 class="modal-title">财务资金审核</h4>
    </div>
    <div class="modal-body font-14">
        <form role="form" name="auditForm" class="form-horizontal" novalidate>
            <div class="form-group">
                <div class="col-sm-6 text-right">
                    <lable for="ok">通过</lable>
                    <input id="ok" type="radio" ng-model="vm.item.status" name="status" value="1" />
                </div>
                <div class="col-sm-6 text-left">
                    <lable for="no">不通过</lable>
                    <input id="no" type="radio" ng-model="vm.item.status" name="status" value="2" />
                </div>
            </div>
            <div class="form-group" ng-show="vm.item.status==2">
                <label class="col-sm-2 control-label">原因</label>
                <div class="col-sm-8">
                    <textarea ng-model="vm.item.reason" rows="3" name="reason" class="form-control" required></textarea>
                    <span ng-show="auditForm.$dirty && auditForm.reason.$invalid" class="error-valid">请填写验证不通过原因</span>
                </div>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-warning" type="button"   ng-click="func.save(auditForm.$valid)">确认</button>
                <button class="btn btn-base" type="button" ng-click="func.cancel()">取消</button>
            </div>
        </form>
    </div>
</script>

<!-- 弹出2 确认付款 -->
<script type="text/ng-template" id="financePayConfirm.html">
    <div class="modal-header">
        <h4 class="modal-title">财务资金审核</h4>
    </div>
    <div class="modal-body font-14">
        <form role="form" name="confirmForm" class="form-horizontal" novalidate>

            <div class="form-group">
                <label class="col-sm-3 control-label">交易流水号</label>
                <div class="col-sm-8">
                    <input ng-model="vm.item.tranNo"  name="tranNo" class="form-control" required>
                    <span ng-show="confirmForm.$dirty && confirmForm.tranNo.$invalid" class="error-valid">请填写交易流水号</span>
                </div>
            </div>
            <div class="form-group" ng-if="vm.withdrawCurrency != null">
                <label class="col-sm-3 control-label">实际金额</label>
                <div class="col-sm-3">
                    <input ng-model="vm.withdrawCurrency" name="currency" class="form-control" readonly>
                </div>
                <div class="col-sm-5">
                    <input ng-model="vm.item.actualAmount" placeholder="请输入不多于5位小数的实际金额"  name="actualAmount" class="form-control" required="" pattern="^\d{1,9}(\.?\d{0,5})?$">
                    <span ng-show="confirmForm.$dirty && confirmForm.actualAmount.$invalid" class="error-valid">请输入不多于5位小数的实际金额</span>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-warning" type="button"   ng-click="func.save(confirmForm.$valid)">确认</button>
                <button class="btn btn-base" type="button" ng-click="func.cancel()">取消</button>
            </div>
        </form>
    </div>
</script>

<!-- 弹出2 设置汇率 -->
<script type="text/ng-template" id="setExchangeRate.html">
    <div class="modal-header">
        <h4 class="modal-title">设置汇率参考值</h4>
    </div>
    <div class="modal-body font-14">
        <form role="form" name="rateForm" class="form-horizontal" novalidate>

            <div class="form-group">
                <label class="col-sm-3 control-label">美元兑人民币汇率</label>
                <div class="col-sm-7">
                    <input ng-model="vm.item.us2cny" placeholder="请输入5位小数的汇率"  name="us2cny" class="form-control"  required pattern="^\d{1,9}\.?\d{5}$">
                    <span ng-show="rateForm.$dirty && rateForm.us2cny.$invalid" class="error-valid">请填写正确格式的汇率,要求5位小数</span>
                </div>
            </div>
            <!--
            <div class="form-group">
                <label class="col-sm-3 control-label">人民币兑美元汇率</label>
                <div class="col-sm-7">
                    <input ng-model="vm.item.cny2us"  name="cny2us" class="form-control" required pattern="^\d{1,9}\.?\d{0,6}$">
                    <span ng-show="rateForm.$dirty && rateForm.cny2us.$invalid" class="error-valid">请填写正确格式的汇率</span>
                </div>
            </div>
            -->
            <div class="form-group text-center">
                <button class="btn btn-warning" type="button"   ng-click="func.save(rateForm.$valid)">确认</button>
                <button class="btn btn-base" type="button" ng-click="func.cancel()">取消</button>
            </div>
        </form>
    </div>
</script>
