<div class="oms-crumbs"> <i>供应商消费余额</i>
    <p>
        <a href="/#/edm">邮件推广</a> /
        <a href="/#/edm/comsumeRecord">充值消费记录</a> /
        <span>供应商消费余额</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <div class="search-content form-group-main clearfix">
            <form>
                <!-- 公司套餐类型 -->
                <div class="form-group fl">
                    <label for="">公司套餐类型</label>
                    <select ngc-select-search name="packageId" class="select-oms" ng-options="obj.packageId as obj.packageName for obj in vm.packageList" ng-model="paging.packageId">
                        <option value="">请选择</option>
                    </select>
                </div>
                <!-- 加入日期 -->
                <div class="form-group cfec-select-picker fl">
                    <label>加入日期</label>
                    <input ngc-lay-date readonly type="text" class="input-cfec laydate-icon" ng-model="paging.startTime" id="startTime" max-date="{{paging.endTime}}" ng-required placeholder="起始日期" />
                    <span class="text-inline">至</span>
                    <input ngc-lay-date readonly type="text" class="input-cfec laydate-icon" ng-model="paging.endTime" id="endTime" min-date="{{paging.startTime}}" placeholder="截止日期" ng-required/>
                </div>
                <!-- 搜索类型 -->
                <div class="form-group fl">
                    <label for="">搜索类型</label>
                    <div class="oms-search">
                        <select name="" id="" ng-model="paging.accountType" ng-options="obj.key as obj.title for obj in tools.accountType">
                            <option value="">搜索类型</option>
                        </select> <em></em>
                        <input ngc-auto-input type="text" ngc-monitor-enter name="" id="" ng-model="paging.accountTypeValue" />
                    </div>
                </div>
                <div class="form-group btns-group clear">
                    <button class="btn btn-cfec-red fl mr20" ng-click="tools.getComsumeRecordList(true);">查&nbsp;询</button>
                    <button class="btn btn-cfec-white fl" ng-click="tools.reset();">重 置</button>
                </div>
            </form>
        </div>
        <div class="list-content table-cfec">
            <!-- 全部 -->
            <table class="table table-hover " ng-if="tools.status==null">
                <!-- 全部 -->
                <colgroup>
                    <col width="20%">
                    <col width="30%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <th>账号</th>
                        <th>公司名称</th>
                        <th>套餐</th>
                        <th>邮件剩余数</th>
                        <th>报价账户余额</th>
                        <th>加入日期</th>
                        <th class="ta-c">操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length>0">
                    <tr ng-repeat='item in vm.items'>
                        <!-- 推广标题 -->
                        <td>
                            <p>{{item.userName}}</p>
                            <p>{{item.userEmail}}</p>
                        </td>
                        <!-- 公司名称 -->
                        <td>
                            <p>{{item.companyName}}</p>
                            <p>{{item.companyEnName}}</p>
                        </td>
                        <!-- 套餐 -->
                        <td>{{item.packageName | packageNameFilter}}</td>
                        <!-- 邮件剩余数 -->
                        <td>{{item.mailRemainCount}}</td>
                        <!-- 报价账户余额 -->
                        <td>{{item.quoteEquityCount }}</td>
                        <!-- 加入日期 -->
                        <td>
                            <p>{{item.createTime | date:'yyyy-MM-dd'}}</p>
                            <p>{{item.createTime | date:'HH:mm:ss'}}</p>
                        </td>
                        <td class="ta-c">
                            <a ngc-permission="edm_edmcomsumeRecord_consumdetail" class="link mr10" ng-href="/#/edm/comsumeRecordDetail?userId={{item.userId}}" target="_blank">查看</a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.items==undefined||vm.items.length==0" class="ng-scope">
                    <tr>
                        <td colspan="6">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemplate">
        </div>
    </div>
</div>
