<div class="oms-crumbs"> <i>资金流水</i>
    <p>
        <a href="/#/edm">邮件推广</a> /
        <span>资金流水</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content">
        <div class="search-content form-group-main clearfix">
            <form>
                <!-- 充值套餐类型 -->
                <div class="form-group fl">
                    <label for="">充值套餐类型</label>
                    <select class="select-oms" ng-model="paging.tradeMoney" ng-options="obj.key as obj.title for obj in tools.tradeMoney">
                        <option value="">请选择</option>
                    </select>
                </div>
                <!-- 到账日期 -->
                <div class="form-group cfec-select-picker fl">
                    <label>到账日期</label>
                    <input ngc-lay-date readonly type="text" class="input-cfec laydate-icon" ng-model="paging.startTime" id="startTime" max-date="{{paging.endTime}}" ng-required placeholder="起始日期" />
                    <span class="text-inline">至</span>
                    <input ngc-lay-date readonly type="text" class="input-cfec laydate-icon" ng-model="paging.endTime" id="endTime" min-date="{{paging.startTime}}" placeholder="截止日期" ng-required/>
                </div>
                <!-- 标记类型 -->
                <div class="form-group fl">
                    <label for="">标记类型</label>
                    <select class="select-oms" ng-model="paging.checkStatus" ng-options="obj.key as obj.title for obj in tools.checkStatus">
                        <option value="">请选择</option>
                    </select>
                </div>
                <!-- 资金来源 -->
                <div class="form-group fl">
                    <label for="">资金来源</label>
                    <select class="select-oms" ng-model="paging.rechargeType">
                        <option value="">请选择</option>
                        <option value="0">买家通</option>
                        <option value="1">商机市场</option>
                    </select>
                </div>
                <!-- 发票状态 -->
                <div class="form-group fl">
                    <label for="">发票状态</label>
                    <select class="select-oms" ng-model="paging.invoiceStatus" ng-options="obj.key as obj.title for obj in tools.invoiceStatus">
                        <option value="">请选择</option>
                    </select>
                </div>
                <!-- 搜索类型 -->
                <div class="form-group fl">
                    <label for="">搜索类型</label>
                    <div class="oms-search">
                        <select name="" id="" ng-model="paging.accountType" ng-options="obj.key as obj.title for obj in tools.accountType">
                            <option value="">搜索类型</option>
                        </select> <em></em>
                        <input ngc-auto-input type="text" ngc-monitor-enter name="" id="" ng-model="paging.accountTypeValue" />
                    </div>
                </div>
                <div class="form-group btns-group clear clearfix">
                    <button class="btn btn-cfec-red fl mr20" ng-click="tools.getFundsFlowList(true);">查&nbsp;询</button>
                    <button class="btn btn-cfec-white fl" ng-click="tools.reset();">重 置</button>
                    <button ngc-permission="edm_edmfundRecord_rechargereport" class="btn btn-cfec-white fr mr0" ng-click="tools.exportData()">导出Excel</button>
                    <div class="ta-r f16 fr pr20 lh30">总额：<strong class="red">{{vm.totalMomey}}</strong> RMB</div>
                </div>
            </form>
        </div>
        <div class="list-content table-cfec">
            <!-- 全部 -->
            <table class="table table-hover">
                <!-- 全部 -->
                <colgroup>
                </colgroup>
                <thead>
                    <tr ng-if="vm.showOperateFlag==false">
                        <th>
                            <input type="checkbox" ng-if="vm.items.length" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th>资金来源</th>
                        <th>流水编号</th>
                        <th>公司账号</th>
                        <th>公司名称</th>
                        <th class="ta-c">发票金额（RMB）</th>
                        <th class="ta-c">到账时间</th>
                        <th class="ta-c">对账状态</th>
                        <th class="ta-c">发票状态</th>
                        <th class="ta-c">操作</th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag==true">
                        <th>
                            <input type="checkbox" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)">
                        </th>
                        <th colspan="8">
                            <div class="btn-toolbar">
                                <button ngc-permission="edm_edmfundRecord_confirmedmfundsflow" type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.confirmEdmFundsFlow()" ng-show="paging.status!=3">批量确认</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length>0">
                    <tr ng-repeat='item in vm.items'>
                        <td>
                            <input type="checkbox" ng-model="item.$checked" ng-change="tools.selection()" ng-if="item.checkStatus==0">
                        </td>
                        <!-- 资金来源 -->
                        <td>
                            {{item.rechargeType | rechargeTypeFilter}}
                        </td>
                        <!-- 流水编号 -->
                        <td>
                            {{item.tradeNo}}
                        </td>
                        <!-- 公司账号 -->
                        <td>
                            <p>{{item.userName}}</p>
                            <p>{{item.userMail}}</p>
                        </td>
                        <!-- 公司名称 -->
                        <td>
                            <p>{{item.companyName}}</p>
                            <p>{{item.companyEnName}}</p>
                        </td>
                        <!-- 发票金额（RMB） -->
                        <td class="ta-c">{{item.tradeMoney}}</td>
                        <!-- 到账时间 -->
                        <td class="ta-c">{{item.successTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <!-- 对账状态 -->
                        <td class="ta-c">{{item.checkStatus | checkStatusFilter}}</td>
                        <!-- 发票状态 -->
                        <td class="ta-c">{{item.invoiceStatus | invoiceStatusFilter}}</td>
                        <td class="ta-c">
                            <span ng-if="item.checkStatus==1">已确认</span>
                            <a ngc-permission="edm_edmfundRecord_confirmedmfundsflow" class="link mr10" href="javascript:void(0)" ng-click="tools.confirmEdmFundsFlow(item.userRechargeId)" ng-if="item.checkStatus==0">确认</a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.items==undefined||vm.items.length==0" class="ng-scope">
                    <tr>
                        <td colspan="9">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemplate">
        </div>
    </div>
</div>
<script type="text/ng-template" id="userRechargeDlgId">
    <div class="sellerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c">
                <i class="iconfont icon-xunwenoms"></i>
                <span>是否确认该条流水记录？</span>
            </p>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="submit()">确定</button>
                <button class="btn btn-cfec-white" ng-click="tools.close()">取消</button>
            </div>
        </div>
    </div>
</script>
