<div class="oms-crumbs"> <i>用户分组管理</i>
  <p>
    <a href="">系统管理</a>
    /
    <span>用户分组管理</span>
  </p>
</div>

<div class="oms-container">
  <div class="oms-content">
    <div class="form-group-main clearfix">
        <div class="pull-left">
            <button class="btn btn-cfec-red" ng-click="tools.chgGroup()">添加分组</button>
        </div>

        <div class="pull-right pr30">
            <div class="input-cfec-icon mr0 roleNameInputLine w300">
               <input ngc-auto-input type="text" ngc-monitor-enter action="tools.getList" class="w250" placeholder="请输入分组名"  ng-model="paging.groupName"/>
               <button ng-click="tools.getList();"><i class="iconfont icon-search"></i> </button>
            </div>
            
        </div>
    </div>
    <div class="container-list table-cfec table-cfec-theme2">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="10%">序号</th>
                <th width="30%">分组名称</th>
                <th width="40%">组员个数</th>
                <th width="15%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="it in vm.items track by $index">
                <td>{{$index+1}}</td>
                <td>{{it.groupName}}</td>
                <td><a class="link-cfec-inherit" target="_self" href="#/system/userManage?groupId={{it.groupId}}"> {{it.groupAmount}}</a></td>
                <td>
                <a  target="_self" href="#/system/userManage?groupId={{it.groupId}}">查看</a> &nbsp;
                <a ng-click="tools.chgGroup(it.groupId,it.groupName)" href="javascript:;">编辑</a> &nbsp;
                <a ng-click="tools.delGroup(it.groupId)" href="javascript:;">删除</a>
                </td>

            </tr>
            </tbody>
        </table>
        
        <div class="middivs">
            <!-- 分页组件[[ -->
            <div ng-include="paginationTemplate"></div>
            <!-- 分页组件[[ -->
        </div>
    </div>

</div>
    </div>

<script type="text/ng-template" id="addGroupDlgId">
    <div class="activeDlg">
        <div class="dlg-title">提示</div>
        <form name="addForm" role="form" ng-submit="tools.saveGroupDb()" novalidate="novalidate" >
        <div class="dlg-content form">
          <div class="row font-14">
                <label for="" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ta-r" ><span class="notnull">*</span>分组名</label>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <input required maxlength="50" name="groupame" type="text" ng-model="vm.dlgData.groupName" class="input-cfec" placeholder="请输入分组名" ngc-remote="{url:'/oms/usergroup/checkGroupName.cf',original:'{{vm.dlgData.originalGroupName}}'}" />
                    <span ng-show="(addForm.$dirty||addForm.$submitted) && (addForm.groupame.$invalid.required||addForm.groupame.$invalid.maxlength)" class="error-valid small">请输入分组名称</span>
                    <span ng-show="(addForm.$dirty||addForm.$submitted) && addForm.groupame.$error.ngcRemote && vm.dlgData.originalGroupName != vm.dlgData.groupName" class="error-valid small">分组名称不可重复</span>
                </div>
            </div>
          <div class="btn-toolbar clearfix">
            <button class="btn btn-cfec-red" ng-disabled="addForm.$invalid || vm.dlgData.originalGroupName == vm.dlgData.groupName" type="submit">确定</button>
            <button class="btn btn-cfec-white" type="button" ng-click="tools.closeDlg()">取消</button>
          </div>
        </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="delConfirmDlgId">
    <div class="confirmDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
           
           <p style="margin:50px 0;" class="text-center font-16"><span style="vertical-align: text-bottom;font-size: 20px;" class="glyphicon glyphicon-exclamation-sign font-orange mr-10"></span>确认删除所选信息</p>
            <div class="text-center mb-20">
                <button class="btn mainColor ipt-xs" ng-click="tools.delUserDb()">确定</button>
                <button class="btn ipt-xs" ng-click="tools.closeDlg()">取消</button>
            </div>
        </div>
    </div>
</script>