<div class="oms-crumbs"> <i>商品管理</i>
    <p>
        <a href="">商品管理</a> /
        <span>商品列表</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-product">
        <uib-tabset class="tab-cfec-bordertop" active="0" justified="false">
            <!-- auditStatus=｛待审核:2 审核通过:3 审核不通过：-1 回收站：-3｝ -->
            <uib-tab index="0" ng-click="vm.currentState=null;tools.reset();paging.status=99;  paging.page=1; tools.getProducts();">
                <uib-tab-heading>全部</uib-tab-heading>
            </uib-tab>
            <uib-tab index="1" ng-click="vm.currentState=2;tools.reset();paging.status=2;  paging.page=1; tools.getProducts();">
                <uib-tab-heading>待审核</uib-tab-heading>
            </uib-tab>
            <uib-tab index="2" ng-click="vm.currentState=3;tools.reset();paging.status=3;  paging.page=1; tools.getProducts();">
                <uib-tab-heading>审核通过</uib-tab-heading>
            </uib-tab>
            <uib-tab index="3" ng-click="vm.currentState=-1;tools.reset();paging.status=-1; paging.page=1; tools.getProducts();">
                <uib-tab-heading>审核不通过</uib-tab-heading>
            </uib-tab>
            <uib-tab index="4" ng-click="vm.currentState=-3;tools.reset();paging.status=-3; paging.page=1; tools.getProducts();">
                <uib-tab-heading>回收站</uib-tab-heading>
            </uib-tab>
            <uib-tab index="5" ng-click="vm.currentState=5;tools.reset();paging.status=5; paging.page=1; tools.getProducts();">
                <uib-tab-heading>采集库</uib-tab-heading>
            </uib-tab>
        </uib-tabset>
        <div class="search-content form-group-main clearfix">
            <div class="form-group fl">
                <label for="">主营行业</label>
                <select ngc-select-search class="select-oms" ng-model="paging.indusId" ng-change="tools.getIndustry();" ng-options="obj.indusId as obj.indusName for obj in vm.industryList" name="indusId">
                    <option value="">主营行业</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">一级类目</label>
                <select class="select-oms" ng-model="paging.categoryId" ng-options="obj.category1Id as obj.categoryName for obj in vm.categoryList">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl" ng-show="vm.currentState==null||vm.currentState==3">
                <label for="">产品状态</label>
                <select class="select-oms" ng-model="vm.productStatus" ng-change="tools.getProductsByStatus(vm.productStatus);">
                    <option value="">请选择</option>
                    <option value="1" ng-show="vm.currentState==3">橱窗商品</option>
                    <option value="2" ng-show="vm.currentState==null">待审核</option>
                    <option value="7" ng-show="vm.currentState==null">审核通过</option>
                    <option value="3" ng-show="vm.currentState==null">审核不通过</option>
                    <option value="4" ng-show="vm.currentState==3">上架</option>
                    <option value="5" ng-show="vm.currentState==3">下架</option>
                    <option value="6" ng-show="vm.currentState==null">删除</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">会员类型</label>
                <select class="select-oms" ng-model="paging.supplierType" ng-change="tools.getProducts();">
                    <option value="">会员类型</option>
                    <option value="0">免费会员</option>
                    <option value="1">付费会员</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">套餐类型</label>
                <select ngc-select-search class="select-oms" name="activeNote" id="activeNote" ng-options="ob.packageId as ob.packageName for ob in vm.packageList" ng-model="paging.packageId" ng-change="tools.getProducts()">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group fl">
                <label for="">供应商</label>
                <div class="oms-search">
                    <select ng-model="tools.type" ng-options="obj.type as obj.name for obj in vm.searchtypes">
                        <option value="">搜索类型</option>
                    </select> <em></em>
                    <input ngc-auto-input type="text" ngc-monitor-enter name="search" ng-model="tools.searchValue"> </div>
            </div>
            <div class="form-group fl">
                <label for="">产品名称</label>
                <input ngc-auto-input type="text" ngc-monitor-enter class="input-cfec" placeholder="产品名称" ng-model="paging.productName"> </div>
            <div class="form-group fl pd-c">
                <label for="">参展商</label>
                <div>
                    <input type="checkbox" ng-model="paging.isCorpId" ng-change="tools.getProducts();">
                    <span class="product-cfec"> </span>
                    <p>是否是广交会参展商</p>
                </div>
            </div>
            <div class="form-group fl pd-c">
                <label for="">敏感词</label>
                <div>
                    <input type="checkbox" ng-model="paging.isSensitiveWord" ng-change="tools.getProducts();">
                    <span class="iconfont product-sen">&#xe60e;</span>
                    <p>敏感词商品</p>
                </div>
            </div>
            <div class="form-group btns-group clear">
                <button class="btn btn-cfec-red" ng-click="tools.search();">查&nbsp询</button>
                <button class="btn btn-cfec-white" ng-click="tools.reset();">重&nbsp置</button>
            </div>
        </div>
        <div class="list-content table-cfec table-cfec-theme2">
            <table class="table table-hover ">
                <colgroup>
                    <col width="2%" ng-if="vm.currentState!=null" />
                    <col width="24%" />
                    <col width="18%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="16%" />
                </colgroup>
                <thead>
                    <tr ng-if="vm.showOperateFlag==false">
                        <th class="checkboxRow" ng-if="vm.currentState!=null">
                            <input type="checkbox" value="" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)" />
                        </th>
                        <th class="oms-productName-th">产品名称</th>
                        <th class="oms-sellerName-th">供应商信息</th>
                        <th class="ta-c">会员类型</th>
                        <th>产品分类</th>
                        <th class="ta-c">产品状态</th>
                        <th>更新日期</th>
                        <th class="ta-r">操作</th>
                    </tr>
                    <tr ng-if="vm.showOperateFlag==true">
                        <th class="checkboxRow" ng-if="vm.currentState!=null">
                            <input type="checkbox" value="" ng-model="vm.allChecked" ng-change="tools.checkAll(vm.allChecked)" />
                        </th>
                        <th colspan="7">
                            <div class="btn-toolbar">
                                <button ngc-permission="goods_goodslist_audit" type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus(3,'')" ng-hide="paging.status==3">审核通过</button>
                                <button ngc-permission="goods_goodslist_audit" type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus(-1,'')" ng-hide="paging.status==-1">审核不通过</button>
                                <button ngc-permission="goods_goodslist_updown" type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus('3',1)" ng-show="paging.status==3">上架</button>
                                <button ngc-permission="goods_goodslist_updown" type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus('3',-1)" ng-show="paging.status==3">下架</button>
                                <button ngc-permission="goods_goodslist_del" type="button" class="btn btn-default btn-cfec-white btn-cfec-sm" ng-click="tools.chgAuditStatus(-3,'')" ng-hide="paging.status==-3">删除</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="vm.items.length>0">
                    <tr ng-repeat='item in vm.items'>
                        <td ng-if="vm.currentState!=null">
                            <input type="checkbox" value="" ng-model="item.$checked" ng-change="tools.selection()" />
                        </td>
                        <td class="oms-productName clearfix">
                            <span class="iconfont" ng-if="item.sensitiveWord!=null">&#xe60e;</span>
                            <img ng-src="{{item.imgs | setImgSize:60:60}}">
                            <a class="" href="#/goods/barginDetail?productId={{item.productId}}&sellerId={{item.sellerId}}" title="{{item.name}}" target="_blank">{{item.name}}</a>
                        </td>
                        <td class="oms-sellerName clearfix">
                            <a href="/#/seller/detail?sellerId={{item.sellerId}}" target="_blank">
                                <p>
                                    <span ng-class="{'pro-cfec-icon': item.corpId!=null&&item.corpId!=''}"> </span> {{item.companyName}}
                                </p>
                            </a>
                            <div>{{item.username}}</div>
                        </td>
                        <td class="ta-c">
                            <p ng-if="item.supplierType==1">付费</p>
                            <p ng-if="item.supplierType!=1">免费</p>
                        </td>
                        <td>{{item.categoryName }}</td>
                        <td class="ta-c">{{ item.status |setProductStatus:item.status:item.isOnline:item.isNormalProduct}}</td>
                        <td>
                            <p>{{item.updateTime | date:'yyyy-MM-dd' }}</p>
                            <p>{{item.updateTime | date:'HH:mm:ss' }}</p>
                        </td>
                        <td class="product-op clearfix">
                            <!-- auditStatus=｛待审核:2 审核通过:3 审核不通过：-1 回收站：-3｝ isOnline = auditStatus：3 & { 上架：1 下架：-1 }-->
                            <div class="clearfix">
                                <a ngc-permission="goods_goodslist_audit" class="link" href="javascript:void(0)" ng-click="tools.chgOneStatus(3,item.productId)" ng-hide="item.status==3">通过</a>
                                <a ngc-permission="goods_goodslist_audit" class="link" href="javascript:void(0)" ng-click="tools.chgOneStatus(-1,item.productId)" ng-hide="item.status==-1">不通过</a>
                                <a ngc-permission="goods_goodslist_updown" class="link" href="javascript:void(0)" ng-click="tools.chgOneStatus(3,item.productId,1)" ng-show="item.status==3&&item.isOnline==-1">上架</a>
                                <a ngc-permission="goods_goodslist_updown" class="link" href="javascript:void(0)" ng-click="tools.chgOneStatus(3,item.productId,-1)" ng-show="item.status==3&&item.isOnline==1">下架</a>
                                <a ngc-permission="goods_goodslist_del" class="link" href="javascript:void(0)" ng-click="tools.chgOneStatus(-3,item.productId)" ng-hide="item.status==-3">删除</a>
                            
                                <a ngc-permission="goods_goodslist_detail" class="link" target="_blank" href="/#/goods/barginDetail?productId={{item.productId}}&sellerId={{item.sellerId}}">详情</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="vm.items==undefined||vm.items.length==0" class="ng-scope">
                    <tr>
                        <td colspan="{{vm.currentState==null?7:8}}">
                            <p class="noResult-Text pt100 pb100 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middivs clearfix" ng-include="paginationTemplate"> </div>
    </div>
</div>
<!-- 审核不通过确定对话框[[ -->
<script type="text/ng-template" id="makesure.html">
    <div class="sellerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c"> <i class="iconfont icon-xunwenoms"></i> 确定审核不通过吗？
            </p>
            <form class="form" name="forms.unPassFrom" role="form" novalidate="novalidate">
                <div class="row" style="margin-top: 20px;">
                    <label class="col-md-3 text-right">
                        <span class="notnull">*</span> 原因
                    </label>
                    <div class="col-md-9">
                        <select class="ipt" name="unPassTypeCn" ng-model="confirm.unPassTypeCn" ng-options="ob.cnName as ob.cnName for ob in items" ng-required="true">
                            <option value="">--请选择--</option>
                        </select>
                        <span class="error-valid" ng-show="forms.unPassFrom.$submitted && forms.unPassFrom.unPassTypeCn.$invalid">请选择原因</span>
                    </div>
                </div>
                <div class="row pt-10 mt-10">
                    <div class="col-md-3 text-right">备注</div>
                    <div class="col-md-9">
                        <textarea name="reasonCn" style="width: 282px" rows="3" ng-model="confirm.reasonCn" ng-maxlength="200"> </textarea>
                        <span class="error-valid" ng-show="forms.unPassFrom.$submitted && forms.unPassFrom.reasonCn.$invalid">最多200个字符</span>
                    </div>
                </div>
            </form>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="submit()" ng-disabled="tools.btnFlag">确定</button>
                <button class="btn btn-cfec-white" ng-click="close()">取消</button>
            </div>
        </div>
    </div>
</script>
<!-- 审核不通过确定对话框]] -->
<!-- 审核通过确定对话框[[ -->
<script type="text/ng-template" id="confirm.html">
    <div class="sellerListDlg">
        <div class="dlg-title">提示</div>
        <div class="dlg-content form">
            <p class="ta-c"><i class="iconfont icon-xunwenoms"></i>{{message}}</p>
            <div class="form-group pt20 mb0" ng-if="vm.changestatus==-1">
                <textarea name="" class="form-control reasonInput" rows="4" ng-model="vm.reason"></textarea>
            </div>
            <div class="btn-toolbar clearfix">
                <button class="btn btn-cfec-red" ng-click="submit()" ng-disabled="tools.btnFlag">确定</button>
                <button class="btn btn-cfec-white" ng-click="close()">取消</button>
            </div>
        </div>
    </div>
</script>
<!-- 审核通过确定对话框]] -->
