<div class="oms-crumbs"> <i>新增采购商记录</i>
    <p>
        <a href="/#/buyer">采购商管理</a> /
        <span>新增采购商记录</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-detail add-label-record-warp">
        <form id="addform" name="forms.addform" class="form-group-main" role="form" novalidate="novalidate">
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 采购商：
                </label>
                <div class="col-sm-10">
                    <p class="ad-product-link mr5 w350" ng-if="paging.buyerId!=null">{{vm.buyerId}}&nbsp;&nbsp;&nbsp;&nbsp;{{vm.firstName}}</p>
                    <input type="hidden" class="input-cfec" placeholder="" ng-model="paging.buyerId" name="buyerId" disabled>
                    <button class="btn btn-cfec-white mr10" style="width: 195px" type="button" ng-if="paging.buyerId==null" ng-click="tools.selectBuyer();">请选择采购商</button>
                    <a href="javascript:void(0)" class="mr10 link" ng-if="paging.buyerId!=null" ng-click="tools.selectBuyer();">重选</a>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 邮箱：
                </label>
                <div class="col-sm-10 clearfix">
                    <input type="text" name="" id="inputEmail" class="input-cfec mr20 fl w350" ng-model="vm.email" ng-disabled="true">
                    <div class="checkbox fl mb0" ng-if="vm.emailValidation==0">
                        <label>
                            <input type="checkbox" value="" ng-model="paging.emailValidation" ng-true-value="2">
                            人工验证
                        </label>
                    </div>
                    <div class="checkbox fl mb0" ng-if="vm.emailValidation&&vm.emailValidation!=0">
                        <label>
                            <!-- {{vm.emailValidation | validationFilter}} -->
                            已验证
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span> 手机：
                </label>
                <div class="col-sm-10 clearfix">
                    <input type="text" name="" id="inputMobile" class="input-cfec mr20 fl w350" ng-model="vm.mobile" ng-disabled="true">
                    <div class="checkbox fl mb0" ng-if="vm.mobile&&vm.mobileValidation==0">
                        <label>
                            <input type="checkbox" value="" ng-model="paging.mobileValidation" ng-true-value="2">
                            人工验证
                        </label>
                    </div>
                    <div class="checkbox fl mb0" ng-if="vm.mobile&&vm.mobileValidation&&vm.mobileValidation!=0">
                        <label>
                            <!-- {{vm.mobileValidation | validationFilter}} -->
                            已验证
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span>访厂记录：
                </label>
                <div class="col-sm-10 visitList">
                    <div class="recordItem clearfix" ng-repeat="item in vm.visitRecord">
                        <input ngc-lay-date readonly type="text" class="laydate-icon fl mr10" ng-model="item.dealTime" id="visitTime{{$index}}" ng-required placeholder="访厂日期" />
                        <input type="text" name="" class="input-cfec fl w350 mr10" ng-model="item.visitFactoryName" placeholder="拜访的工厂名称">
                        <a href="javascript:void(0)" class="delBtn fl" ng-click="tools.delRecord('visitRecord',$index)" ng-if="vm.visitRecord.length>1"><i class="iconfont">&#xe65f;</i></a>
                    </div>
                    <a href="javascript:void(0)" title="添加访厂记录" class="addBtn" ng-click="tools.addRecord('visitRecord')"><i class="iconfont">&#xe667;</i></a>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row line">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                    <span>*</span>成交记录：
                </label>
                <div class="col-sm-10 dealList">
                    <div class="recordItem clearfix mb15" ng-repeat="item in vm.dealRecord">
                        <input ngc-lay-date readonly type="text" class="laydate-icon fl mr10" ng-model="item.dealTime" id="dealTime{{$index}}" ng-required placeholder="成交日期" />
                        <span class="fl lh30 mr10">US $</span>
                        <input type="number" name="" class="input-cfec fl w100 mr10" ng-model="item.dealAmount" placeholder="金额">
                        <input type="text" name="" class="input-cfec fl w350 mr10" ng-model="item.sellerName" placeholder="供应商公司名称">
                        <a href="javascript:void(0)" class="delBtn fl" ng-click="tools.delRecord('dealRecord',$index)" ng-if="vm.dealRecord.length>1"><i class="iconfont">&#xe65f;</i></a>
                    </div>
                    <a href="javascript:void(0)" title="添加成交记录" class="addBtn" ng-click="tools.addRecord('dealRecord')"><i class="iconfont">&#xe667;</i></a>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">
                </label>
                <div class="col-sm-10">
                    <button ngc-permission="buyer_buyerlist_update" type="button" ng-disabled="btnFlag" class="btn btn-cfec-red mr20" ng-click="tools.saveLabelRecord()">保存</button>
                    <a href="/#/buyer" class="btn btn-cfec-white">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--选择采购商-->
<script type="text/ng-template" id="addBuyer.html">
    <div class="dlg-title">添加采购商</div>
    <div class="panel-container">
        <div class="form-group clearfix">
            <div class="oms-search fl">
                <select name="" id="" ng-model="toolsdlg.searchType" ng-options="obj.value as obj.key for obj in vm.popSearchTypeArray">
                    <option value="">搜索类型</option>
                </select> <em></em>
                <input type="text" name="" id="" ng-model="toolsdlg.searchTypeValue" />
            </div>
            <button class="btn btn-cfec-red fl" ng-click="toolsdlg.search();">查&nbsp;询</button>
        </div>
        <div class="list-content table-cfec">
            <table class="table table-hover ">
                <colgroup>
                    <col width="40%">
                    <col width="40%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>邮箱</th>
                        <th class="ta-c">操作</th>
                    </tr>
                </thead>
                <tbody ng-if="vmdlg.total > 0">
                    <tr ng-repeat="item in vmdlg.data.items">
                        <td>
                            {{item.firstName}}
                        </td>
                        <td>
                            {{item.email}}
                        </td>
                        <td class="ta-c">
                            <button class="btn btn-cfec-red" ng-click="toolsdlg.selected(item)">选择</button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="ng-scope" ng-if="vmdlg.total < 1">
                    <tr>
                        <td colspan="2">
                            <p class="noResult-Text pt20 pb20 ta-c"><i class="iconfont icon-jingshioms"></i> 没有符合条件的操作记录</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 分页组件[[ -->
        <div class="row-page clearfix">
            <select class="item" ng-model="pagingdlg.pageSize" ng-options="obj.pageSize as obj.pagename for obj in vm.pages" ng-change="toolsdlg.getnewpage(0)"></select>
            <uib-pagination boundary-links="true" total-items="pagingdlg.total" ng-model="pagingdlg.page" items-per-page="pagingdlg.pageSize" class="page-list-style item" ng-change="toolsdlg.getnewpage()" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            <label class="item">共<big>{{pagingdlg.total}}</big>条</label>
            <label class="item">转到第</label>
            <input class="ngc-jumppage" type="number" class="item" ng-model="toolsdlg.newpagesize">
            <label class="item">页</label>
            <button class="j-jump item" ng-click="toolsdlg.getnewpage(1);">GO</button>
        </div>
        <!-- 分页组件[[ -->
    </div>
</script>