<div class="main-login">
	<div class="main-left">
		<img src="./view/images/loginPage.png"></div>
	<div class="main-right">

		<div class="login-div">
			<div class="enter-div">
				<label for="">帐号：</label>
				<input type="text" ng-model="username"></div>
			<div class="enter-div">
				<label for="">密码：</label>
				<input type="password" class="j-login" ng-model="password"></div>
			<div class="enter-div">
				<button type="button"  ng-click="checklogin();">登录</button>
			</div>
		</div>

	</div>
</div>