<div class="top-help clearfix ">
    <form class="help-form-class ng-pristine ng-valid">
        <p class="p-help-style">
            品牌管理 &gt; 品牌库管理 &gt; 品牌列表
        </p>
    </form>
</div>


<div class="content brand">
    <div class="head clearfix">
        <div class="pull-left">
            <button class="btn-opr">添加品牌</button>
        </div>
        <div class="pull-right ">
            <label>品牌中文名</label>
            <input ngc-auto-input type="text" class="searchTxt" ng-model="paging.companyName">
            <label>品牌英文名</label>
            <input ngc-auto-input type="text" class="searchTxt" ng-model="paging.companyName">
            <input type="button" class="btn-opr" value="搜索" ng-click="vm.searchMsg()">
        </div>
    </div>
    <div class="tabTable">

        <div>
            <table>
                <thead>
                <tr>
                    <td>品牌中文名称</td>
                    <td>品牌英文名称</td>
                    <td>Logo</td>
                    <td>所属分类</td>
                    <td>品牌拥有者</td>
                    <td>创建人</td>
                    <td>创建时间</td>
                    <td>修改人</td>
                    <td>修改时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>三星</td>
                    <td>品牌英文名称</td>
                    <td>Logo</td>
                    <td>所属分类</td>
                    <td>品牌拥有者</td>
                    <td>创建人</td>
                    <td>创建时间</td>
                    <td>修改人</td>
                    <td>修改时间</td>
                    <td><a href="javascript:;">修改</a> &nbsp;<a href="javascript:;">删除</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>