<div class="brand" style="height: 400px;">
    <!-- 弹出框标题 -->
    <div class="con dlog-title">{{vm.title}}</div>

    <!-- 表单内容 -->
    <form class="form-horizontal">
        <div class="form-group">
            <lable class="col-sm-4 control-label">父级品牌分类名称</lable>

            <div class="col-sm-7">
                <select class="form-control" name="belongClass">
                    <option value="">请选择分类</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <lable class="inportant col-sm-4 control-label">品牌分类名称</lable>
            <div class="col-sm-7">
                <input class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <lable class="inportant col-sm-4 control-label">序列号</lable>
            <div class="col-sm-7">
                <input class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <lable class="inportant col-sm-4 control-label">备注</lable>
            <div class="col-sm-7">
                <textarea class="form-control" rows="4"/>
            </div>
        </div>

        <div class="form-group text-center">
            <button class="btn btn-warning" type="button" ng-click="tools.save()">保存</button>
            <button class="btn btn-default" type="button" ng-click="tools.cancel()">取消</button>
        </div>
    </form>
</div>