<div class="oms-menu">
    <ul>
        <li ng-repeat="menu in $root.leftMenu" ui-sref-active="active" ng-if="menu.moduleName!='其他'">
            <a ui-sref="{{menu.url}}">
                <div class="clearfix" ng-click="menuAction($event);">
                    <span class="iconfont {{menu.moduleId | menuIcon }}"> </span>
                    <p>{{ menu.moduleName }}</p> <i class="iconfont icon-arrow-bottom"></i>
                </div>
            </a>
            <ol>
                <li ng-repeat="nav in menu.functionList" ui-sref-active="active">
                    <a ui-sref="{{ nav.functionUrl}}" ui-sref-opts="{reload:true}">
                        <span> </span>
                        <p>{{ nav.functionName }}</p>
                    </a>
                </li>
            </ol>
        </li>
    </ul>
</div>
<div class="oms-menu-less">
    <ul>
        <li ng-repeat="menu in $root.leftMenu" ui-sref-active="active" title="{{menu.moduleName}}">
            <a ui-sref="{{menu.url}}">
                <div> <i class="iconfont {{menu.moduleId | menuIcon }}"></i>
                </div>
            </a>
            <ol>
                <li ng-repeat="nav in menu.functionList" ui-sref-active="active">
                    <a ui-sref="{{  nav.functionUrl}}">
                        {{ nav.functionName }}
                    </a>
                </li>
            </ol>
        </li>
    </ul>
</div>
