<style type="text/css">
.form-group-main .formgroup-cfec-inline table label {
    float: none;
}

.form-group-main .form-group .opr_block .checkbox label {
    color: #999!important;
}

.form-group-main .form-group table .checkbox {
    margin: 0;
    padding-top: 0;
}

.function_block {
    float: left;
    width: 50%;
    border: 1px solid #fcfcfc;
}
</style>
<div class="oms-crumbs"> <i>{{vm.title}}</i>
    <p>
        <a href="">系统管理</a> /
        <a href="">角色管理</a> /
        <span>{{vm.title}}</span>
    </p>
</div>
<div class="oms-container">
    <div class="oms-content oms-detail">
        <form class="form-group-main" name="addForm" role="form" novalidate="novalidate" ng-submit="tools.saveRole()">
            <div class="form-group formgroup-cfec-inline row">
                <label for="roleName" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"><span>*</span>角色名称</label>
                <div class="col-sm-5">
                    <input ngc-auto-input type="text" id="roleName" name="roleName" placeholder="请输入角色名称" required maxlength="50" ngc-remote="{url:'/oms/role/checkRoleName.cf',original:'{{vm.originalRoleName}}'}" ng-model="vm.item.roleName">
                    <span class="error-valid" ng-show="(addForm.$dirty||addForm.$submitted) && (addForm.roleName.$invalid.required || addForm.roleName.$invalid.maxlength)">
                    请输入50字以内的角色名称
                </span>
                    <span class="error-valid" ng-show="(addForm.$dirty||addForm.$submitted) && addForm.roleName.$error.ngcRemote">
                    角色名称不可重复
                </span>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l">角色描述</label>
                <div class="col-xs-7 col-sm-7 col-md-6 col-lg-5">
                    <textarea style="width:100%" rows="3" name="roleDesc" placeholder="请用一名话描述这个角色的职责" ng-model="vm.item.roleDetail" maxlength="250"></textarea>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-5">
                    <span class="error-valid" ng-show="(addForm.$dirty||addForm.$submitted) && addForm.roleDesc.$invalid">
                    最多250个字符
                </span>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"><span>*</span>是否可查看买家联系方式</label>
                <div class="col-sm-5 checkbox">
                    <label for="md_contact1" style="padding-left:0px;">
                        <input type="radio" id="md_contact1"  name="md_contact" value="1" ng-model="vm.item.isContact"  ng-change="tools.changeIsContact(1)" style="margin-right:20px;"> 是
                    </label>
                    <label for="md_contact2" style="padding-left:100px;">
                        <input type="radio" id="md_contact2"  name="md_contact" value="0" ng-model="vm.item.isContact"  ng-change="tools.changeIsContact(0)" style="margin-right:20px;"> 否
                    </label>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <label for="realName" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ta-l"><span>*</span>相关权限</label>
                <div class="col-xs-7 col-sm-7 col-md-6 col-lg-5">
                    <div class="table-cfec table-cfec-theme2">
                        <table class="table" ng-repeat="md in vm.modules">
                            <colgroup>
                                <col width="50%">
                                <col width="50%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <div class="checkbox">
                                            <label for="md_{{md.moduleId}}">
                                                <input type="checkbox" id="md_{{md.moduleId}}" ng-model="md._flag" ng-change="tools.moduleChkAll(md.moduleId)">{{md.moduleName}}
                                            </label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="function_block" ng-repeat="fc in md.functionList">
                                            <div class="checkbox">
                                                <label for="fc_{{fc.functionId}}">
                                                    <input type="checkbox" ng-model="fc._flag" id="fc_{{fc.functionId}}">{{fc.functionName}}</label>
                                            </div>
                                            <div class="pl-20 opr_block">
                                                <div class="checkbox" ng-repeat="op in fc.userOpear">
                                                    <label for="op_{{op.opearId}}" data-rcode="{{op.rcode}}">
                                                        <input type="checkbox" id="op_{{op.opearId}}" ng-model="op._flag">{{op.opearName}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group formgroup-cfec-inline row">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="btn btn-cfec-red" ng-disabled="addForm.$invalid">保存</button>
                    <button type="button" class="btn btn-cfec-white" ng-click="tools.back()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
